<template lang="pug">
v-container.d-flex.fill-height
  v-row.d-flex.justify-center.ma-6
    h1.display-5.text-center.font-weight-light SAT simulation
  v-row.d-flex.justify-center.ma-6( dark )
    span.display-4.text-center.font-weight-light Tests with calculator (section 4)
  v-row.d-flex
    v-col.d-flex.flex-wrap.justify-center
      v-lazy(
        v-model="isActive",
        v-if='calc.length !== 0'
        :options="{ threshold: .1 }",
        min-height="200",
        transition="slide-y-transition"
        v-for='(poll, index) in calc'
        :key='poll._id'
      )
        coreCard.ml-5.mb-5( :class='"card-poll-" + index' width='250' :color='index !== 0 && !authenticated ? "greу" : "green" ' :style="index === 0 && !authenticated ? 'height: 87%': ''")
          template( #heading )
            .display-1.font-weight-light {{ `Modified ` + poll.name }}
            .subtitle-1.font-weight-light {{ poll.type }}
            .subtitle-1.font-weight-light(  ) {{ index !== 0 && !authenticated ? 'Available for registered users only' : '' }}
          .d-flex.flex-column.justify-center.align-center( style='height: 180px' )
            v-btn.mx-5.my-3( v-if='isRootOrIsAdmin' outlined rounded color='deep purple accent-4' width='100px' @click='removePoll(poll)') Delete
            v-btn.mx-5.my-3( v-if='isRootOrIsAdmin' outlined rounded color='deep purple accent-4' width='100px' :to='urlPollEdit(poll)') Edit
            v-btn.mx-5.my-3(
              outlined
              rounded
              color='deep purple accent-4'
              width='100px'
              @click='index !== 0 && !authenticated ? alertToRegistation() : goUrlPollExec(poll)'
              style='text-transform: none; font-size: 1rem;'
            ) Start
            v-btn.mx-5.my-3(
              v-if='isHasPollInLS(poll)'
              outlined
              rounded
              color='deep purple accent-4'
              width='100px'
              @click='index !== 0 && !authenticated ? alertToRegistation() : goUrlPollContinue(poll)'
            ) Continue
      div( v-if='calc.length === 0' )
        span.display-3 Will be added soon
  v-row.d-flex.justify-center.ma-6( dark )
    span.display-4.text-center.font-weight-light Tests without calculator (section 3)
  v-row.d-flex
    v-col.d-flex.flex-wrap.justify-center
      v-lazy(
        v-model="isActive",
        :options="{ threshold: .1 }",
        min-height="200",
        transition="slide-y-transition"
        v-for='(poll, index) in noCalc'
        :key='poll._id'
      )
        coreCard.ml-5.mb-5( :class='"card-poll-" + index' width='250' :color='index !== 0 && !authenticated ? "grey" : "green"' :style="index === 0 && !authenticated ? 'height: 87%': ''")
          template( #heading )
            .display-1.font-weight-light {{ `Modified ` + poll.name }}
            .subtitle-1.font-weight-light(  ) {{ index !== 0 && !authenticated ? 'Available for registered users only' : '' }}
          .d-flex.flex-column.justify-center.align-center( style='height: 180px' )
            v-btn.mx-5.my-3( v-if='isRootOrIsAdmin' outlined rounded color='deep purple accent-4' width='100px' @click='removePoll(poll)') Delete
            v-btn.mx-5.my-3( v-if='isRootOrIsAdmin' outlined rounded color='deep purple accent-4' width='100px' :to='urlPollEdit(poll)') Edit
            v-btn.mx-5.my-3(
              outlined
              rounded
              color='deep purple accent-4'
              width='100px'
              @click='index !== 0 && !authenticated ? alertToRegistation() : goUrlPollExec(poll)'
              style='text-transform: none; font-size: 1rem;'
            ) Start
            v-btn.mx-5.my-3(
              v-if='isHasPollInLS(poll)'
              outlined
              rounded
              color='deep purple accent-4'
              width='100px'
              @click='index !== 0 && !authenticated ? alertToRegistation() : goUrlPollContinue(poll)'
            ) Continue
  v-row.d-flex.justify-center.ma-6( dark v-if='personal.length !== 0')
    span.display-4.text-center.font-weight-light Personal tests
  v-row.d-flex
    v-col.d-flex.flex-wrap.justify-center
      v-lazy(
        v-model="isActive",
        :options="{ threshold: .1 }",
        min-height="200",
        transition="slide-y-transition"
        v-for='(poll, index) in personal'
        :key='poll._id'
      )
        coreCard.ml-5.mb-5( width='250' :color='index !== 0 && !authenticated ? "grey" : "green"' :style="index === 0 && !authenticated ? 'height: 87%': ''" :class='"card-poll-" + index')
          template( #heading )
            .display-1.font-weight-light {{ poll.name }}
            .subtitle-1.font-weight-light(  ) {{ index !== 0 && !authenticated ? 'Available for registered users only' : '' }}
          .d-flex.flex-column.justify-center.align-center( style='height: 180px' )
            v-btn.mx-5.my-3( v-if='isRootOrIsAdmin' outlined rounded color='deep purple accent-4' width='100px' @click='removePoll(poll)') Delete
            v-btn.mx-5.my-3( v-if='isRootOrIsAdmin' outlined rounded color='deep purple accent-4' width='100px' :to='urlPollEdit(poll)') Edit
            v-btn.mx-5.my-3(
              outlined
              rounded
              color='deep purple accent-4'
              width='100px'
              @click='index !== 0 && !authenticated ? alertToRegistation() : goUrlPollExec(poll)'
              style='text-transform: none; font-size: 1rem;'
            ) Start
            v-btn.mx-5.my-3(
              v-if='isHasPollInLS(poll)'
              outlined
              rounded
              color='deep purple accent-4'
              width='100px'
              @click='index !== 0 && !authenticated ? alertToRegistation() : goUrlPollContinue(poll)'
            ) Continue
  v-row.d-flex.justify-center.ma-6( dark v-if='olympics.length !== 0')
    span.display-4.text-center.font-weight-light Math Olympiads
  v-row.d-flex
    v-col.d-flex.flex-wrap.justify-center
      v-lazy(
        v-model="isActive",
        :options="{ threshold: .1 }",
        min-height="200",
        transition="slide-y-transition"
        v-for='(poll, index) in olympics'
        :key='poll._id'
      )
        coreCard.ml-5.mb-5( width='250' :color='index !== 0 && !authenticated ? "grey" : "green"' :style="index === 0 && !authenticated ? 'height: 87%': ''" :class='"card-poll-" + index')
          template( #heading )
            .display-1.font-weight-light {{ `Modified ` + poll.name }}
            .subtitle-1.font-weight-light(  ) {{ index !== 0 && !authenticated ? 'Available for registered users only' : '' }}
          .d-flex.flex-column.justify-center.align-center( style='height: 180px' )
            v-btn.mx-5.my-3( v-if='isRootOrIsAdmin' outlined rounded color='deep purple accent-4' width='100px' @click='removePoll(poll)') Delete
            v-btn.mx-5.my-3( v-if='isRootOrIsAdmin' outlined rounded color='deep purple accent-4' width='100px' :to='urlPollEdit(poll)') Edit
            v-btn.mx-5.my-3(
              outlined
              rounded
              color='deep purple accent-4'
              width='100px'
              @click='index !== 0 && !authenticated ? alertToRegistation() : goUrlPollExec(poll)'
              style='text-transform: none; font-size: 1rem;'
            ) Start
            v-btn.mx-5.my-3(
              v-if='isHasPollInLS(poll)'
              outlined
              rounded
              color='deep purple accent-4'
              width='100px'
              @click='index !== 0 && !authenticated ? alertToRegistation() : goUrlPollContinue(poll)'
            ) Continue
  registrationModal( v-if='!authenticated' :status='saveTestDialog' @changeStatus='closeDialog')
</template>

<script lang='ts'>
import { Component, Vue } from 'vue-property-decorator'

import { Polls } from '../../interfaces/interfacePolls'

import { pollsStore, auth } from '~/store'

import registrationModal from '~/components/core/registrationModal.vue'
import coreCard from '~/components/core/coreCard.vue'

@Component({
  transition: 'page',
  components: {
    coreCard,
    registrationModal
  },
  beforeMount () {
    pollsStore.init()
  }
})
export default class Polls_Id extends Vue {
  isActive: Boolean = false
  saveTestDialog: boolean = false

  isHasPollInLS (poll) {
    if(!this.$nuxt.$isServer) {
      let LSPolls = localStorage.getItem('polls')
      if(LSPolls !== null) {
        LSPolls = JSON.parse(LSPolls)
        return LSPolls[poll._id] !== undefined && !LSPolls[poll._id].complete ? true : false
      } else 
        return false
    }
  }

  get personal () {
    return pollsStore.personal
  }

  get olympics () {
    return pollsStore.olympics
  }

  get noCalc () {
    return pollsStore.noCalc
  }

  get calc () {
    return pollsStore.calc
  }

  get authenticated () {
    return auth.isAuthenticated
  }

  get isRootOrIsAdmin () {
    return auth.isRoot || auth.isAdmin
  }

  closeDialog () {
    this.saveTestDialog = false
  }

  goUrlPollExec (poll: Polls): void {
    let LSPolls = localStorage.getItem('polls')
    if(LSPolls !== null) {
      LSPolls = JSON.parse(LSPolls)
      if(LSPolls[poll._id] !== undefined) {
        delete LSPolls[poll._id]
        localStorage.setItem('polls', JSON.stringify(LSPolls))
      }
    } 
    window.location.replace(`/tests/${poll._id}/exec`)
    // this.$router.push(`/tests/${poll._id}/exec`)
  }

  goUrlPollContinue (poll: Polls): void {
    window.location.replace(`/tests/${poll._id}/exec`)
    // this.$router.push(`/tests/${poll._id}/exec`)
  }

  urlPollEdit (poll: Polls): string {
    return `/tests/${poll._id}/edit`
  }

  alertToRegistation () {
     this.saveTestDialog = true
  }

  removePoll (poll: Polls): void {
    if (confirm('Вы уверены, что хотите удалить опрос?')) {
      pollsStore.remove(poll._id)
    }
  }
}

</script>

<style lang="sass">
  body
    overflow: hidden

  ::-webkit-scrollbar
    width: 0

  %card-poll
    transition: background-color 1s
    -webkit-animation-duration: 0.4s
    animation-duration: 0.3s
    -webkit-animation-fill-mode: both
    animation-fill-mode: both
    -webkit-animation-name: fadeInRightBig
    animation-name: fadeInRightBig

    &:hover
      background-color: #f66f8d

  $delay: 0.3s
  @for $i from 0 through 15
    .card-poll-#{$i}
      @extend %card-poll
      -webkit-animation-delay: $i*$delay
      animation-delay: $i*$delay


  @keyframes fadeInRightBig
    0%
      opacity: 0
      transform: translateX(1000px)
    100%
      opacity: 1
      transform: translateX(0)
</style>
