<template lang='pug'>
client-only
  .d-flex.justify-center.mt-10
    .d-flex.flex-column( style='width: 650px' )
      .d-flex
        .d-flex.align-center
          v-icon.mr-2( color='black' ) mdi-calculator
          span.display-1.font-weight-light QUESTION {{ step + 1 }} OF {{ poll.sorted.length }}
        v-spacer
        .d-flex.align-center
          v-icon.mr-2( small ) mdi-cloud-question
          span.subtitle-2 Report
        .d-flex.align-center.ml-2
          v-tooltip( top v-if='!isBookmark' )
            template( #activator="{ on, attrs }" )
              v-icon( style='font-size:32px' @click="addToBookmark()" :ripple='false' v-bind="attrs" v-on="on" ) mdi-bookmark-outline
            span Add this Question to bookmark
          v-tooltip( top v-else )
            template( #activator="{ on, attrs }" )
              v-icon( style='font-size:32px' @click="deleteFromBookmark()" :ripple='false' v-bind="attrs" v-on="on" ) mdi-bookmark
            span Remove this Question from bookmarks
      v-divider.mt-2
      client-only
        radioHop(
          :hop='currentHop'
          :step='step'
          :key='step'
          @changed='registerChoise'
          :readonly="false"
          :choisedPrevious='getPreviousValue(currentHop)'
        )
    .nav-footer
      div.nav-footer__actions
        div.fill-height( style='max-width:300px; align-self: center;' )
          v-slide-group.fill-height(
            v-model="step"
            center-active
            mandatory
            show-arrows
          )
            v-slide-item(
              v-for="(hop, index) in poll.sorted"
              :key="index"
              #default="{ active, toggle }"
            )
              div( style='position: relative;' )
                span.progress-box-caret( v-if='active' )
                v-card.ma-0.my-1.mr-1.text-center(
                  :color="active || getPreviousValue(hop) ? 'primary' : 'blue-grey lighten-5'"
                  width="22"
                  height="22"
                  @click="toggle"
                )
                  span( :class=' active || getPreviousValue(hop) ? "white--text" : "white-text" ' ) {{ index + 1 }}
        v-menu( top offset-y v-if='bookmarks.length !== 0' )
          template( #activator="{ on, attrs }" )
            v-btn( style='color:#0084ce' text v-bind="attrs" v-on="on" ) Bookmarks
          v-list
            v-list-item( v-if='bookmarks.length !== 0' v-for='(bookmark, index) in bookmarks' dense @click="step = bookmark.step" :key='index' )
              v-list-item-title {{ 'Qustion ' + (bookmark.step + 1) }}
            v-list-item( v-else dense :key='index' )
              v-list-item-title No bookmarked questions.
        v-spacer
        v-btn.ma-0.mr-2.btn-prev( @click="previousHop()" :ripple='false' text v-if='currentHop !== poll.sorted[0]' ) Previous Question
        v-btn.ma-0.btn-next(
          v-if='currentHop !== poll.sorted[poll.sorted.length - 1]'
          color='#0084ce'
          @click="nextHop()"
          ) {{ choised ? 'Next Question' : 'Skip Question' }}
        v-btn.ma-0.btn-complete( v-if='fullAnswers' color='#0084ce' @click="apply('complete')" ) Complete the test

    v-snackbar( v-model="snackbar" shaped right :timeout='2300' ) {{ snackBarText }}

</template>

<script lang='ts'>
import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
import { resultPollStore, resultsStore } from '~/store'
import { PollFull, Sorted, ResultPoll } from '~/interfaces/interfaceStore'
import { findLast } from 'lodash'
import radioHop from '~/components/hops/Classic/radio2.vue'
import { Hop } from '~/interfaces/interfaceHops'
import { RegisterChoise, Results, RegisterChoisePayload } from '~/interfaces/interfacePoll'

@Component({
  name: 'pollClassic',
  components: {
    radioHop
  }
})
export default class PollClassic extends Vue {
  @Prop({ required: true }) readonly previousResult!: ResultPoll

  @Watch('step')
  async changeStep(val: number, oldVal: number) {
    this.closeSnackbar()
    this.currentPollsFromLS[this.poll._id].step = this.step
    await this.$localForage.polls.setItem('pollsWithResults', this.currentPollsFromLS)
    if(!this.showStatistics)
      this.timerHop( oldVal )
  }

  currentPollsFromLS: any = {}
  bookmarks: any = []
  step: number = 0
  fullAnswers: boolean = false
  result: Results = {}
  choised: boolean = false
  snackbar: boolean = false
  startTime: number = 0
  startPauseTime: number = 0
  stopPauseTime: number = 0
  snackBarText: string = ''
  showStatistics = false
  timeToSolution: string = '00:00:00'
  timerInterval: any = ''
  isPause = false

  get poll (): PollFull {
    return resultPollStore.poll
  }

  get currentHop (): Sorted {
    return resultPollStore.poll.sorted[this.step]
  }

  get isBookmark () {
    return !!this.bookmarks.find((item: any) => item.step === this.step)
  }

  async beforeMount () {
    if ( await this.$localForage.polls.getItem('historyLS') === null ) {
      await this.$localForage.polls.setItem('historyLS', [])
    }
    const pollsWithResults = await this.$localForage.polls.getItem('pollsWithResults')
    if (pollsWithResults === null) {
      await this.$localForage.polls.setItem('pollsWithResults', {})
      this.addNewPollLS().finally(() => {
        this.init()
        this.timer()
      })
    } else {
      let results = pollsWithResults[this.poll._id]
      if (results !== undefined && results.complete === false) {
        this.currentPollsFromLS = pollsWithResults
        this.init()
        this.timer()
      } else {
        this.addNewPollLS().finally(() => {
          this.init()
          this.timer()
        })
      }
    }
  }

  init () {
    resultPollStore.poll.sorted.forEach((item: any) => {
      this.result[item._id.toLowerCase()] = { choised: item.choised, userValue: '', time: 0, wasShown: false }
    })
    this.startTime = Date.now()
    if ( this.currentPollsFromLS[this.poll._id].results !== undefined ) {
      this.result = this.currentPollsFromLS[this.poll._id].results

      this.step = this.currentPollsFromLS[this.poll._id].step
      let allTime = 0
      for ( let key in this.currentPollsFromLS[this.poll._id].results) {
        allTime += this.currentPollsFromLS[this.poll._id].results[key].time
      }

      this.setTimeToResolve(allTime)
    }
  }

  timer (): any {
    const parseTimeToSolution = this.timeToSolution.split(':')
    let hours: any = parseTimeToSolution[0]
    let minutes: any = parseTimeToSolution[1]
    let seconds: any = parseTimeToSolution[2]
    // let timeLeft = document.getElementById('time-spent')
    this.timerInterval = setInterval(() => {
      if(!this.isPause) {
        if(seconds < 59) {
          seconds++
        } else if (minutes < 59) {
          minutes++
          seconds = 0
        } else if (hours < 59) {
          hours++
          seconds = 0
          minutes = 0
        }
        if(hours.toString().length === 1) hours = '0' + hours
        if(minutes.toString().length === 1) minutes = '0' + minutes
        if(seconds.toString().length === 1) seconds = '0' + seconds
        this.timeToSolution = hours + ':' + minutes + ':' + seconds
      }
    }, 1000)
    return ;
  }

  async timerHop (oldStep: number) {
    this.snackbar = false
    // this.getCompleteProgress()
    const hopId = this.poll.sorted[oldStep]._id
    if(this.result[hopId] !== undefined) {
      let time = Date.now() - this.startTime + this.result[hopId].time - ( this.stopPauseTime - this.startPauseTime )
      this.result[hopId].time = time > 0 ? time : 0
      this.startTime = Date.now()
      this.stopPauseTime = 0
      this.startPauseTime = 0
      if(this.result[hopId].choised.length !== 0 && !this.result[hopId].wasShown) {
        let convertToNormalTime = this.$moment.duration(this.result[hopId].time, 'milliseconds')
        this.snackBarText = 'Question #' + (oldStep + 1).toString() + '' + ' was completed in ' +
          convertToNormalTime.minutes() + ' min ' + convertToNormalTime.seconds() + ' sec '
        this.result[hopId].wasShown = true
        this.snackbar = true
      }
    }
    this.currentPollsFromLS[this.poll._id].results[hopId] = this.result[hopId]
    await this.$localForage.polls.setItem('pollsWithResults', this.currentPollsFromLS)
  }

  async registerChoise (e: RegisterChoise) {
    this.result[e.id.toLowerCase()].choised = e.payload.choised
    this.result[e.id.toLowerCase()].userValue = e.payload.userValue
    let countAnsweredHops = 0
    for (const hopId in this.result) {
      this.result[hopId].choised.length !== 0 ? countAnsweredHops++ : ''
    }
    if (countAnsweredHops === this.poll.sorted.length)
      this.fullAnswers = true
    else
      this.fullAnswers = false
    this.choised = true

    this.currentPollsFromLS[this.poll._id].results = this.result
    await this.$localForage.polls.setItem( 'pollsWithResults', this.currentPollsFromLS )
  }

  setTimeToResolve (allTime: number) {
    let hours: string | number = Math.floor((allTime / 1000) / 60 / 60)
    let minutes: string | number = Math.floor((allTime / 1000) / 60) - (hours * 60)
    let sec: string | number = Math.floor((allTime / 1000)) % 60

    if(hours.toString().length === 1) hours = '0' + hours
    if(minutes.toString().length === 1) minutes = '0' + minutes
    if(sec.toString().length === 1) sec = '0' + sec
    this.timeToSolution = hours + ':' + minutes + ':' + sec
  }

  async addNewPollLS () {
    let historyLS = await this.$localForage.polls.getItem('historyLS')
    let pollsLS = await this.$localForage.polls.getItem('pollsWithResults')

    historyLS.push({ ...this.poll, complete: false, history_id: historyLS.length + 1, date: Date.now(), step: 0 })
    pollsLS[this.poll._id] = { results: {}, complete: false, history_id: historyLS.length, date: Date.now(), step: 0, bookmarks: [] }

    resultPollStore.poll.sorted.forEach((item: any) => {
      pollsLS[this.poll._id].results[item._id.toLowerCase()] = { choised: item.choised, userValue: '', time: 0, wasShown: false }
    })

    this.currentPollsFromLS = pollsLS

    await this.$localForage.polls.setItem('historyLS', historyLS)
    await this.$localForage.polls.setItem('pollsWithResults', pollsLS)
  }

  getPreviousValue (hop: Hop) {
    if(this.result[hop._id]) {
      return this.result[hop._id].choised[0]
    } else {
      return []
    }
  }

  async addToBookmark () {
    this.bookmarks.push({ step: this.step })
    this.currentPollsFromLS[this.poll._id].bookmarks = this.bookmarks
    await this.$localForage.polls.setItem( 'pollsWithResults', this.currentPollsFromLS )
  }

  async deleteFromBookmark () {
    let index = this.bookmarks.findIndex((item: any) => item.step === this.step)
    if( index !== -1 ) {
      this.bookmarks.splice(index, 1)
    }
    this.currentPollsFromLS[this.poll._id].bookmarks = this.bookmarks
    await this.$localForage.polls.setItem( 'pollsWithResults', this.currentPollsFromLS )
  }

  closeSnackbar () {
    this.snackbar = false
  }

  nextHop () {
    this.step++
    if (this.result[this.currentHop._id].choised.length !== 0) this.choised = true
    else this.choised = false
  }

  previousHop () {
    this.step--
    if (this.result[this.currentHop._id].choised.length !== 0) this.choised = true
    else this.choised = false
  }

  async apply (event: string) {
    this.timerHop( this.step )
    const answers: Array<Object> = []
    let fullAnwswers: boolean = true
    for (const hopId in this.result) {
      const answer: RegisterChoisePayload = this.result[hopId]
      const hop = this.poll.sorted.find(item => item._id === hopId)
      const options = answer.choised.map((optionId: Number | undefined) => {
        optionId === undefined ? fullAnwswers = false : false

        return {
          id: optionId
        }
      })

      answers.push({
        hop_id: hopId,
        options,
        time: this.result[hopId].time
      })
    }

    const dataResp = {
      poll_id: resultPollStore.poll._id,
      answers
    }

    let historyLS = await this.$localForage.polls.getItem('historyLS')
    let pollFromHistory = historyLS.find((item: any) => item.history_id === this.currentPollsFromLS[this.poll._id].history_id)

    console.warn(pollFromHistory, 'pollFromHistory');
    if(event === 'complete') {
      if( this.previousResult || !fullAnwswers ) {
        resultsStore.save({ dataResp, resultId: this.previousResult._id }).then(( res ) => {
          clearTimeout(this.timerInterval)
        })
      } else {
        resultsStore.save(dataResp).then(async ( res:any ) => {
          clearTimeout(this.timerInterval)
          this.currentPollsFromLS[this.poll._id].complete = true
          pollFromHistory.answers = dataResp.answers
          pollFromHistory.complete = true
          pollFromHistory.completed_at = this.$moment().format()
          await this.$localForage.polls.setItem('historyLS', historyLS)
          await this.$localForage.polls.setItem('pollsWithResults', this.currentPollsFromLS)
        })
      }
    }
  }

}
</script>

<style lang='sass'>

  .nav-footer
    position: fixed
    bottom: 0
    width: 100%
    height: 60px
    border-top: 1px solid #ddd
    padding: 0px
    background: white

    .btn

      &-next, &-prev, &-complete
        height: 36px !important
        text-transform: none
        font-size: .9rem

    .v-slide-group__wrapper
      align-items: center
      padding: 0 3px

    .progress-box-caret
      left: 50%
      position: absolute
      top: -15px

      &:before
        content: ''
        border-top-color: #ddd
        margin-left: -15px
        top: 100%
        left: 0
        height: 0
        width: 0
        border-color: #ddd transparent transparent transparent
        border-style: solid
        border-width: 13px
        position: absolute

    &__actions
      display: flex
      align-items: center
      max-width: 1000px
      width: 100%
      margin: 0 auto
      height: 100%
</style>
