<template lang="pug">
  v-row( v-if='rightInfo' )
    v-col( cols='12')
      drawing
      .text-center.mb-6( )
        span.headline {{poll.type === 'personal' ? poll.name : `Modified ` + poll.name }}
      .text-center.mb-6( )
        span.headline {{poll.type === 'SAT' ? `SAT Time Limit: 25 min` : `Official AMC 10 Time Limit: 75 min`}}
    v-col( cols='12' lg='7' )
      v-form( ref="poll" v-model="valid" lazy-validation :class="isPause ? 'pause' : 'nonpause'" style='z-index: 3')
        v-stepper.elevation-0( v-model='getStep' vertical )
          template(
            v-for='(hop, index) in display'
          )
            v-stepper-step(
              :key='`${hop._id}-step`'
              :step="index + 1"
              :complete='complete(result[hop._id])'
              @click="getStep = index + 1"
            )
              //- vue-mathjax( :formula='hop.content' :safe='false' )
              div( v-if='getStep !== index + 1' v-text='hop.content' v-katex:auto='{ delimiters: [ {left: "$$", right: "$$", display: true}, {left: "\\[", right: "\\]", display: true}, {left: "$", right: "$", display: false}, {left: "\\(", right: "\\)", display: false} ], trust: true}')
            v-stepper-content(
              :key='`${hop._id}-content`'
              :step="index + 1"
            )
              HopRadio(
                v-if='index + 1 === getStep'
                :hop='hop'
                @changed='registerChoise'
                :step='getStep'
                :choisedPrevious='getPreviousValue(hop)'
                :readonly="showStatistics"
              )
              div( v-if='index + 1 === getStep' ).ma-4.ml-12.d-flex.flex-wrap
                v-btn.ml-5( color='primary' v-if='!showStatistics' :disabled="getStep === 1" rounded @click="getStep--") Previous
                //- v-btn.ml-5( color='primary' v-if='showStatistics' rounded to="/lk/statistics") Aggregated statistics for all tests
                v-spacer
                //- v-btn.mr-4( color='#00abba' rounded dark @click="apply('finish', 'reg')" v-if='completeProgress === 100 && !authenticated') Compare with others
                v-btn.mr-4( color='#00abba' rounded dark @click="apply('save')" v-if='!fullAnswers' ) Save progress
                v-btn.mr-4(
                  color='#00abba'
                  :class="$vuetify.breakpoint.mdAndDown ? 'ml-5 mb-1' : ''"
                  rounded
                  dark
                  @click="apply('finish')"
                  v-if='fullAnswers && !showStatistics'
                ) Complete the test
                v-btn( color='primary' v-if='!showStatistics' :class="$vuetify.breakpoint.mdAndDown ? 'ml-5' : ''" :disabled="display.length === getStep" rounded @click="getStep++") Next
                v-btn( color='primary' v-else :class="$vuetify.breakpoint.mdAndDown ? 'ml-5' : ''" rounded @click="goToResult()" ) See solution
      .hidden-md-and-down.right-arrow( v-if="isPause" :class="isPause ? 'nonpause' : 'pause'" style="z-index: 9")
        v-img( :src='arrow' style='z-index: 20')
    v-overlay(
      :value="overlay"
      :opacity="0.69"
    )
    client-only
      v-col#right-info.right-info.hidden-md-and-down.text-center( cols='5' style="display: flex; justify-content: center" v-if='rightInfo')
        div.d-sticky
          .d-flex.flex-column( )
            .text-center.mb-5( style='' )
              .text-center
                v-icon.pr-3( x-large ) mdi-timer
                span#time-spent.headline Time spent: {{ timeToSolution }}

              v-btn.ma-0.my-5( color='info' v-if='completeProgress !== 100' rounded @click="pauseAndContinue" style="z-index: 20") {{ isPause ? 'Continue' : 'Pause time' }}
            .text-center.mb-6( style='' )
              p.headline {{completeProgress}}% Completed
              div
                doughnut-chart(
                  v-if='renderComponent'
                  :chart-data='chartData.data'
                  :options='chartData.options'
                  :height='180'
                  @clickOnDoughnut='goToSolutionWithStep'
                )
            v-divider.my-2
            .text-center(style='place-self: center;')
              //- div
                span.display-2 See statistics for this test, compare yourself with others:
              v-btn.my-5( rounded v-if='completeProgress > 1 && !showStatistics' @click="apply('statistics')" color='info' style='margin: auto;') Statistics
            .text-center(style='place-self: center; width: 100%;')
              v-btn.d-block.mb-5( rounded v-if='completeProgress !== 100 && !showStatistics && !authenticated' @click="saveTestDialog = true; apply('reg')" color='info' style='margin: auto;') Register to access more tests
              //- v-btn.d-block.mb-5( v-if='completeProgress === 100 && !showStatistics' rounded color='rgba(212, 45, 107, 1)' large style='height: 60px' @click="showStatistics = true") See result
              resultOnExec.nonpause.my-5( :result='result' @gotoreview='goToSoluition()' v-if="showStatistics" )
              span.subtitle-2( v-if="showStatistics" ) Click on graph to view full statistics
              place.nonpause.my-5( :result='result' v-if="showStatistics" )
            .text-center.mt-2(style='place-self: center;')
              v-btn.d-block.mb-5( rounded v-if='completeProgress === 100 && !showStatistics && !authenticated' @click="saveTestDialog = true; apply('reg')" color='info' style='margin: auto;') Register to access more tests
            .text-center.d-flex.flex-column
              v-btn.mb-5( rounded v-if='showStatistics' @click="TakeTheTestAgain()" color='info' style='margin: auto;') Take the test again
              v-btn.mb-5( rounded v-if='showStatistics && !authenticated' @click="saveTestDialog = true; apply('reg')" color='info' style='margin: auto;') Register to access more tests

      v-snackbar( v-model="snackbar" :timeout='2300' ) {{ snackBarText }}
        v-btn( color="blue" text @click="closeSnackbar()" ) Close
    registrationModal( :status='saveTestDialog' @changeStatus='closeDialog')

</template>

<script lang='ts'>

import { Component, Vue, Watch, Prop } from 'vue-property-decorator'
import { RegisterChoise, RegisterChoisePayload, Results } from '~/interfaces/interfacePoll'
import { Hop } from '~/interfaces/interfaceHops'

import registrationModal from '~/components/core/registrationModal.vue'
import drawing from '~/components/core/drawing.vue'
import HopRadio from '../hops/Classic/radioTS.vue'
import coreCard from '~/components/core/coreCard.vue'
import coreStatsCardBox from '~/components/core/coreStatsCardBox.vue'
import coreChartCard from '~/components/core/coreChartCard.vue'
import resultOnExec from './statistics/resultOnExec.vue'
import place from './statistics/place.vue'

import { resultsStore, resultPollStore, auth } from '~/store'
import { PollFull, ResultPoll } from '~/interfaces/interfaceStore'

interface TimeToResolve {
  hop_id: string
  time: number
  wasShown: boolean
}

@Component({
  components: {
    HopRadio,
    resultOnExec,
    drawing,
    place,
    registrationModal,
    coreCard,
    coreStatsCardBox,
    coreChartCard
  }
})
export default class pollClassic extends Vue {
  @Prop({ required: true }) readonly previousResult!: ResultPoll

  historyLS = []
  answersLS = {}
  pollFromLocalStorage = {}
  rightInfo = true
  arrow = require('~/assets/arrow_right.png')
  result: Results = {}
  valid: Boolean = true
  step: number = 1
  timeToSolution: string = '00:00:00'
  timeToResolve: Array<TimeToResolve> = []
  startTime: number = 0
  completeProgress: number = 0
  isPause: boolean = false
  startPauseTime: number = 0
  stopPauseTime: number = 0
  snackbar: boolean = false
  snackBarText: string = ''
  showStatistics: boolean = false
  overlay: boolean = false
  saveTestDialog: boolean = false
  timerInterval: any = ''
  renderComponent: boolean = true
  backroundColors: string[] = this.chartBackroundColors
  fullAnswers: boolean = false

  chartComplete = {
    data: {
      labels: this.chartlabels,
      datasets: [
         {
          backgroundColor: this.backroundColors,
          data: this.fillChartData,
          label: this.poll.name
        }
      ]
    },
    options: {
      responsive: true,
      tooltips: {
        position: 'average',
        callbacks: {
          width: '200px',
          title: (tooltipItem: any, data: any) => {
            let word = ''
            if(data.datasets[0].backgroundColor[tooltipItem[0].index] === "#4caf50")
              word = 'correct'
            if(data.datasets[0].backgroundColor[tooltipItem[0].index] === "#ff5252")
              word = 'incorrect'
            if(data.datasets[0].backgroundColor[tooltipItem[0].index] === "#d6d6d6")
              word = 'no answer'
            return data.labels[tooltipItem[0].index] + ' : ' + word
          },
          label: (tooltipItem: any, data: any) => {
            let label = tooltipItem.value || 0
            
            return data.datasets[tooltipItem.datasetIndex].label
          }
        }
      },
      legend: {
        display: false
      },
      elements: {
        arc: {
          borderWidth: 0
        },
        center: {
          text: '',
          color: '#4caf50', // Default is #000000
          fontStyle: 'Arial', // Default is Arial
          sidePadding: 20, // Default is 20 (as a percentage)
          minFontSize: 20, // Default is 20 (in px), set to false and text will not wrap.
          lineHeight: 25 // Default is 25 (in px), used for when text wraps
        }
      },
      animation: {
        duration: 0,
      },
    }
  }

  @Watch('step')
  changeStep(val: number, oldVal: number) {
    this.closeSnackbar()
    if(!this.showStatistics)
      this.timerHop( oldVal )
  }

  get fillChartData () {
    const res = this.display.map((hop, index) => 100 )
    return res
  }

  get chartBackroundColors () {
    const res = this.display.map((hop, index) => '#d6d6d6' )
    return res
  }

  get chartlabels () {
    const res = this.display.map((hop, index) => 'Question ' + (index + 1) )
    return res
  }

  get chartData () {
    return this.chartComplete
  }

  get poll (): PollFull {
    return resultPollStore.poll
  }

  get display (): Array<Hop> {
    return resultPollStore.poll.sorted
  }

  get authenticated () {
    return auth.isAuthenticated
  }

  get getStep () {
    return this.step
  }

  set getStep (val: number) {
    this.step = val
  }

  timer (): any {
    const parseTimeToSolution = this.timeToSolution.split(':')
    let hours: number | string = parseTimeToSolution[0]
    let minutes: number | string = parseTimeToSolution[1]
    let seconds: number | string = parseTimeToSolution[2]
    // let timeLeft = document.getElementById('time-spent')
    this.timerInterval = setInterval(() => {
      if(!this.isPause) {
        if(seconds < 59) {
          seconds++
        } else if (minutes < 59) {
          minutes++
          seconds = 0
        } else if (hours < 59) {
          hours++
          seconds = 0
          minutes = 0
        }
        if(hours.toString().length === 1) hours = '0' + hours
        if(minutes.toString().length === 1) minutes = '0' + minutes
        if(seconds.toString().length === 1) seconds = '0' + seconds
        this.timeToSolution = hours + ':' + minutes + ':' + seconds
      }
    }, 1000)
    return ;
  }

  beforeMount (): void {
    this.historyPollsLS()
    this.answerDataLS()
    this.init()
    this.timer()
  }

  mounted () {
    this.rightInfo = false
    this.$nextTick(() => {
      this.rightInfo = true
    })
  }

  historyPollsLS () {
    if(localStorage.getItem('historyLS') === null) {
      localStorage.setItem('historyLS', JSON.stringify(this.historyLS))
    } else
      this.historyLS = JSON.parse(localStorage.getItem('historyLS'))
  }

  answerDataLS () {
    if(localStorage.getItem('AnswerData') === null) {
      this.answersLS[this.poll._id] = {}
    } else {
      this.answersLS = JSON.parse(localStorage.getItem('AnswerData'))
      if(this.answersLS[this.poll._id] == undefined)
        this.answersLS[this.poll._id] = {}
    }
    localStorage.setItem('AnswerData', JSON.stringify(this.answersLS))
  }

  addToHistory (answers: any, res: string | undefined = undefined) {
    let findPollLS = this.historyLS.find((item) => item.history_id === this.pollFromLocalStorage[this.poll._id].history_id)
    if(findPollLS) {
      this.historyLS[this.pollFromLocalStorage[this.poll._id].history_id] = { history_id: this.pollFromLocalStorage[this.poll._id].history_id, 
      ...resultPollStore.poll, answers, date: Date.now(), resultId: res ? res : undefined }
    } else {
      this.historyLS.push({ history_id: this.pollFromLocalStorage[this.poll._id].history_id, ...resultPollStore.poll, answers, date: Date.now(), resultId: res ? res : undefined })
    }
    localStorage.setItem('historyLS', JSON.stringify(this.historyLS))
  }

  checkLS (id: number | undefined = undefined) {
    // Если данные есть в LS записываем в переменную, если нет создаем их
    if(localStorage.getItem('polls') === null) {
      this.pollFromLocalStorage[this.poll._id] = {
        "result": null,
        "timeToResolve": null,
        "name": this.poll.name,
        "user_id": auth.user._id ? auth.user._id : 'anon',
        "id": this.poll._id,
        "history_id": this.historyLS.length,
        "date": Date.now(),
        "complete": false
      }
    } else {
      this.pollFromLocalStorage = JSON.parse(localStorage.getItem('polls'))
      if(this.pollFromLocalStorage[this.poll._id] === undefined || id !== undefined) {
        this.pollFromLocalStorage[this.poll._id] = {
          "result": null,
          "timeToResolve": null,
          "name": this.poll.name,
          "user_id": auth.user._id ? auth.user._id : 'anon',
          "id": this.poll._id,
          "history_id": id !== undefined ? id : this.historyLS.length,
          "date": Date.now(),
          "complete": false
        }
      }
    }
    localStorage.setItem('polls', JSON.stringify(this.pollFromLocalStorage))
  }

  init (): void {
    //! Не связано с LocalStorage
    resultPollStore.poll.sorted.forEach((item: any) => {
      this.result[item._id.toLowerCase()] = { choised: item.choised, userValue: '' }
    })

    this.timeToResolve = resultPollStore.poll.sort.map((id:string) => ({ time: 0, hop_id: id, wasShown: false }))
    this.startTime = Date.now()
    if(this.$route.query.id !== undefined) {
      this.checkLS(Number(this.$route.query.id))
      this.historyLS[this.$route.query.id].answers.forEach((answer) => {
        if(answer.options[0] !== undefined) {
          this.registerChoise({id: answer.hop_id , payload: { choised: [answer.options[0].id], userValue: '' } })
          let time = this.timeToResolve.find(item => item.hop_id === answer.hop_id)
          if(time !== undefined) {
            time.time = answer.time * 1000
          }
        }
      })
      const allTime = this.timeToResolve.reduce((acc, item) => {
        return item.time + acc
      }, 0)
      this.setTimeToResolve(allTime)
      this.getCompleteProgress()
      return ;
    }
    this.checkLS()

    if (this.previousResult !== undefined) {
      this.previousResult.answers.forEach((answer) => {
        if(answer.options[0] !== undefined) {
          this.registerChoise({id: answer.hop_id , payload: { choised: [answer.options[0].id], userValue: '' } })
          let time = this.timeToResolve.find(item => item.hop_id === answer.hop_id)
          if(time !== undefined) {
            time.time = answer.time * 1000
          }
        }
      })
      const allTime = this.timeToResolve.reduce((acc, item) => {
        return item.time + acc
      }, 0)
      this.getCompleteProgress()
      this.setTimeToResolve(allTime)
      return ;
    }

    //! Cвязано с LocalStorage
    if (this.pollFromLocalStorage[this.poll._id].result !== null && this.pollFromLocalStorage[this.poll._id].timeToResolve !== null) {
      this.result = this.pollFromLocalStorage[this.poll._id].result
      this.timeToResolve = this.pollFromLocalStorage[this.poll._id].timeToResolve
      const allTime = this.timeToResolve.reduce((acc, item) => {
        return item.time + acc
      }, 0)
      this.setTimeToResolve(allTime)
      this.startTime = Date.now()
      this.getCompleteProgress()
      if(this.pollFromLocalStorage[this.poll._id].complete) {
        this.showStatistics = true
        this.fullAnswers = true
        setTimeout(() => { clearTimeout(this.timerInterval) }, 1000)
        clearTimeout(this.timerInterval)
      }
      return ;
    }
  }

  setTimeToResolve (allTime: number) {
    let hours = Math.floor((allTime / 1000) / 60 / 60)
    let minutes = Math.floor((allTime / 1000) / 60) - (hours * 60)
    let sec = Math.floor((allTime / 1000)) % 60

    if(hours.toString().length === 1) hours = '0' + hours
    if(minutes.toString().length === 1) minutes = '0' + minutes
    if(sec.toString().length === 1) sec = '0' + sec
    this.timeToSolution = hours + ':' + minutes + ':' + sec
  }

  getPreviousValue (hop: Hop) {
    if(this.result[hop._id].choised.length !== 0) {
      return this.result[hop._id].choised[0]
    }
  }

  registerChoise (e: RegisterChoise): void {
    this.result[e.id.toLowerCase()] = e.payload
      let countAnsweredHops = 0
      for (const hopId in this.result) {
        this.result[hopId].choised.length !== 0 ? countAnsweredHops++ : ''
      }
      if (countAnsweredHops === this.poll.sorted.length)
        this.fullAnswers = true
      else
        this.fullAnswers = false
    this.pollFromLocalStorage[this.poll._id].result = this.result;
    localStorage.setItem('polls', JSON.stringify(this.pollFromLocalStorage))
  }

  getColor (viewHop: String): String | undefined {
    switch (viewHop) {
      case 'radio':
        return '#0277BD'
      default:
    }
  }

  TakeTheTestAgain () {
    delete this.pollFromLocalStorage[this.poll._id]
    localStorage.setItem('polls', JSON.stringify(this.pollFromLocalStorage))
    window.location.reload()
  }

  goToSoluition () {
    this.$router.push(`/lk/testreview?id=${this.pollFromLocalStorage[this.poll._id].history_id}`)
  }

  goToResult () {
    this.$router.push(`/tests/${this.$route.params.id}/result/?step=${this.step}`)
  }

  goToSolutionWithStep (val: number) {
    this.apply('solution', `/tests/${this.$route.params.id}/result?step=${val}`)
  }

  closeSnackbar() {
    this.snackbar = false
  }

  closeDialog () {
    this.saveTestDialog = false
  }

  getCompleteProgress () {
    const HopsCount = this.display.length
    let countChoised = 0
    let countChoisedTrue = 0

    for(const hopId in this.result) {
      if(this.result[hopId].choised.length !== 0) {
        countChoised++
        let hop = this.display.find(item => item._id === hopId)
        if(hop) {
          let arrKeys = Object.keys(this.result)
          let index = arrKeys.indexOf(hopId)
          if(hop.correctAnswer[0] === this.result[hopId].choised[0]) {
            this.backroundColors[index] = '#4caf50'
            countChoisedTrue++
          } else
            this.backroundColors[index] = '#ff5252'
             
        }
      }
    }
    this.completeProgress = Math.floor(countChoised / HopsCount * 100)

    this.chartComplete.options.elements.center.text = Math.floor(countChoisedTrue / HopsCount * 100) + '%' + ' correct'
    if(this.completeProgress === 100)
      this.fullAnswers = true
    this.renderComponent = false
    this.$nextTick(() => {
      this.renderComponent = true
    });
  }

  complete (val: any) {
    return val !== undefined ? !!val.choised.length : false
  }

  timerHop (oldStep: number) {
    this.snackbar = false
    this.getCompleteProgress()
    const hopId = this.display[oldStep - 1]._id
    let timeHop = this.timeToResolve.find((item) => item.hop_id === hopId)
    if(timeHop !== undefined) {
      let time = Date.now() - this.startTime + timeHop.time - ( this.stopPauseTime - this.startPauseTime )
      timeHop.time = time > 0 ? time : 0
      this.startTime = Date.now()
      this.stopPauseTime = 0
      this.startPauseTime = 0
      if(this.result[hopId].choised.length !== 0 && !timeHop.wasShown) {
        let convertToNormalTime = this.$moment.duration(timeHop.time, 'milliseconds')
        this.snackBarText = 'Question #' + (oldStep).toString() + '' + ' was completed in ' +
          convertToNormalTime.minutes() + ' min ' + convertToNormalTime.seconds() + ' sec '
        timeHop.wasShown = true
        this.snackbar = true
      }
    }
    this.pollFromLocalStorage[this.poll._id].timeToResolve = this.timeToResolve
    localStorage.setItem('polls', JSON.stringify(this.pollFromLocalStorage))
  }

  pauseAndContinue () {
    if(!this.isPause) {
      this.isPause = true
      this.overlay = true
      this.startPauseTime = Date.now()
    } else {
      this.isPause = false
      this.overlay = false
      this.stopPauseTime = Date.now()
    }
  }

  apply (event: string, to: string = ''): Boolean | undefined {
    this.timerHop( this.step )
    const answers: Array<Object> = []
    const errors: Array<Object> = []
    for (const hopId in this.result) {
      const err: Array<String> = []
      const answer: RegisterChoisePayload = this.result[hopId]
      const hop = this.display.find(item => item._id === hopId)
      if (hop === undefined) {
        err.push('Hop ' + hopId + ': not found')
        errors.push(err)
        continue
      }

      const options = answer.choised.map((optionId: Number) => {
        const option = hop.options.find(item => item.id === optionId)
        if (option === undefined) {
          err.push('Hop ' + hopId + ', option ' + optionId + ' not found')
          return null
        }
        const value = option.type === 'user' ? answer.userValue : ''
        return {
          id: optionId
        }
      })

      if (err.length > 0) {
        errors.push(err)
        continue
      }
      
      answers.push({
        hop_id: hopId,
        options,
        time: this.timeToResolve.find((item) => item.hop_id === hopId ).time / 1000
      })
    }

    if (errors.length > 0) {
      alert('Error, please check you answers')
      return false
    }

    const dataResp = {
      poll_id: resultPollStore.poll._id,
      answers
    }

    if(event === 'reg') {
      resultsStore.save(dataResp)
    }

    if(event === 'solution') {
      this.answersLS[this.poll._id] = dataResp
      localStorage.setItem('AnswerData', JSON.stringify(this.answersLS))
      this.addToHistory(dataResp.answers)
      this.$router.push(to)
    }
    
    let pollFromLocalStorage = JSON.parse(localStorage.getItem('polls'))
    
    if(event === 'statistics') {
      if(!this.showStatistics) {
        if(this.authenticated) {
          if(this.previousResult !== undefined) {
            resultsStore.update({ dataResp, resultId: this.previousResult._id }).then(() => {
              this.answersLS[this.poll._id] = dataResp
              localStorage.setItem('AnswerData', JSON.stringify(this.answersLS))
              this.addToHistory(dataResp.answers)
              this.$router.push(`/lk/testreview?id=${this.pollFromLocalStorage[this.poll._id].history_id}`)
            })
          } else {
            resultsStore.save(dataResp).then(() => {
              this.answersLS[this.poll._id] = dataResp
              localStorage.setItem('AnswerData', JSON.stringify(this.answersLS))
              this.addToHistory(dataResp.answers)
              this.$router.push(`/lk/testreview?id=${this.pollFromLocalStorage[this.poll._id].history_id}`)
            })
          }
        } else {
        if(this.previousResult !== undefined) {
          resultsStore.update({ dataResp, resultId: this.previousResult._id }).then(() => {
            clearTimeout(this.timerInterval)
            localStorage.setItem('polls', JSON.stringify(this.pollFromLocalStorage))
            this.answersLS[this.poll._id] = dataResp
            localStorage.setItem('AnswerData', JSON.stringify(this.answersLS))
            this.addToHistory(dataResp.answers)
            this.$router.push(`/lk/testreview?id=${this.pollFromLocalStorage[this.poll._id].history_id}`)
          })
        } else {
          resultsStore.save(dataResp).then(() => {
            clearTimeout(this.timerInterval);
            localStorage.setItem('polls', JSON.stringify(this.pollFromLocalStorage))
            this.answersLS[this.poll._id] = dataResp
            localStorage.setItem('AnswerData', JSON.stringify(this.answersLS))
            this.addToHistory(dataResp.answers)
            this.$router.push(`/lk/testreview?id=${this.pollFromLocalStorage[this.poll._id].history_id}`)
          })
        }
      }
    }
  }

    if(event === 'save') {
      this.$swal.fire({
        title: 'Are you sure?',
        text: `You can continue to take the test at any time!`,
        type: 'warning',
        cancelButtonColor: '#d33',
        showCancelButton: true
      }).then((res) => {
        if(res.value) {
          if(this.previousResult !== undefined || this.historyLS[this.pollFromLocalStorage[this.poll._id].history_id] !== undefined) {
            resultsStore.update({ dataResp, resultId: this.previousResult ? this.previousResult._id : this.historyLS[this.pollFromLocalStorage[this.poll._id].history_id].resultId }).then((result) => {
              this.answersLS[this.poll._id] = dataResp
              localStorage.setItem('AnswerData', JSON.stringify(this.answersLS))
              this.addToHistory(dataResp.answers, this.previousResult ? this.previousResult._id : this.historyLS[this.pollFromLocalStorage[this.poll._id].history_id].resultId)
              this.$router.push(`/lk`)
            })
          } else {
            resultsStore.save(dataResp).then((result) => {
              this.answersLS[this.poll._id] = dataResp
              localStorage.setItem('AnswerData', JSON.stringify(this.answersLS))
              this.addToHistory(dataResp.answers, result)
              this.$router.push(`/lk`)
            })
          }
        }
      })
    }
    if(event === 'finish') {
      if(this.previousResult !== undefined || this.historyLS[this.pollFromLocalStorage[this.poll._id].history_id] !== undefined) {
        resultsStore.update({ dataResp, resultId: this.previousResult ? this.previousResult._id : this.historyLS[this.pollFromLocalStorage[this.poll._id].history_id].resultId }).then(() => {
          clearTimeout(this.timerInterval)
          this.showStatistics = true
          this.pollFromLocalStorage[this.poll._id].complete = true
          localStorage.setItem('polls', JSON.stringify(this.pollFromLocalStorage))
          this.answersLS[this.poll._id] = dataResp
          localStorage.setItem('AnswerData', JSON.stringify(this.answersLS))
          this.addToHistory(dataResp.answers, this.previousResult ? this.previousResult._id : this.historyLS[this.pollFromLocalStorage[this.poll._id].history_id].resultId)
        })
      } else {
        resultsStore.save(dataResp).then(( res ) => {
          clearTimeout(this.timerInterval);
          this.showStatistics = true
          this.pollFromLocalStorage[this.poll._id].complete = true
          localStorage.setItem('polls', JSON.stringify(this.pollFromLocalStorage))
          this.answersLS[this.poll._id] = dataResp
          localStorage.setItem('AnswerData', JSON.stringify(this.answersLS))
          this.addToHistory(dataResp.answers, res)
        })
      }
    }
  }
}

</script>

<style lang='sass'>

  .pause
    opacity: 0%
    animation: pause 0.7s

  .nonpause
    animation: nonpause 0.3s

  @keyframes nonpause
    0%
      opacity: 0%
    100%
      opacity: 100%

  @keyframes pause
    0%
      opacity: 100%
    100%
      opacity: 0%

  .right-arrow
    position: fixed
    right: 35%
    top: 24%

    @media (max-width: 1640px)
      right: 40%
      top: 26%

  ::-webkit-scrollbar
    width: auto !important

  .right-info

    @media (max-width: 1903px)
      padding-left: 59px

  .d-sticky
    position: sticky
    overflow-y: scroll
    height: 100vh
    width: 95%
    top: 40px
    z-index: 5

</style>
