<template lang="pug">
v-app
  section#first-section
    v-container.d-flex.fill-height.justify-center( fluid )
      v-row.d-flex( )
        v-col.d-flex.mx-auto.justify-center.flex-wrap(  )
          v-card.ma-4.constructor--card( raised nuxt elevation="10" )
            v-card-title.mt-4.constructor--card_title(  ) Сreate SAT noCalc test
            v-card-text.constructor--card_text( style="color:white" )
              v-row.d-flex( style='height: 150px' )
                v-col( cols="12" )
                  p
              v-row.d-flex( style="height: calc(100% - 106px)" )
                v-col.d-flex.justify-center( cols="12" )
                  v-btn.constructor--card_textButton( text rounded elevation="3" color='white' to="/constructor/noCalc" ) Create
          v-card.ma-4.constructor--card( raised elevation="10" nuxt )
            v-card-title.mt-4.constructor--card_title(  ) Сreate SAT Calc test
            v-card-text.constructor--card_text( style="color:white" )
              v-row.d-flex( style='height: 150px' )
                v-col( cols="12" )
                  p
              v-row.d-flex( style="height: calc(100% - 106px)" )
                v-col.d-flex.justify-center( cols="12" )
                  v-btn.constructor--card_textButton( text rounded elevation="3" color='white' style="color:white" to="/constructor/calc" ) Create
          v-card.ma-4.constructor--card( raised elevation="10" nuxt )
            v-card-title.mt-4.constructor--card_title(  ) Сreate olympics test
            v-card-text.constructor--card_text( style="color:white" )
              v-row.d-flex( style='height: 150px' )
                v-col( cols="12" )
                  p
              v-row.d-flex( style="height: calc(100% - 106px)" )
                v-col.d-flex.justify-center( cols="12" )
                  v-btn.constructor--card_textButton( text rounded elevation="3" color='white' style="color:white" to="/constructor/оlympics" ) Create
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { auth } from '../../store'

@Component({
  middleware: 'isAdmin',
  layout: 'startLayout'
})
export default class Constructor_Index extends Vue {
  //
}
</script>

<style lang="sass" scoped>

  #first-section
    background-image: linear-gradient(to right top, #5b2573, #711b69, #820d5d, #8f004f, #98003f)
    height: 100%

  .constructor--card
    background-color: rgba(145, 23, 102, .1)
    color: white
    width: 350px
    height: 500px
    transition: background-color 1s

    &:hover
      background-color: rgba(216, 12, 93, 1)

    &_title
      font-size: 12pt
      transition: font-size 1s
      justify-content: center

    &:hover &_title
      font-size: 16pt

    &_text
      font-size: 12pt
      transition: font-size 1s
      height: calc( 100% - 64px )

    &:hover &_text
      font-size: 14pt

    &_textButton
      opacity: 0
      margin: auto
      transition: opacity 1s

    &:hover &_textButton
      opacity: 1

</style>
