//- Просмотр опроса
<template lang="pug">

</template>

<script>
export default {
  transition: 'page',
  fetch({redirect}) {
    redirect('/tests')
  },
  data: () => ({
  }),
  computed: {

  },
  methods: {
  }
}
</script>

<style lang="sass">

</style>
