<template lang="pug">
  NoCalcTest
</template>

<script lang='ts'>
import { Vue, Component } from 'vue-property-decorator'
import { pollState,auth } from '~/store'

import NoCalcTest from '~/components/hopsCreate/indexNoCalc.vue'

@Component({
  middleware: 'isAdmin',
  components: {
    NoCalcTest
  },
  async fetch ({ redirect }) {
    const hop = {
      _id: '0',
      content: '',
      options: [],
      poll_id: '1',
      image: [],
      subTags: [],
      correctAnswer: '',
      tags: [],
      complexity: '',
      explanation: ''
    }
    const poll = {
      _id: '0',
      name: '',
      description: '',
      published_at: '',
      closed_at: '',
      updated_at: '',
      created_at: '',
      sort: [ '0' ],
      sorted: [ hop ],
      isPublished: false,
      isActive: true,
      results: [],
      type: 'SAT',
      section: 'math_nocalc',
      user_id: auth.user._id,
      timeToSolution: '',

    }
    pollState.createHop(poll)
  }
})
export default class Classic_Index extends Vue {

}
</script>

<style lang="sass" scoped>

</style>
