<template lang='pug'>
  v-app-bar#app-bar(
    absolute
    app
    color='transparent'
    flat
    height="75"
  )
    template( #extension v-if="$route.name.toLowerCase().includes('statistics') || $route.name.toLowerCase().includes('progress')")
      v-tabs( v-model='tab' )
        v-tab( :key='`noCalc`' :href="'#tab-' + `noCalc`") Tests without calculator
        v-tab( :key='`calc`' :href="'#tab-' + `calc`" ) Tests with calculator
        v-tab( :key='`olympics`' :href="'#tab-' + `olympics`" :disabled='!isAuthenticated') Math Olympiads
        v-tab( :key='`personalTests`' :href="'#tab-' + `personalTests`" :disabled='!isAuthenticated') Personal tests

    v-btn.mr-3( fab elevation='1' small @click="drawer = !drawer" v-if="$route.name.includes('lk')")
      v-icon( v-if='value' ) mdi-view-quilt
      v-icon( v-else ) mdi-dots-vertical

    v-toolbar-title.hidden-sm-and-down.font-weight-light( v-text='titleBar' v-if="$route.name.includes('lk')" )

    v-spacer
    v-tooltip( bottom )
      template( v-slot:activator="{ on }" )
        v-btn.ml-2( min-width="0" text to='/tests' style='text-transform: none; font-size: 1.1rem' )
          v-icon mdi-apps
          | All Tests
      span All Tests
    v-tooltip( bottom v-if='isAdmin')
      template( v-slot:activator="{ on }" )
        v-btn.ml-2( min-width="0" text to='/constructor' style='text-transform: none; font-size: 1.1rem' )
          v-icon mdi-wrench
          | Create Test
      span Create Test
    v-tooltip( bottom )
      template( v-slot:activator="{ on }" )
        v-btn.ml-2( min-width="0" text to='/lk/dashboard' style='text-transform: none; font-size: 1.1rem' )
          v-icon mdi-view-dashboard
          | Dashboard
      span Dashboard
    v-btn.ma-5( text depressed rounded to='/login' v-if='!isAuthenticated' ) Login
    v-btn.ma-5( text outlined rounded to='/registration' v-if='!isAuthenticated' ) Registration
    v-menu(
      bottom
      left
      offset-y
      origin='top right'
      transition='scale-transition'
      v-if='isAuthenticated'
    )
      template( #activator="{ attrs, on }" )
        v-btn.mr-2(
          min-width='0'
          text
          v-bind="attrs"
          v-on='on'
        )
          v-badge( color='red' overlap bordered :value="notifications.length")
            template( #badge )
              span {{ notifications.length }}
            v-icon mdi-bell
      v-list(
        :tile='false'
        nav
      )
        div
          app-bar-item( v-if="notifications.length !== 0" v-for="(notification, index) in notifications" :key="`item-${index}`" )
            v-list-item-title( v-text='notification' )
          div.my-4.mx-2(v-if="notifications.length === 0")
            span(  v-text='"You have no notifications yet"')

  //- v-app-bar#app-bar(
    absolute
    app
    color='transparent'
    flat
    height="75"
    v-else
  //- )
    v-spacer
    v-tooltip( bottom )
      template( v-slot:activator="{ on }" )
        v-btn.ml-2( min-width="0" text to='/tests' v-on='on' )
          v-icon mdi-apps
      span All Tests
    //- v-tooltip( bottom )
      template( v-slot:activator="{ on }" )
        v-btn.ml-2( min-width="0" text to='/lk/dashboard' v-on='on' )
          v-icon mdi-view-dashboard
      span Dashboard
    v-btn.ma-5( text depressed rounded to='/login' v-if='!isAnonymous' ) Login
    v-btn.ma-5( text outlined rounded to='/registration' ) Registration

</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator'
import { VHover, VListItem } from 'vuetify/lib'

import { app, auth } from '~/store'



@Component({
  name: 'AppBar',
  components: {
    AppBarItem: {
      render (h: any) {
        return h(VHover, {
          scopedSlots: {
            default: ({ hover }) => {
              return h(VListItem, {
                attrs: this.$attrs,
                class: {
                  'black--text': !hover,
                  'white--text secondary elevation-12': hover
                },
                props: {
                  dark: hover,
                  link: true,
                  ...this.$attrs
                }
              }, this.$slots.default)
            }
          }
        })
      }
    }
  }
})
export default class AppBar extends Vue {
  @Prop({ type: Boolean, default: false }) readonly value!: boolean

  notifications:string[] = [
  ]

  img = require('~/assets/AMC2003-10B-19.1.PNG')

  get titleBar () {
    if( this.$route.name !== undefined && this.$route.name !== null ) {
      if(this.$route.name.includes('lk')) {
        let name = this.$route.name.split('-')
        if( name ) return name[1] || ''
      }
    }
  }

  get isAuthenticated (): boolean {
    return auth.isAuthenticated
  }

  get isAdmin (): boolean {
    return auth.isRoot || auth.isAdmin
  }

  get isAnonymous () {
    return auth.isAnonimous
  }

  get drawer () {
    return app.drawer
  }

  set drawer (val) {
    app.SET_DRAWER(val)
  }

  get tab () {
    return app.tab
  }

  set tab (value) {
    app.SET_TAB(value)
  }

}
</script>

<style lang='sass' scoped>

</style>
