<template lang='pug'>
  v-app
    div
      v-app-bar.transparent.elevation-0( app dark tile height='86px' )
        v-container.px-0.text-right.d-flex.align-center(  )
          v-toolbar-title.hidden-xs-only.font-weight-light(  ) Login page
          v-spacer
          v-btn.ma-5( text depressed tile to='/registration') Registration
    v-main.pa-0( )
      v-img(
        :src="backImg"
        cover
        :gradient="`to bottom, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)`"
      )
        .d-flex.align-center.v-responsive( style='min-height: 100vh; padding: 175px 0px;' )
          v-container.fill-height.justify-center#login( tag="section" )
            v-row.justify-center(  )
              v-form( ref="loginForm" v-model="valid" lazy-validation )
                coreCard.px-5.py-3.pa-3( width="400" max-width="100%" )
                  template( v-slot:heading )
                    .text-center
                      h1.display-2.font-weight-bold.mb-2 Login
                      v-btn.ma-1( icon rounded dark )
                        v-icon( ) mdi-facebook
                      v-btn.ma-1( icon rounded dark )
                        v-icon( ) mdi-twitter
                      v-btn.ma-1( icon rounded dark )
                        v-icon( ) mdi-gmail
                  v-card-text.text-center
                    v-text-field.mt-12(
                      v-model='email'
                      prepend-icon="mdi-email"
                      :error-messages='errorEmail'
                      :rules="emailRules"
                      @focus="clearMessage()"
                      type="email"
                      @keyup.enter="login()"
                      required
                      placeholder="Email"
                    )
                    v-text-field.mb-10(
                      v-model='password'
                      prepend-icon="mdi-lock-outline"
                      :error-messages='errorPassword'
                      :rules="passwordRules"
                      @focus="clearMessage()"
                      @keyup.enter="login()"
                      required
                      type="password"
                      placeholder="Password"
                    )
                    p.subtitle-1.error--text {{ error }}
                    v-btn.font-weight-light(
                      text
                      rounded
                      color="green"
                      @click="login()"
                      style="letter-spacing: 0; height: 41px; text-indent: 0; font-family: inherit"
                    ) Login
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator'

import { auth } from '~/store'

import coreCard from '~/components/core/coreCard.vue'
import { isBoolean } from 'util'

@Component({
  name: 'login',
  layout: 'stepLayout',
  components: {
    coreCard
  },
  fetch({ redirect }) {
    if ( auth.isAuthenticated && auth.isAnonimous ) {
      redirect('/lk')
    }
  }
})
export default class Login extends Vue {
  backImg = require('~/assets/registration.jpg')
  valid: boolean = false
  email: string = ''
  password: string = ''
  errorEmail: string = ''
  errorPassword: string = ''
  error: string = ''
  emailRules: Array<Function> = [
    (v: string) => !!v || 'Enter e-mail',
    (v: string) => {
      if(v.length > 0) {
        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return pattern.test(v) || 'E-mail is not correct';
        } else return ''
      }
  ]
  passwordRules: Array<Function> = [
    (v: string) => !!v || 'Еnter password'
  ]

  get errorMessage() {
    if (auth.errorMessage === 'Invalid email') this.errorEmail = auth.stsError
    else this.errorPassword = auth.stsError
    return auth.errorMessage
  }

  async login() {
    if ((this.$refs.loginForm as Vue & { validate: () => boolean }).validate()) {
      await auth.signin({ username: this.email, password: this.password })
        .then((res) => {
          if(isBoolean(res)) this.$router.push('/lk')
          else {
            if(auth.stsError === 'wrong_email') {
              this.errorEmail = res
            }
            if(auth.stsError === 'wrong_password' ) {
              this.errorPassword = res
            }
            if(auth.stsError === 'oauth_error' ) {
              this.error = 'Sorry, try later'
            }
          }
        })
    }
  }

  clearMessage() {
    this.errorEmail = ''
    this.errorPassword = ''
  }
}
</script>

<style lang='sass' scoped>

</style>
