<template lang='pug'>
v-container
  v-row
    v-col( cols )
      v-form( ref="poll" v-model="valid" lazy-validation )
        v-timeline( dense :class='$vuetify.breakpoint.lgOnly ? "ml-12": ""')
          v-slide-x-reverse-transition( group, hide-on-leave )

          //- Форма основной информации об опросе
          v-timeline-item(
            large
            fill-dot
          )
            template( v-slot:icon )
              v-icon( ) mdi-pencil
            MainForm
          //- Список хопов
          draggable(
            v-model="hopIds"
            v-bind="dragOptions"
            @start="isDragging = true"
            @end="isDragging = false"
            handle=".card--handle"
          )
            v-timeline-item(
              v-for='(hopId, index) in hopIds'
              large
              fill-dot
              color="red"
              :key='hopId'
            )
              template( v-slot:icon )
                v-btn( icon large light @click="removeHop(hopId)" )
                  v-icon() mdi-delete
              VirtualHop( :hopId='hopId' :currentHopId='currentHopId' @click="setCurrentHopId(hopId)" )

          //- Добавление хопа
          v-timeline-item( )
            template( v-slot:icon )
              v-btn( fab dark color="rgb(2, 119, 189)" @click="addRadio" )
                v-icon mdi-plus
    //- v-col(v-if='$vuetify.breakpoint.lgOnly')
    //-   div.navigation-hops
    //-     v-timeline( dense :reverse='true' )
    //-       v-slide-x-reverse-transition(group hide-on-leave)
    //-         v-timeline-item( left v-for="(hopId, index) in hopIds" :key="index" style="text-align: end; align-items: center;")
    //-           a.navigation-hops--text( @click="jumpToHop(hopId)" ) {{ content(hopId) }}
    //-           template( v-slot:icon )
    //-             span( style="font-size: 17px" ) {{index + 1}}
  v-row
    v-col.text-center
      v-btn( @click="save" v-if=" hopIds.length > 0 ") {{ idPoll === '0' ? 'Create' : 'Save' }}
</template>

<script lang='ts'>

import { Component, Vue } from 'vue-property-decorator'
import draggable from 'vuedraggable'

import { HopStore } from '../../interfaces/interfaceStore'

import VirtualHop from '~/components/hopsCreate/classic/virtual_hopTS.vue'
import MainForm from '~/components/hopsCreate/main_formTS.vue'
import { pollState } from '~/store'

interface indexPoll {
  _id: String
  closed_at: String
  created_at: String
  description: String
  hops: []
  name: String
  published_at: String
  type: String | undefined
}

@Component({
  name: 'ClassicPollConstructor',
  components: {
    draggable,
    VirtualHop,
    MainForm
  }
})
export default class IndexTS extends Vue {
  selectHopView: Boolean = false
  valid: Boolean = false
  currentHopId: string = ''

  dragOptions: Object = {
    animation: 0,
    group: 'description',
    disabled: false,
    ghostClass: 'ghost'
  }

  get idPoll () {
    return pollState.full._id
  }

  get hopIds () {
    return pollState.getPoll.hops || []
  }

  set hopIds (value) {
    pollState.updateField({ key: 'hops', value })
  }

  content (id: string) {
    if (pollState.contentById(id).length > 25) {
      return pollState.contentById(id).substr(0, 20) + '...'
    } else {
      return pollState.contentById(id)
    }
  }

  jumpToHop (id: string) {
    const elem = document.getElementById('hop-' + id)
    if (elem !== null) {
      elem.scrollIntoView({ block: 'center', behavior: 'smooth' })
    }
  }

  setCurrentHopId (id: string ): void {
    this.currentHopId = id
  }

  addHop () {
    const hop = {
      _id: pollState.tmpHopId.toString(),
      content: '',
      choised: [],
      options: [],
      image: [],
      correctAnswer: '',
      tags: [],
      subTags: [],
      complexity: ''
    }
    pollState.addHop(hop)
    pollState.INCR_TMPHOPID()
  }
  addRadio () { return this.addHop() }

  removeHop (hop: HopStore) { pollState.removeHop(hop) }

  async save () {
    if (!(this.$refs.poll as Vue & { validate: () => boolean }).validate()) {
      alert('Please fill in all fields')
      return false
    }
    const data = pollState.full
    const resp = data._id === '0' ? await pollState.savePoll(data) : await pollState.updatePoll(data)
    if (resp) {
      this.$router.push(`/tests/${resp}/exec`)
    } else {
      alert('You forgot to add answer options')
    }
  }
}

</script>

<style scoped lang='sass'>

  .flip-list-move
    transition: transform 0.5s

  .no-move
    transition: transform 0s

  .ghost
    opacity: 0.5
    background: #c8ebfb

  .navigation-hops
    position: fixed
    right: 5%
    top: calc(50% - 250px)
    height: 500px
    width: 300px
    overflow-y: scroll

    &--text
      color: white

  ::-webkit-scrollbar
    display: none

</style>
