<template lang='pug'>
v-card( color="#F5F5F5" width="1200px" )
  v-card-title.d-flex.justify-space-between(
    style="background-color: #512DA8; color: white !important; height: 78px"
  ) General test settings
    span( style="font-size: 12px; color: rgba(255, 255, 255, 0.6); font-weight: 300;" ) Count of questions: {{ hopsLength }}
  v-card-text.pa-5( style=" min-height: 250px " )

    v-text-field(
      v-model='name'
      :rules='validationTextForm'
      label='Name'
      @change='fireChanged'
    )

    v-textarea.mb-0(
      v-model='description'
      :rules='validationTextForm'
      label='Description'
      rows='1'
      auto-grow
      @change='fireChanged'
    )

    //- Дата публикации опроса
    v-menu(
      ref='published_at'
      v-model='datepickers.published_at'
      :close-on-content-click='false'
      :return-value.sync='published_at'
      transition='scale-transition'
      offset-y
      min-width='290px'
    )
      template( v-slot:activator="{ on }" )
        v-text-field(
          v-model='published_at'
          label='Choose publication date'
          prepend-icon='mdi-av-timer'
          v-on='on'
          readonly
        )
      v-date-picker.ma-0(
        v-model='published_at'
        no-title
        reactive
        scrollable
      )
        v-btn( text color='primary' @click='closePublish' ) Cancel
        v-btn( text color='primary' @click='applyPublish' ) Ok

    //- Дата завершения опроса
    v-menu(
      ref='closed_at'
      v-model='datepickers.closed_at'
      :close-on-content-click='false'
      :return-value.sync='closed_at'
      transition='scale-transition'
      offset-y
      min-width='290px'
    )
      template( v-slot:activator="{ on }" )
        v-text-field(
          v-model='closed_at'
          label='Choose end date'
          prepend-icon='mdi-av-timer'
          v-on='on'
          readonly
        )
      v-date-picker.ma-0(
        v-model='closed_at'
        no-title
        scrollable
      )
        v-btn( text color='primary' @click='closeClosed' ) Cancel
        v-btn( text color='primary' @click='applyClosed' ) Ok

    v-menu(
      ref="timeToSolution"
      v-model="timePicker"
      :close-on-content-click="false"
      :nudge-right="40"
      :return-value.sync="timeToSolution"
      transition="scale-transition"
      offset-y
      max-width="290px"
      min-width="290px"
    )
      template( #activator="{ on }" )
        v-text-field(
          v-model='timeToSolution'
          label="Time to solution"
          prepend-icon="mdi-timer"
          readonly
          v-on="on"
        )
      v-time-picker(
        v-if='timePicker'
        v-model="timeToSolution"
        class="mt-4"
        format="24hr"
        scrollable
        use-seconds
        @click:second="$refs.timeToSolution.save(timeToSolution)"
      )

    //- v-switch(
    //-   v-model="isOpenResults"
    //-   :label="isOpenResultsLabel"
    //-   @change='fireChanged'
    //- )
    //- v-switch(
    //-   v-model="isOnlyAuth"
    //-   :label="isOnlyAuthLabel"
    //-   @change='fireChanged'
    //- )
</template>

<script lang='ts'>
import { Component, Vue } from 'vue-property-decorator'
import { pollState } from '~/store'

interface Datepickers {
  [key: string]: Boolean | string,
  published_at: Boolean | string,
  closed_at: Boolean| string
}

interface formPoll {
  _id: string
  closed_at: string
  created_at: string
  description: string
  hops: []
  isOpenResults: Boolean
  name: string
  published_at: string
  type: string | undefined
}

@Component({
  name: 'PollMainDataForm'
})
export default class Main_formTS extends Vue {
  datepickers: Datepickers = {
    published_at: false,
    closed_at: false
  }
  time: number | null = null
  timePicker: boolean = false
  validationTextForm: Array<Function> = [
    (v: any) => !!v || 'Required field'
  ]

  get name (): string | undefined {
    return pollState.getPoll.name
  }

  set name (value: string | undefined) {
    if (value !== undefined) pollState.updateField({ key: 'name', value})
  }

  get timeToSolution (): string | undefined {
    return pollState.getPoll.timeToSolution
  }

  set timeToSolution (value: string | undefined) {
    if (value !== undefined) pollState.updateField({ key: 'timeToSolution', value })
  }


  get description (): string | undefined {
    return pollState.getPoll.description
  }

  set description (value: string | undefined) {
    if (value !== undefined) pollState.updateField({ key: 'description', value: value.trim() })
  }

  get published_at (): string | undefined {
    return pollState.getPoll.published_at
  }

  set published_at (value: string | undefined) {
    if (value !== undefined) pollState.updateField({ key: 'published_at', value })
  }

  get closed_at (): string | undefined {
    return pollState.getPoll.closed_at
  }

  set closed_at (value: string | undefined) {
    if (value !== undefined) pollState.updateField({ key:'closed_at', value })
  }

  get isOpenResults (): Boolean | undefined {
    return pollState.getPoll.isOpenResults
  }

  set isOpenResults (value: Boolean | undefined) {
    if (value !== undefined) pollState.updateField({ key:'isOpenResults', value })
  }

  get isOnlyAuth (): Boolean | undefined {
    return pollState.getPoll.isOnlyAuth
  }

  set isOnlyAuth (value: Boolean | undefined) {
    if(value !== undefined) pollState.updateField({ key:'isOnlyAuth', value })
  }

  get hopsLength () {
    if (pollState.getPoll.hops !== undefined) return pollState.getPoll.hops.length 
  }

  get clearName (): string | undefined {
    if (this.name !== undefined) return this.name.trim()
  }
  get clearDescription (): string | undefined { if (this.description !== undefined) return this.description.trim() }
  get clearPublishedAt (): string | undefined { if (this.published_at !== undefined) return this.published_at }
  get clearClosedAt (): string | undefined { if (this.closed_at !== undefined) return this.closed_at }
  get clearIsOpenResults (): Boolean | undefined { if (this.isOpenResults !== undefined) return this.isOpenResults }
  get isOpenResultsLabel (): string | undefined { if (this.clearIsOpenResults !== undefined) return this.clearIsOpenResults ? 'Результаты общедоступны' : 'Результаты не будут отображаться' }
  get clearIsOnlyAuth (): Boolean | undefined { if (this.isOnlyAuth !== undefined) return this.isOnlyAuth }
  get isOnlyAuthLabel (): string | undefined { if (this.clearIsOnlyAuth !== undefined) return this.clearIsOnlyAuth ? 'Опрос доступен только авторизированным пользователям' : 'Опрос доступен всем' }
  // updateField (key: string, value: string | Boolean) {
  //   value = this.clear(key, value)
  //   pollState.updatePoll({ key, value })
  // }

  clear (key: string, value: string | Boolean) {
    switch (key) {
      case 'name':
    }
    return value
  }

  fireChanged () {
    const data: Object = {
      name: this.clearName,
      description: this.clearDescription,
      published_at: this.clearPublishedAt,
      closed_at: this.clearClosedAt,
      isOpenResults: this.clearIsOpenResults,
      isOnlyAuth: this.clearIsOnlyAuth,
      timeToSolution: this.clearTimeToSolution
    }
    this.$emit('changed', data)
  }

  closeDatepicker (value: string) { this.datepickers[value] = false }
  closePublish () { return this.closeDatepicker('published_at') }
  closeClosed () { return this.closeDatepicker('closed_at') }

  applyDatepicker (value: string) {
    let test: string = ''
    switch (value) {
      case 'published_at':
        if ( this.published_at !== undefined) test = this.published_at
        break
      case 'closed_at':
        if ( this.closed_at !== undefined) test = this.closed_at
        break
    }
    (this.$refs[value] as Vue & { save: (val: string) => boolean }).save(test)
    this.fireChanged()
  }
  applyPublish () { return this.applyDatepicker('published_at') }
  applyClosed () { return this.applyDatepicker('closed_at') }
}
</script>

<style scoped lang='sass'>

</style>
