<template lang="pug">
div.ml-10
  div.number-quest
    span.white--text.headline {{ step }}
  v-card.pb-1( color="#e8f5fd" width="100%" max-width="900px" style='border-radius: 20px' elevation="0" )
    v-card-title.pt-7.mb-3.d-flex( )
      div( style='background-color: white; border-radius: 40px; width: 100%; padding: 15px;' )
        //- vue-mathjax.ma-5( style=" word-break: break-word; text-align: center;" :formula='hop.content' :safe='false' )
        div( v-text='hop.content' style=" word-break: break-word; text-align: center;" v-katex:auto='{ delimiters: [ {left: "$$", right: "$$", display: true}, {left: "\\[", right: "\\]", display: true}, {left: "$", right: "$", display: false}, {left: "\\(", right: "\\)", display: false} ], trust: true}')
        v-col.d-flex.align-center.justify-center( cols='12' v-if='hop.image.length !== 0 ')
          silent-box( :gallery="galleryImage" thumbnailHeight="126" thumbnailWidth="126" :inner='true')
            template( #inner-image )
          //- template( v-for='(image, index) in hop.image' )
            v-img.ml-2.mt-1.mb-4.pa-4( v-if='image' :src="image" contain :key='`image-${index}`' width='126' height='126' style='flex: none')
    v-card-text( style='border-radius: 26px; background-color: white; width: 96%; margin: auto;' )
      v-row
        v-col( cols="12")
          v-radio-group(
            v-model="choisedRadio"
            column
            @change='fireChanged'
            :rules='validaitonRadio'
            style="width: 100%"
            :readonly='readonly'
          )
            template(v-for='option in options')
              v-radio.ma-4(
                style="width: 95%; word-break: break-word;"
                :key='option.id'
                :value='option.id'
                :label="option.value"
              )
                template( #label )
                  //- vue-mathjax( :formula="option.value" :safe='false' )
                  div( v-text='option.value' v-katex:auto='{ delimiters: [ {left: "$$", right: "$$", display: true}, {left: "\\[", right: "\\]", display: true}, {left: "$", right: "$", display: false}, {left: "\\(", right: "\\)", display: false} ], trust: true}')

                  silent-box.ml-9.mt-1( v-if='option.image' :image="{ src: option.image }" thumbnailHeight="126" thumbnailWidth="126" :inner='true')
    v-card-actions.mb-5.mt-5( style='border-radius: 26px; background-color: white; width: 96%; margin: auto;' )
      .d-flex.flex-column.align-start( style='width: 100%;' )
        div.mb-1
          span {{ percentageOfCorrectlyStudents + `% of students solved this problem correctly`}}
        div.mb-1
          span {{`Average time spent: ` + averageTimeSpent}}
        div.mb-1
          span {{`Correct solutions, on average, took: ` + averageTimeCorrectAnswer}}
</template>

<script lang='ts'>
import { Component, Mixins, Prop } from 'vue-property-decorator'

import mixinHops from '../__mixinCommonMethods'

import { Hop, Option } from '~/interfaces/interfaceHops'
import { auth } from '../../../store'

@Component
export default class RadioTS extends Mixins(mixinHops) {
  @Prop({ type: Number, required: true}) readonly step!: number
  @Prop({}) readonly choisedPrevious!: string
  @Prop({required: true, type: Boolean}) readonly readonly!: boolean

  choisedRadio: String | Number = ''
  get options (): Array<Option> {
    return this.hop.options
  }

  get clearUserValue (): String {
    return this.isChoisedUserOption ? this.trimUserValue : ''
  }

  get clearChoised (): Array<String | Number> {
    return !this.choisedRadio ? [] : [ this.choisedRadio ]
  }

  get validaitonRadio (): Array<Function> {
    return [
      () => !this.required || !!this.choisedRadio || 'Пожалуйста, выберите один из вариантов'
    ]
  }

  get isChoisedUserOption (): Boolean {
    return this.userOption ? this.isChoised(this.userOption) : false
  }

  // Флаг заполненности пользовательского поля в случае его выбора
  get userValueApprove (): Boolean {
    return this.isChoisedUserOption ? this.userValueFilled : true
  }

  get galleryImage (): Array<Object> {
    let images = this.hop.image.map( (img: string) => {
      return {
        src: img,
        description: this.hop.content
      }
    })
    return images
  }

  get hopFilled (): Boolean {
    if (this.required) {
      this.$emit('filled', !!this.choisedRadio && this.userValueApprove)
      return !!this.choisedRadio && this.userValueApprove
    } else {
      this.$emit('filled', this.userValueApprove)
      return this.userValueApprove
    }
  }

  get percentageOfCorrectlyStudents () {
    if(auth.user.commonStatistics !== undefined) {
      const resultHops = auth.user.commonStatistics.filter(item => {
          return item.hop_id === this.hop._id
      })
      const answersHop = resultHops.filter(item => item.isCorrect)
      if(resultHops.length === 0) return 0
      return Math.floor(answersHop.length / resultHops.length * 100)
    }
  }

  get averageTimeSpent () {
    if(auth.user.commonStatistics !== undefined) {
      const resultHops = auth.user.commonStatistics.filter(item => {
          return item.hop_id === this.hop._id
      })
      const answersHop = resultHops.reduce( (acc,item) => {
        return item.time + acc
      }, 0)
      if(resultHops.length === 0) return this.$moment.utc(0).format('mm [min] ss [sec]')
      return this.$moment.utc(Math.floor(answersHop / resultHops.length) * 1000).format('mm [min] ss [sec]')
    }
  }

  get averageTimeCorrectAnswer () {
    if(auth.user.commonStatistics !== undefined) {
      const resultHops = auth.user.commonStatistics.filter(item => {
          return item.hop_id === this.hop._id
      })
      const answersHop = resultHops.reduce( (acc,item) => {
        return item.isCorrect ? item.time + acc : 0 + acc
      }, 0)
      if(resultHops.length === 0) return this.$moment.utc(0).format('mm [min] ss [sec]')
      return this.$moment.utc(Math.floor(answersHop / resultHops.length) * 1000).format('mm [min] ss [sec]')
    }
  }

  mounted (): void {
    this.init()
  }

  init (): void {
    this.choisedRadio = this.choisedPrevious !== undefined ? this.choisedPrevious : ''
  }

  isChoised (option: Option): boolean {
    return Number(this.choisedRadio) === option.id
  }
}

</script>

<style lang="sass">
  textarea
    margin-bottom: 10px

  #silentbox-gallery
    display: flex

    & .silentbox-item
      text-decoration: none
      display: flex

      & img
        width: 260px
        height: 260px
        object-fit: contain
        flex: none
        margin-right: 8px
        border: 2px solid #00abba
        border-radius: 20px
        background-color: white

  .v-radio > .v-label
    font-size: 16px
    font-weight: 400px
    color: black
  
  .theme--light.v-label
    color: rgba(0, 0, 0, 1) !important

  .v-input--selection-controls .v-input__control
    width: 100%

  .number-quest
    position: relative
    width: 62px
    height: 62px
    background-color: #00abba
    border-radius: 20px
    display: flex
    justify-content: center
    align-items: center
    top: 54px
    left: -38px
    z-index: 2
</style>
