<template lang='pug'>
v-main
  v-container#statistics( fluid tag='section' )
    v-row( style='place-content: center;' )
      h2.display-3 Aggregated Statistics
    v-row
      v-col( cols='12' lg='6' v-if='isAuthenticated' )
        coreStatsCard(
          color='transparent'
          colorPlace='#ff4484'
          icon=''
          :place='correctnessRank.toString()'
          :placePercentage='correctnessPercentageRank.toString()'
          title='Your average accuracy per test'
          :value='averageAccuracyPerTest + "%"'
          sub-icon='mdi-clock-outline'
          :sub-text='`Updated: ${ updatedTime }`'
        )
      v-col( cols='12' lg='6' v-if='isAuthenticated' )
        coreStatsCard(
          color='transparent'
          colorPlace='#2ca2ff'
          :place='timingRank.toString()'
          :placePercentage='timingPercentageRank.toString()'
          icon=''
          title='Average time spent on each test'
          :value='averageTimeSpentOnEachTest.toString()'
          sub-icon='mdi-tag'
          :sub-text='`Updated: ${ updatedTime }`'
        )
      v-col( cols='12' )
        coreChartCard(
          :data='emailsSubscriptionChart.data'
          :options='emailsSubscriptionChart.options'
          :heigntChart='70'
          color='#ff4484'
          type='Bar'
        )
          template( #title )
            div.my-2.text-center
              span.display-2.font-weight-light Percentage of correct answers
          template( v-slot:actions )
            v-icon.mr-1( small )
              | mdi-clock-outline
            span.caption.grey--text.font-weight-light Updated {{ updatedTime }}
      v-col( cols='12' )
        coreChartCard(
          :data='averageTimeSpendToTopic.data'
          :options='averageTimeSpendToTopic.options'
          color='#2ca2ff'
          :heigntChart='70'
          type='Time-Bar'
        )
          template( #title )
            div.my-2.text-center
              span.display-2.font-weight-light Average time spent on each topic
          template( v-slot:actions )
            v-icon.mr-1( small )
              | mdi-clock-outline
            span.caption.grey--text.font-weight-light Updated {{ updatedTime }}
      v-col( cols='12' v-if='isAuthenticated' )
        //- v-chip-group(
          v-model='chipData'
          center-active
          mandatory
          @change='changeChipData'
          active-class="primary--text"
        //- )
          v-chip( v-for='label in this.labelsSubThemes' :key='label')
            span.display-1.font-weight-light {{ label }}
        div.d-flex.justify-center.align-center( )
          span.mr-3.display-1 Top
          v-chip-group(
            v-model='percentageData'
            mandatory
            @change="reloadRadar()"
            center-active
            active-class="primary--text"
          )
            v-chip( v-for='label in percentages' :key='label')
              span.display-1.font-weight-light {{ label }}%
          span.ml-2.display-1 for Others
        div.mt-4.d-flex.justify-center
          span.display-2.font-weight-light Your current percentile: top <b>{{ correctnessPercentageRank }}% </b>
        div.mt-4.d-flex.justify-center
          span.display-2.font-weight-light Your future percentile: top <b>{{ futurePercentileCurrentUser }}% </b>
        div.mt-4.d-flex.justify-center
          v-btn( rounded color='info' @click="resetPersonalTestData()" ) Reset graph
      v-col( cols='12' v-if='isAuthenticated' )
        coreChartCard(
          v-if='isReloadRadar'
          :data='radarData.data'
          :options='radarData.options'
          color='#2ca2ff'
          :heigntChart='210'
          type='Radar'
          :key='Math.random()'
        )
          template( #title )
            div.my-2.text-center
              span.display-2.font-weight-light You vs. Others on each test
          template( v-slot:actions )
            v-icon.mr-1( small )
              | mdi-clock-outline
            span.caption.grey--text.font-weight-light Updated {{ updatedTime }}
      v-col( cols='12' )
        percentageOfCorrect( :nuxtChildKey='nuxtChildKey' :updatedTime='updatedTime' :labelsPercentageOfCorrectAnswers='labelsPercentageOfCorrectAnswers' )
        timeSpentOnEachTest( :nuxtChildKey='nuxtChildKey' :updatedTime='updatedTime' :labelsPercentageOfCorrectAnswers='labelsPercentageOfCorrectAnswers' )
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator';

import { lk, auth, templates, app, pollsStore, resultsStore, resultPollStore } from '~/store'

import { findLast } from 'lodash'
import percentageOfCorrect from '~/components/charts/percentageOfCorrect.vue'
import timeSpentOnEachTest from '~/components/charts/timeSpentOnEachTest.vue'

import coreCard from '~/components/core/coreCard.vue'
import coreStatsCard from '~/components/core/coreStatsCard.vue'
import coreChartCard from '~/components/core/coreChartCard.vue'
import { ResultUser, Statistic } from '~/interfaces/interfaceUser'
import { Hop } from '~/interfaces/interfaceHops'

@Component({
  layout: 'dashboard',
  name:'Statistics',
  components: {
    coreCard,
    coreStatsCard,
    coreChartCard,
    percentageOfCorrect,
    timeSpentOnEachTest
  },
  fetch({ redirect }) {
    // if( !auth.isAuthenticated && !auth.isAnonimous ) {
    //   redirect('/')
    // }
  }
})
export default class Statistics extends Vue {
  @Prop({ type: String, required: true }) readonly nuxtChildKey!: string

  isReloadRadar = true

  personalTestData = []

  percentageData: number | undefined | null = 8
  percentages: number[] = [ 1, 2, 3, 5, 10, 20, 30, 40, 50 ]
  chipData: number = 8

  radarData = {
    data: {
      labels: this.labelsSubThemes,
      datasets: [
         {
          label: 'Correct % for you',
          borderColor: '#ff6384',
					backgroundColor: '#ffc5d154',
					pointBackgroundColor: '#ff6384',
          data: []
        },
        {
          label: 'Correct % for others',
          borderColor: '#36a2eb',
					backgroundColor: '#79c1f14d',
          pointBackgroundColor: '#36a2eb',
          dragData: false,
          data: this.percentageOfCorrectAnswersOnEechThemeAverage
          // data: auth.user.averageStatistics[this.nuxtChildKey].percentageOfCorrectAnswersOnEechThemeAverage
        }
      ]
    },
    options: {
      responsive: true,
      dragData: true,
      dragDataRound: -1,
      dragOptions: {
        showTooltip: true
      },
      // onDragStart: function(e) {    // когда человек поменял контур, просто посчитать процент, который был бы у такого контура, относительно остальных пользователей...
      // },
      onDrag: function(e, datasetIndex, index, value) {
        e.target.style.cursor = 'grabbing'
      },
      onDragEnd: (e, datasetIndex, index, value) => {
        e.target.style.cursor = 'default'
        let tmp = this.personalTestData.findIndex(item => item.label === this.labelsSubThemes[index])
        if(tmp !== -1) {
          this.personalTestData[tmp] = { label: this.labelsSubThemes[index], value: value }
        } else {
          this.personalTestData.push({ label: this.labelsSubThemes[index], value: value })
        }
        this.futurePercentileCurrentUser
      },
      title: {
        display: false,
        text: 'You vs. Others on each tests',
        fontSize: 20,
        fontColor: 'black'
      },
      tooltips:{
        callbacks: {
          title: (tooltipItem: any, data: any) => {
            let str = ''
            tooltipItem.forEach((item: any) => {
              str += data.labels[item.index] + ' & '
            })
            return str.slice(0, -2)
          },
          label: (tooltipItem: any, data: any) => {
            let label = tooltipItem.value || 0
            return data.datasets[tooltipItem.datasetIndex].label + ': ' + label + '%'
          }
        }
      },
      hover: {
        animationDuration: 500,
        onHover: function(e) {
          const point = this.getElementAtEvent(e)
          if (point.length) e.target.style.cursor = 'grab'
          else e.target.style.cursor = 'default'
        }
      },
      layout: {
        padding: {
          top: 0
        }
      },
      animation: {
        duration: 0,
      },
      legend: {
        display: true,
        labels: {
          fontColor: 'black',
          fontSize: 16
        }
      },
      elements: {
        line: {
          tension: 0.0,
        }
      },
      scale: {
        pointLabels: {
          fontSize: 13
        },
        ticks: {
          min: -10,
          stepSize: 10,
          max: 100,
          callback: function (label) {
            return Math.round(label) + '%'
          }
        }
      }
    }
  }
  emailsSubscriptionChart = {
    data: {
      labels: this.themes,
      datasets: [
         {
          label: 'All users',
          barPercentage: 0.8,
          categoryPercentage: 0.3,
          borderWidth: 1,
          backgroundColor: this.colorChart('#00f2c3', '#00f2c326'),
          borderDash: [],
          borderDashOffset: 0.0,
          // data: this.percentageCorrectAnwsersOfTopicAverage
          data: auth.user.averageStatistics[this.nuxtChildKey].percentageCorrectAnwsersOfTopicAverage
        },
        {
          label: 'You',
          barPercentage: 0.8,
          categoryPercentage: 0.3,
          borderWidth: 1,
          backgroundColor: this.colorChart('#4848b0', '#4848b026'),
          borderDash: [],
          data: this.percentageCorrectAnwsersOfTopic
        }
      ]
    },
    options: {
      responsive: true,
      barValueSpacing: 30,
      title: {
        display: false,
        text: 'Percentage of correct answers',
        fontSize: 22,
        fontColor: 'black'
      },
      hover: {
        animationDuration: 0
      },
      layout: {
        padding: {
          top: 0
        }
      },
      animation: {
        duration: 1000,
        onComplete: () => {},
      },
      legend: {
        display: true,
        onClick: false,
        labels: {
          fontColor: 'black',
          fontSize: 15
        }
      },
      tooltips: {
        enabled: false
      },
      scales: {
        xAxes: [{
          gridLines: {
            display: true,
            drawBorder: true,
            drawOnChartArea: false,
          },
          ticks: {
            fontColor: 'black',
            fontSize: 15
          }
        }],
        yAxes: [{
          gridLines: {
            display: true,
            drawBorder: true,
            drawOnChartArea: false,
            drawTicks: false,
          },
          ticks: {
            display: false,
            stepSize: 2,
            min: 0,
            fontColor: 'black',
            fontSize: 15
          }
        }],
      }
    }
  }
  averageTimeSpendToTopic = {
    data: {
      labels: this.themes,
      datasets: [
         {
          label: 'All users',
          barPercentage: 0.8,
          categoryPercentage: 0.3,
          borderWidth: 1,
          backgroundColor: this.colorChart('#00f2c3', '#00f2c326'),
          borderDash: [],
          borderDashOffset: 0.0,
          // data: this.averageTimeSpendToTopicValueUsers
          data: auth.user.averageStatistics[this.nuxtChildKey].averageTimeSpendToTopicValueUsers
        },
        {
          label: 'You',
          barPercentage: 0.8,
          categoryPercentage: 0.3,
          borderWidth: 1,
          backgroundColor: this.colorChart('#4848b0', '#4848b026'),
          borderDash: [],
          borderDashOffset: 0.0,
          // data: [0,0,0,0]
          data: this.averageTimeSpendToTopicValue
        }
      ]
    },
    options: {
      responsive: true,
      hover: {
        animationDuration: 0
      },
      title: {
        display: false,
        text: 'Average time spent on each topic',
        fontColor: 'black',
        fontSize: 22,
      },
      layout: {
        padding: {
          top: 0
        }
      },
      animation: {
        duration: 1000,
        onComplete: () => {}
      },
      legend: {
        display: true,
        onClick: false,
        labels: {
          fontColor: 'black',
          fontSize: 15

        },
      },
      tooltips: {
        enabled: false
      },
      scales: {
        xAxes: [{
          gridLines: {
            display: true,
            drawBorder: true,
            drawOnChartArea: false,
          },
          ticks: {
            fontColor: 'black',
            fontSize: 15
          }
        }],
        yAxes: [{
          gridLines: {
            display: true,
            drawBorder: true,
            drawOnChartArea: false,
            drawTicks: false,
          },
          ticks: {
            display: false,
            stepSize: 2,
            min: 0,
            fontColor: 'black',
            fontSize: 15
          }
        }],
      }
    }
  }

  colorChart (color: string, colorWithOpacity: string) {
    let ctx = document.createElement("canvas").getContext("2d");
    let gradientStroke = ctx.createLinearGradient(0,230,0,50);
    gradientStroke.addColorStop(1, color);
    gradientStroke.addColorStop(0, colorWithOpacity);
    return gradientStroke
  }

  get futurePercentileCurrentUser () {
    if(this.personalTestData.length !== 0) {
      this.personalTestData.forEach(item => {
        const indexLabel = this.labelsSubThemes.findIndex(label => label === item.label)
      })

      let res: any = {}

      let sortedUserWithOutCurrentUser = Object.assign({}, this.sortedUsers)

      delete sortedUserWithOutCurrentUser[auth.user._id]

      for(const user in sortedUserWithOutCurrentUser) {
        this.labelsSubThemes.forEach(theme => {
          res[user] === undefined ? res[user] = [auth.user.commonStatistics.filter(answer => answer.subTag === theme && answer.section === this.nuxtChildKey && answer.user_id === user)]
            : res[user].push(auth.user.commonStatistics.filter(answer => answer.subTag === theme && answer.section === this.nuxtChildKey && answer.user_id === user))
        })
      }
      let series = {}

      for(const user in res) {
        res[user].forEach(results => {
          const filtredTrueHop = results.filter(item => item.isCorrect)
          if(results.length === 0) series[user] === undefined ? series[user] = [0] : series[user].push(0)
          else series[user] === undefined ? series[user] = [Math.floor(filtredTrueHop.length / results.length * 100)] : series[user].push(Math.floor(filtredTrueHop.length / results.length * 100))
        })
      }

      for(const item in series) {
        series[item] = series[item].reduce((res, acc) => {
          return res += acc
        }, 0)
      }

      let userSum = this.percentageofCorrectAnswersOnEechTheme.reduce((res, acc) => {
        return res += acc
      }, 0)

      series[auth.user._id] = userSum

      let sortedKeys = Object.keys(series).sort(function (a, b) {
        return series[b] - series[a]
      })

      let sortedAndSliceStat = {}

      for(let i = 0; i < sortedKeys.length; i++) {
        sortedAndSliceStat[sortedKeys[i]] = series[sortedKeys[i]]
      }

      const place = sortedKeys.findIndex((item, index) => {
        return item === auth.user._id
      })

      let percentage = ((place + 1) / sortedKeys.length * 100) < 1 ? 1 : Math.round((place + 1) / sortedKeys.length * 100)

      if(percentage > this.correctnessPercentageRank)
        percentage = this.correctnessPercentageRank

      return percentage
    } else {
      return this.correctnessPercentageRank
    }
  }

  get percentageOfCorrectAnswersOnEechThemeAverage () {
    if(this.percentageData !== undefined && this.percentageData !== null) {
      if(auth.user.commonStatistics) {
        let series = []
        
        let keys = Object.keys(this.sortedUsers)
        let users = {}
        let percentPeople = Math.round(this.percentages[this.percentageData] / 100 * keys.length)

        if(percentPeople < 1) percentPeople = 1
        console.warn(percentPeople);

        keys = keys.slice(0, percentPeople)
        console.warn(keys);
        if(this.sortedUsers[keys[keys.length - 1]] !== 0)
          users[keys[keys.length - 1]] = this.sortedUsers[keys[keys.length - 1]]
        else
          users[keys[keys.length - 2]] = this.sortedUsers[keys[keys.length - 2]]

        console.warn(users);

        for(const theme of this.labelsSubThemes) {
          let filteredOnTheme = []
          for(const user in users) {
            filteredOnTheme.push(auth.user.commonStatistics.filter(answer => answer.subTag === theme && answer.section === this.nuxtChildKey && answer.user_id === user))
          }
          filteredOnTheme = filteredOnTheme.flat()
          const filtredTrueHop = filteredOnTheme.filter(item => item.isCorrect)
          if(filteredOnTheme.length === 0) series.push(0)
          else series.push(Math.floor(filtredTrueHop.length / filteredOnTheme.length * 100))
        }
        return series
      }
    } else {
      return auth.user.averageStatistics[this.nuxtChildKey].percentageOfCorrectAnswersOnEechThemeAverage
    }
  }

  get percentageofCorrectAnswersOnEechTheme () {
    const series = []
    let fromLocal = JSON.parse(localStorage.getItem('adaptive/polls/historyLS')) ? JSON.parse(localStorage.getItem('adaptive/polls/historyLS')) : []
    if(auth.user.statistics !== undefined && auth.user.statistics[this.nuxtChildKey]) {
      const flat: Statistic[] = auth.user.statistics[this.nuxtChildKey].flat()
      for(const theme of this.labelsSubThemes) {
        const filteredOnTheme = flat.filter(answer => answer.subTag === theme)
        const filtredTrueHop = filteredOnTheme.filter(item => item.isCorrect)
        if(filteredOnTheme.length === 0) series.push(0)
        else series.push(Math.floor(filtredTrueHop.length / filteredOnTheme.length * 100))
      }
    } else if(fromLocal.length !== 0) {
      let filteredOnTheme = []
      for(const theme of this.themes) {
        let countTrue = 0
        let countHops = 0
        fromLocal ? fromLocal = fromLocal.filter(item => item.section === this.nuxtChildKey) : ''
        fromLocal.forEach(result => {
          if(result) {
            filteredOnTheme = result.sorted.map((hop) => hop.subtags === theme ? hop : false)
            filteredOnTheme.forEach(hop => {
              let currentAnswer = result.answers ? result.answers.find(res => res.hop_id === hop._id) : false
              if(hop && currentAnswer && currentAnswer.options[0]) {
                hop.correctAnswer[0] === currentAnswer.options[0].id ? countTrue++ : ''
                countHops++
              }
            })
          }
        })
        if(filteredOnTheme.length === 0) series.push(0)
        else series.push(Math.floor(countTrue / countHops * 100))
      }
    }
    if (this.personalTestData.length !== 0) {
      this.personalTestData.forEach(test => {
        const index = this.labelsSubThemes.findIndex(item => {
          return item === test.label
        })
        if(index !== -1) {
          series[index] = test.value
        }
      })
    }
    return series
  }

  get averageTimeSpendToTopicValue () {
    const series = []
    let fromLocal = JSON.parse(localStorage.getItem('adaptive/polls/historyLS')) ? JSON.parse(localStorage.getItem('adaptive/polls/historyLS')) : []
    if(auth.user.statistics !== undefined && auth.user.statistics[this.nuxtChildKey]) {
      const flat: Statistic[] = auth.user.statistics[this.nuxtChildKey].flat()
      for(const theme of this.themes) {
        const filteredOnTheme = flat.filter(answer => answer.tag === theme)
        const allTimeOnTheme = filteredOnTheme.reduce((acc, item) => {
          return item.time + acc
        }, 0)
        if(filteredOnTheme.length === 0) series.push(0)
        else series.push(Math.round(allTimeOnTheme / filteredOnTheme.length))
      }
    } else if(fromLocal.length !== 0) {
      let filteredOnTheme = []
      for(const theme of this.themes) {
        let allTimeOnTheme = 0
        let countHopsOnTheme = 0
        fromLocal ? fromLocal = fromLocal.filter(item => item.section === this.nuxtChildKey) : ''
        fromLocal.forEach(result => {
          // const poll = resultPollStore.pollStoreHistory.find(poll => poll._id === result.poll_id && poll.section === this.nuxtChildKey)
          if(result) {
            filteredOnTheme = result.sorted.map((hop) => hop.tags === theme ? hop : false)
            filteredOnTheme.forEach(hop => {
              let currentAnswer = result.answers ? result.answers.find(res => res.hop_id === hop._id) : false
              if(currentAnswer) {
                allTimeOnTheme += currentAnswer.time
              }
              countHopsOnTheme++
          })
          }
        })
        if(filteredOnTheme.length === 0) series.push(0)
        else series.push(Math.round(allTimeOnTheme / countHopsOnTheme))
      }
    }
    return series
  }

  get percentageCorrectAnwsersOfTopic () {
    const series = []
    let fromLocal = JSON.parse(localStorage.getItem('adaptive/polls/historyLS')) ? JSON.parse(localStorage.getItem('adaptive/polls/historyLS')) : []
    if(auth.user.statistics !== undefined && auth.user.statistics[this.nuxtChildKey]) {
      const flat: Statistic[] = auth.user.statistics[this.nuxtChildKey].flat()
      for(const theme of this.themes) {
        const filteredOnTheme = flat.filter(answer => answer.tag === theme)
        const filtredTrueHop = filteredOnTheme.filter(item => item.isCorrect)
        if(filteredOnTheme.length === 0) series.push(0)
        else series.push(Math.floor(filtredTrueHop.length / filteredOnTheme.length * 100))
      }
    } else if(fromLocal.length !== 0) {
      let filteredOnTheme = []
      for(const theme of this.themes) {
        let countTrue = 0
        let countHops = 0
        fromLocal ? fromLocal = fromLocal.filter(item => item.section === this.nuxtChildKey) : ''
        fromLocal.forEach(result => {
          // const poll = resultPollStore.pollStoreHistory.find(poll => poll._id === result.poll_id && poll.section === this.nuxtChildKey)
          if(result) {
            filteredOnTheme = result.sorted.map((hop) => hop.tags === theme ? hop : false)
            filteredOnTheme.forEach(hop => {
              let currentAnswer = result.answers ? result.answers.find(res => res.hop_id === hop._id) : false
              if(hop && currentAnswer && currentAnswer.options[0]) {
                hop.correctAnswer[0] === currentAnswer.options[0].id ? countTrue++ : ''
                countHops++
              }
            })
          }
        })
        if(filteredOnTheme.length === 0) series.push(0)
        else series.push(Math.floor(countTrue / countHops * 100))
      }
    }
    return series
  }

  get averageAccuracyPerTest () {
    if(auth.user.correctness && auth.user.correctness[this.nuxtChildKey]) {
      return Math.floor(auth.user.correctness[this.nuxtChildKey + '_percent'])
    } else {
      return 0
    }
  }

  get averageTimeSpentOnEachTest () {
    if(auth.user.timing && auth.user.timing[this.nuxtChildKey]) {
      if(auth.user.timing[this.nuxtChildKey] > 3800) {
        return this.$moment.utc(Math.floor(auth.user.timing[this.nuxtChildKey]) * 1000).format('h [hour] mm [min] ss [sec]')
      }
      return this.$moment.utc(Math.floor(auth.user.timing[this.nuxtChildKey]) * 1000).format('mm [min] ss [sec]')
    } else {
      return 0
    }
  }

  get placeOnLeaderboards ():any {
    if(auth.user.rank) return auth.user.rank.toString()
    else return '0'
  }

  get userRating ():any {
    if(auth.user.rating) return auth.user.rating.toString()
    else return '0'
  }

  get timingRank () {
    if(auth.user.timingRank) return auth.user.timingRank[this.nuxtChildKey]
    else return 0
  }

  get correctnessRank () {
    if(auth.user.correctnessRank) return auth.user.correctnessRank[this.nuxtChildKey]
    else return 0
  }

  get timingPercentageRank () {
    if(auth.user.timingRank) return auth.user.timingRank[this.nuxtChildKey + '_percent']
    else return 0
  }

  get correctnessPercentageRank () {
    if(auth.user.correctnessRank) return auth.user.correctnessRank[this.nuxtChildKey + '_percent']
    else return 0
  }

  get updatedTime () {
    if(auth.user.results !== undefined && auth.user.results.length !== 0) {
      const time = auth.user.results[auth.user.results.length - 1].created_at
      return this.$moment(time).fromNow()
    } else if(resultsStore.resultPoll.length !== 0) {
      return this.$moment(resultsStore.resultPoll[0].created_at).fromNow()
    }
  }

  get labelsSubThemes () {
    let labels: string[] = []
    this.themes.forEach(item => {
      this.subThemes[item].forEach((subItem: any) => {
        labels.push(subItem)
      })
    })
    return labels
  }

  get isAuthenticated () {
    return auth.isAuthenticated
  }

  get statusDrawer() {
    return app.drawer
  }

  get sortedUsers () {
    if(auth.user.commonStatistics) {
        let stats: object = {}
        let res: any = []
        auth.user.commonStatistics.forEach(item => {
          if(item.user_id !== 'null' && item.user_id !== null && item.section === this.nuxtChildKey) {
            if(stats[item.user_id] === undefined) {
              stats[item.user_id] = item.isCorrect ? 1 : 0
            } else {
              stats[item.user_id] += item.isCorrect ? 1 : 0
            }
          }
        })
        let sortedKeys: Array<string> = []
        console.warn(stats);
        sortedKeys = Object.keys(stats).sort(function (a, b) {
          return stats[b] - stats[a]
        })
        
        let sortedAndSliceStat = {}
        // let percentPeople = Math.round(this.percentages[this.percentageData] / 100 * sortedKeys.length)

        // if(percentPeople < 1) percentPeople = 1

        for(let i = 0; i < sortedKeys.length; i++) {
          sortedAndSliceStat[sortedKeys[i]] = stats[sortedKeys[i]]
        }
        console.warn(sortedAndSliceStat);


        return sortedAndSliceStat
    }
  }

  beforeMount () {
    this.radarData.data.datasets[0].data = this.percentageofCorrectAnswersOnEechTheme
    this.getRadarData()
  }

  resetPersonalTestData () {
    this.isReloadRadar = false
    this.personalTestData.splice(0, this.personalTestData.length)
    this.radarData.data.datasets[0].data = this.percentageofCorrectAnswersOnEechTheme
    this.$nextTick(() => {
      this.isReloadRadar = true
    })
  }

  changeChipIndex (index) {
    this.chipData = index
  }

  changeChipData ( val: number ) {
    let index = -1
    if(this.personalTestData.length !== 0) {
      index = this.personalTestData.findIndex(item => {
        return item.label === this.labelsSubThemes[this.chipData]
      })
    }
    if(index !== -1) {
      this.percentageData = Math.round( this.personalTestData[index].value / 10) - 1
    } else {
      this.percentageData = Math.round( this.percentageofCorrectAnswersOnEechTheme[val] / 10 ) - 1
    }
    this.percentageData <= 0 ? this.percentageData = 0 : ''
  }

  getRadarData() {
    this.radarData.data.datasets[1].data = this.percentageOfCorrectAnswersOnEechThemeAverage
  }

  reloadRadar (){
    this.getRadarData()
  }

  get themes () {
    if(this.nuxtChildKey === 'math_nocalc' || this.nuxtChildKey === 'math_calc' || this.nuxtChildKey === 'personal') {
      return app.themesSAT
    } else if (this.nuxtChildKey === 'olympics') {
      return app.themesOlympic
    }
  }

  get subThemes () {
    if(this.nuxtChildKey === 'math_nocalc' || this.nuxtChildKey === 'math_calc' || this.nuxtChildKey === 'personal') {
      return app.subThemesSAT
    } else if (this.nuxtChildKey === 'olympics') {
      return app.subThemesOlympic
    }
  }

  get labelsPercentageOfCorrectAnswers () {
    if(pollsStore.items) {
    let countPolls: number[] = []
      const filteredPolls = pollsStore.items.filter((item) => {
        if(item.section === this.nuxtChildKey) {
          if(this.nuxtChildKey === 'personal') {
            return item.recipient_id !== null ? item.recipient_id === auth.user._id : false
          } else {
            return true
          }
        }
      })
      filteredPolls.forEach((item, key) => {
        countPolls.push(key + 1)
      })
      return countPolls
    }
  }


}

</script>

<style lang='sass' >

  #statistics
    .theme--light.v-data-table tbody tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper)
      background: #ffffff

    .v-slide-group__content
      place-content: center

    .v-card--material-chart
      p
        color: #999

    .v-card--material__heading
      max-height: 450px
      height: fit-content

  .v-tabs--icons-and-text > .v-tabs-bar
    height: 56px

</style>
