<template lang="pug">
  CalcTest
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { pollState, templates, auth } from '~/store'

import CalcTest from '~/components/hopsCreate/indexCalc.vue'

@Component({
  middleware: 'isAdmin',
  name: 'ConstructorStep',
  components: {
    CalcTest
  },
  fetch ({ redirect }) {
    const hop = {
      _id: '0',
      content: '',
      options: [],
      poll_id: '1',
      image: [],
      correctAnswer: '',
      tags: [],
      subTags: [],
      complexity: '',
      explanation: ''
    }
    const poll = {
      _id: '0',
      name: '',
      description: '',
      type: 'SAT',
      created_at: '',
      published_at: '',
      closed_at: '',
      updated_at: '',
      sort: [ '0' ],
      sorted: [ hop ],
      isPublished: false,
      isActive: true,
      results: [],
      section: 'math_calc',
      user_id: auth.user._id,
      timeToSolution: '',
    }
    pollState.createHop(poll)
  }
})

export default class Constructor_Step extends Vue {
}

</script>
