<template lang="pug">
div#result-review.mx-7
  v-card.pb-1( color="#e8f5fd" width="100%" max-width="900px" style='border-radius: 20px' elevation="0" )
    div.number-quest-result( style="")
      span.white--text.headline {{ step }}
    v-card-title.pt-7.mb-3.d-flex( )
      div( style='background-color: white; border-radius: 40px; width: 100%; padding: 15px' )
        div( v-text='hop.content' style=" word-break: break-word; text-align: center;" v-katex:auto='{ delimiters: [ {left: "$$", right: "$$", display: true}, {left: "\\[", right: "\\]", display: true}, {left: "$", right: "$", display: false}, {left: "\\(", right: "\\)", display: false} ], trust: true}')
        //- vue-mathjax.ma-5( style=" word-break: break-word; text-align: center;" :formula="hop.content" :safe='false' )
        
        v-col.d-flex.align-center.justify-center( cols='12' v-if='hop.image.length !== 0 ')
          silent-box( :gallery="galleryImage" thumbnailHeight="126" thumbnailWidth="126" :inner='true')
            template( #inner-image )
    v-card-text.mb-3( style='border-radius: 26px; background-color: white; width: 96%; margin: auto; padding-top: 10px;' )
      v-row
        v-col( cols="12" lg='7')
          v-radio-group(
            v-model="choisedRadio"
            column
            @change='fireChanged'
            :rules='validaitonRadio'
            style="width: 100%"
            :error="userAnswer !== correctAnswer && userAnswer === choisedRadio"
            :success="userAnswer === correctAnswer && userAnswer === choisedRadio"
            readonly
          )
            template(v-for='(option, index) in options')
              v-radio.ma-4(
                style="width: 95%; word-break: break-word;"
                :key='option.id'
                :value='option.id'
                :label="option.value"
                :class='option.id === correctAnswer ? "color--success" : "color--error"'
                :ripple='false'
              )
                template( #label )
                  span.mr-3( :class='option.id === correctAnswer ? "color--success" : "color--error"' style='word-break: break-all;' ) ({{Letters[index]}})
                  //- vue-mathjax( :formula="option.value" :safe='false' )
                  div( v-text='option.value' v-katex:auto='{ delimiters: [ {left: "$$", right: "$$", display: true}, {left: "\\[", right: "\\]", display: true}, {left: "$", right: "$", display: false}, {left: "\\(", right: "\\)", display: false} ], trust: true}')
                  client-only
                    silent-box.ml-9.mt-1( v-if='option.image' :image="{ src: option.image }" thumbnailHeight="126" thumbnailWidth="126" :inner='true')
                  span.ml-3.font-weight-bold( v-if='option.id === correctAnswer' style='color: #4caf50') - Correct answer 
          div
            span {{`Time spent: ` + timeSpentHop}}
        v-col( cols='12' lg='5' )
          div.pa-4.elevation-3.card--answer()
            //- vue-mathjax.font-weight-light.subtitle-1( :formula="hop.explanation" :safe='false' )
            div.font-weight-light.subtitle-1( v-text='hop.explanation' v-katex:auto='{ delimiters: [ {left: "$$", right: "$$", display: true}, {left: "\\[", right: "\\]", display: true}, {left: "$", right: "$", display: false}, {left: "\\(", right: "\\)", display: false} ], trust: true}')
            //- span {{ hop.explanation }}
    v-card-actions.mb-5( style='border-radius: 26px; background-color: white; width: 96%; margin: auto;' )
      .d-flex.flex-column.align-start( style='width: 100%;' )
        div.mb-1
          span {{ percentageOfCorrectlyStudents + `% of students solved this problem correctly`}}
        div.mb-1
          span {{`Average time spent: ` + averageTimeSpent}}
        div.mb-1
          span {{`Correct solutions, on average, took: ` + averageTimeCorrectAnswer}}
</template>

<script lang='ts'>
import { Component, Mixins, Prop, Vue } from 'vue-property-decorator'

import mixinHops from '../__mixinCommonMethods'

import { Hop, Option } from '~/interfaces/interfaceHops'
import { auth } from '~/store'

@Component
export default class RadioTS extends Mixins(mixinHops, Vue) {
  @Prop({ type: Object, required: false }) readonly hop!: Hop
  @Prop({ type: Number, required: false }) readonly correctAnswer!: number
  @Prop({ type: Number, required: false }) readonly userAnswer!: number
  @Prop({ type: Number, required: false }) readonly userTime!: number
  @Prop({ type: String, required: false }) readonly routeId!: string

  @Prop({ type: Number, required: true}) readonly step!: number

  choisedRadio: String | Number = ''

  Letters: string[] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

  get percentageOfCorrectlyStudents () {
    if(auth.user.commonStatistics !== undefined) {
      const resultHops = auth.user.commonStatistics.filter(item => {
          return item.hop_id === this.hop._id
      })
      const answersHop = resultHops.filter(item => item.isCorrect)
      if(resultHops.length === 0) return 0
      return Math.floor(answersHop.length / resultHops.length * 100)
    }
  }

  get averageTimeSpent () {
    if(auth.user.commonStatistics !== undefined) {
      const resultHops = auth.user.commonStatistics.filter(item => {
          return item.hop_id === this.hop._id
      })
      const answersHop = resultHops.reduce( (acc,item) => {
        return item.time + acc
      }, 0)
      if(resultHops.length === 0) return '00:00'
      return this.$moment.utc(Math.floor(answersHop / resultHops.length) * 1000).format('mm [min] ss [sec]')
    }
  }

  get averageTimeCorrectAnswer () {
    if(auth.user.commonStatistics !== undefined) {
      const resultHops = auth.user.commonStatistics.filter(item => {
          return item.hop_id === this.hop._id
      })
      const answersHop = resultHops.reduce( (acc,item) => {
        return item.isCorrect ? item.time + acc : 0 + acc
      }, 0)
      if(resultHops.length === 0) return '00:00'
      return this.$moment.utc(Math.floor(answersHop / resultHops.length) * 1000).format('mm [min] ss [sec]')
    }
  }
  
  get timeSpentHop () {
    if(this.userTime >= 0) {
      return this.$moment.utc(this.userTime * 1000).format('mm [min] ss [sec]')
    } else {
      const id = this.routeId ? this.routeId : this.$route.query.answerId
      const result = auth.user.results.find(item => item._id === id)
      const hop = result ? result.answers.find(item => item.hop_id === this.hop._id) : ''
      return hop ? this.$moment.utc(Math.round(hop.time * 1000)).format('mm [min] ss [sec]') : '0 sec'

    }
  }

  get options (): Array<Option> {
    return this.hop.options || this.$options.hop
  }

  get clearUserValue (): string {
    return this.isChoisedUserOption ? this.trimUserValue : ''
  }

  get clearChoised (): Array<String | Number> {
    return !this.choisedRadio ? [] : [ this.choisedRadio ]
  }

  get validaitonRadio (): Array<Function> {
    return [
      () => !this.required || !!this.choisedRadio || 'Пожалуйста, выберите один из вариантов'
    ]
  }

  get isChoisedUserOption (): Boolean {
    return this.userOption ? this.isChoised(this.userOption) : false
  }

  // Флаг заполненности пользовательского поля в случае его выбора
  get userValueApprove (): Boolean {
    return this.isChoisedUserOption ? this.userValueFilled : true
  }

  get galleryImage (): Array<Object> {
    let images = this.hop.image.map( (img: string) => {
      return {
        src: img,
        description: this.hop.content
      }
    })
    return images
  }

  get hopFilled (): Boolean {
    if (this.required) {
      this.$emit('filled', !!this.choisedRadio && this.userValueApprove)
      return !!this.choisedRadio && this.userValueApprove
    } else {
      this.$emit('filled', this.userValueApprove)
      return this.userValueApprove
    }
  }

  mounted (): void {
    this.init()
  }

  init (): void {
    this.choisedRadio = this.userAnswer || this.$options.userAnswer
  }

  isChoised (option: Option): boolean {
    return Number(this.choisedRadio) === option.id
  }
}

</script>

<style lang="sass">
  textarea
    margin-bottom: 10px

  #silentbox-gallery
    display: flex

    & .silentbox-item
      text-decoration: none
      display: flex

      & img
        width: 260px
        height: 260px
        object-fit: contain
        flex: none
        margin-right: 8px

  .v-radio > .v-label
    font-size: 16px
    font-weight: 400px
    color: black

  .color--success

    & > .error--text
      color: #4caf50 !important
      caret-color: #4caf50 !important

    & > .v-input--selection-controls__input > .error--text
      color: #4caf50 !important
      caret-color: #4caf50 !important

  .color--error

    & > .success--text
      color: #ff5252 !important
      caret-color: #ff5252 !important

    & > .v-input--selection-controls__input > .success--text
      color: #ff5252 !important
      caret-color: #ff5252 !important

  .v-input--selection-controls .v-input__control
    width: 100%

  .card--answer
    border-radius: 20px
    width: 100%

  .number-quest-result
    position: absolute
    width: 62px
    height: 62px
    background-color: #00abba
    border-radius: 20px
    display: flex
    justify-content: center
    align-items: center
    top: -25px
    left: -38px
    z-index: 2

  #result-review

    .theme--light.v-label
      color: black

    .v-input--selection-controls .v-input--selection-controls__input:hover .v-input--selection-controls__ripple:before
      background: none
      transform: none
        // cursor:
    .v-input--selection-controls__input + .v-label
      cursor: auto
    
    .v-input--selection-controls__input input[role=radio]
      cursor: auto
</style>
