<template lang='pug'>
client-only
  v-main()
    v-container#review( fluid tag='section' v-if='themes')
      v-row( style='place-content: center;' )
        h1.display-3 {{namePoll}}
      v-row
        v-col( cols='12' md='4' )
          coreStatsCardBox(
            v-if='isAuthenticated'
            color='transparent'
            :colorPlace='mainColorReview(progress)'
            :placePercentage='rankAverageAccuracy.placePercentage.toString()'
            icon=''
            :place='rankAverageAccuracy.place.toString()'
            title='Average accuracy on the current test'
            :value='averageAccuracyPerCurrentTest + "%"'
          )
        v-col( cols='12' md='4' )
          coreCard( :color='mainColorReview(progress)' height="calc(100% - 15px)" )
            template( #heading )
              .display-3.font-weight-light
                | Correct answers
              .display-2.font-weight-light
                | {{ countTrueAnswers + ' of ' + countAnswers }}
            .text-center
              v-progress-circular.my-6(
                :rotate="-90"
                :size="200"
                :width="26"
                :value="progress"
                :color='mainColorReview(progress)'
              ) {{ progress }}%
        v-col( cols='12' md='4' )
          coreStatsCardBox(
            v-if='isAuthenticated'
            color='transparent'
            :colorPlace='mainColorReview(progress)'
            icon=''
            :place='rankAverageTimeSpent.place.toString()'
            :placePercentage='rankAverageTimeSpent.placePercentage.toString()'
            title='Average time spent on the current test'
            :value='averageTimeSpentOnCurrentTest'
          )
        v-col( cols='12' )
          v-card( min-height="824px" )
            v-card-text.d-flex( :class='$vuetify.breakpoint.mdAndDown || $vuetify.breakpoint.width <= 1600 ? "flex-column" : ""' )
              RadarChart( :result='result' :labelsSecond='labelsSecond' v-if='labelsSecond')
              div.d-flex.justify-center.mt-4
                v-simple-table.table-themes
                  template( #default )
                    thead
                      tr
                        th.text-left Topics
                        th.text-left Number of questions
                        th.text-left Correct Anwsers
                    tbody
                      tr( v-for='(item, index) in tableData' :key='index' )
                        td {{ item.theme }}
                        td {{ item.count }}
                        td {{ item.correctAnswers }}
        v-col( cols='12' )
          coreChartCard(
            v-if='emailsSubscriptionChart.data.datasets[0].data.length !== 0'
            :data='emailsSubscriptionChart.data'
            :options='emailsSubscriptionChart.options'
            :heigntChart='70'
            :color='mainColorReview(progress)'
            type='Bar'
          )
            h4.card-title.font-weight-light.mt-2.ml-20
        v-col( cols='12' )
          coreChartCard(
            v-if='averageTimeSpendToTopic.data.datasets[0].data.length !== 0'
            :data='averageTimeSpendToTopic.data'
            :options='averageTimeSpendToTopic.options'
            :color='mainColorReview(progress)'
            :heigntChart='70'
            type='Time-Bar'
          )
            h3.card-title.font-weight-light.mt-2.ml-2
              //- | Average time spend to topic
        v-col( cols='12' )
          coreCard( color='info' )
            template( #heading )
              .display-2.font-weight-light
                | Statistics for all questions
            v-data-table.mt-4( :headers='headers' :items='statisticsResult' :items-per-page='60' hide-default-footer @click:row="handleClick")
              template( #item.result='{ item }' )
                v-icon( v-if='item.result' color='success' ) mdi-check-circle
                v-icon( v-else color='error' ) mdi-close-circle
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator'
import { auth, app, resultsStore, resultPollStore } from '~/store'
import coreCard from '~/components/core/coreCard.vue'
import coreStatsCardBox from '~/components/core/coreStatsCardBox.vue'
import coreChartCard from '~/components/core/coreChartCard.vue'
import Radio from '~/components/hops/Result/radioTS.vue'

import RadarChart from '~/components/radarChart/index.vue';

import Vuetify from 'vuetify/lib'
import moment from 'moment';
import { Hop } from '~/interfaces/interfaceHops'
import { CommonStatistics } from '~/interfaces/interfaceUser'


@Component({
  layout: 'dashboard',
  components: {
    coreCard,
    coreStatsCardBox,
    coreChartCard,
    RadarChart,
    Radio
  },
  fetch({ redirect }) {

  }
})
export default class TestReview extends Vue {
  progress = 0
  pollFromStore = ''
  emailsSubscriptionChart = {
    data: {
      labels: [],
      datasets: [
         {
          label: 'All users',
          barPercentage: 0.8,
          categoryPercentage: 0.3,
          borderWidth: 1,
          backgroundColor: this.colorChart('#00f2c3', '#00f2c326'),
          borderDash: [],
          borderDashOffset: 0.0,
          data: []
        },
        {
          label: 'You',
          barPercentage: 0.8,
          categoryPercentage: 0.3,
          borderWidth: 1,
          backgroundColor: this.colorChart('#4848b0', '#4848b026'),
          borderDash: [],
          data: []
        }
      ]
    },
    options: {
      responsive: true,
      barValueSpacing: 30,
      hover: {
        animationDuration: 0
      },
      title: {
        display: true,
        text: 'Percentage of correct answers',
        fontSize: 22,
        fontColor: 'black'
      },
      layout: {
        padding: {
          top: 0
        }
      },
      animation: {
        duration: 1,
        onComplete: () => {}
      },
      legend: {
        display: true,
        onClick: false,
        labels: {
          fontColor: 'black',
          fontSize: 16,
        }
      },
      tooltips: {
        enabled: false
      },
      scales: {
        xAxes: [{
          gridLines: {
            display: true,
            drawBorder: true,
            drawOnChartArea: false,
          },
          ticks: {
            fontColor: 'black',
            fontSize: 16,
          }
        }],
        yAxes: [{
          gridLines: {
            display: true,
            drawBorder: true,
            drawOnChartArea: false,
            drawTicks: false,
          },
          ticks: {
            display: false,
            stepSize: 2,
            min: 0,
            fontColor: 'black',
            fontSize: 16,
          }
        }],
      }
    }
  }
  averageTimeSpendToTopic = {
    data: {
      labels: [],
      datasets: [
         {
          label: 'All users',
          barPercentage: 0.8,
          categoryPercentage: 0.3,
          borderWidth: 1,
          backgroundColor: this.colorChart('#00f2c3', '#00f2c326'),
          borderDash: [],
          borderDashOffset: 0.0,
          data: []
        },
        {
          label: 'You',
          barPercentage: 0.8,
          categoryPercentage: 0.3,
          borderWidth: 1,
          backgroundColor: this.colorChart('#4848b0', '#4848b026'),
          borderDash: [],
          data: []
        }
      ]
    },
    options: {
      responsive: true,
      hover: {
        animationDuration: 0
      },
      title: {
        display: true,
        text: 'Average time spent on each topic',
        fontSize: 22,
        fontColor: 'black'
      },
      layout: {
        padding: {
          top: 0
        }
      },
      animation: {
        duration: 1,
        onComplete: () => {}
      },
      legend: {
        display: true,
        onClick: false,
        labels: {
          fontColor: 'black',
          fontSize: 16,
        },
      },
      tooltips: {
        enabled: false
      },
      scales: {
        xAxes: [{
          gridLines: {
            display: true,
            drawBorder: true,
            drawOnChartArea: false,
          },
          ticks: {
            fontColor: 'black',
            fontSize: 16,
          }
        }],
        yAxes: [{
          gridLines: {
            display: true,
            drawBorder: true,
            drawOnChartArea: false,
            drawTicks: false,
          },
          ticks: {
            display: false,
            stepSize: 2,
            min: 0,
            fontColor: 'black',
            fontSize: 16,
          }
        }],
      }
    }
  }

  headers = [
    {
      sortable: false,
      text: 'Number',
      value: 'number',
    },
    {
      sortable: false,
      text: 'Result',
      value: 'result',
      align: 'center'
    },
    {
      sortable: false,
      text: 'Time spent',
      value: 'timeToResolve',
      align: 'center'
    },
    {
      sortable: false,
      text: 'Theme',
      value: 'theme',
      align: 'center'
    },
    // {
    //   sortable: false,
    //   text: 'Complexity',
    //   value: 'complexity',
    //   align: 'center'
    // }
  ]

  created () {
    if (this.$route.query.answerId && auth.isAuthenticated) {
      if(!auth.user.results) {
        const res = resultsStore.resultPoll.find(item => item._id === this.$route.query.answerId)
        this.getPoll(res.poll_id).then((res) => {
          this.pollFromStore = res
        })
      }
    } else {
      let historyLS = localStorage.getItem('adaptive/polls/historyLS');
      if(historyLS !== null) {
        historyLS = JSON.parse(historyLS)
        this.pollFromStore = historyLS[this.$route.query.id - 1]
      }
    }
  }

  colorChart (color: string, colorWithOpacity: string) {
    let ctx = document.createElement("canvas").getContext("2d");
    let gradientStroke = ctx.createLinearGradient(0,230,0,50);
    gradientStroke.addColorStop(1, color);
    gradientStroke.addColorStop(0, colorWithOpacity);
    return gradientStroke
  }

  get isAuthenticated () {
    return auth.isAuthenticated
  }

  get prettyThemes () {
    let themes: string = ''
    this.themes.forEach( item => themes += item + ', ')
    return themes.slice(0, -2)
  }

  get statisticsResult () {
    if(this.result) {
      const tmp = this.result.answers.map((item, index: number) => {
        const hop: Hop = this.result.poll.sorted.find((hop: Hop) => hop._id === item.hop_id)
        if(item.options.length !== 0) {
          return {
            number: index + 1,
            hop: hop,
            name: hop.content.slice(0, 16).length >= 16 ? hop.content.slice(0, 16) + '...' : hop.content.slice(0, 16),
            result: item.options[0].id === hop.correctAnswer[0] ? true : false,
            timeToResolve: this.$moment.utc(Math.round(item.time)).format('mm [min] ss [sec]'),
            theme: hop.tags,
            complexity: Math.floor(Number(hop.complexity)) >= 10 ? 10 : Math.floor(Number(hop.complexity))
          }
        } else return ;
      })

      return tmp.filter(item => item !== undefined && item !== null)
    }
  }

  get result () {
    if(this.$data !== undefined) {
      if(this.$route.query.answerId) {
        if(auth.user.results) {
          const res = auth.user.results.find(item => item._id === this.$route.query.answerId)
          return res ? res : false
        } else {
          const res = resultsStore.resultPoll.find(item => item._id === this.$route.query.answerId)
          return !!this.pollFromStore && res !== undefined ? {poll: this.pollFromStore, ...res} : false
        }
      } else {
        return !!this.pollFromStore ? {poll: this.pollFromStore, answers: this.pollFromStore.answers} : false
    }
      // const res = this.prettyResultFromLS(lsResult)
    }
  }

  get countTrueAnswers () {
    if(this.result) {
      let countTrueAnswer: number = 0
      this.result.answers.forEach((item) => {
        const searchHop = this.result.poll.sorted.find((hop: Hop) => hop._id === item.hop_id)
        item.options.length && item.options[0].id === searchHop.correctAnswer[0] ? countTrueAnswer++ : ''
      })
      return countTrueAnswer
    }
  }

  get countAnswers () {
    if(this.result) return this.result.answers.filter(item => item.options.length !== 0).length
  }

  get filteredStatisticsOnThisPoll(): CommonStatistics[] {
    if(auth.user.commonStatistics && this.result) {
      return auth.user.commonStatistics.filter(item => item.poll_id === this.result.poll._id)
    }
  }

  get averageAccuracyPerCurrentTest () {
    if(auth.user.commonStatistics && this.result) {
      let filteredCorrect = this.filteredStatisticsOnThisPoll.filter(item => item.isCorrect)
      return Math.floor(filteredCorrect.length / this.filteredStatisticsOnThisPoll.length * 100)
    }
  }

  get averageTimeSpentOnCurrentTest () {
    if(auth.user.commonStatistics && this.result) {
      let allTime = this.filteredStatisticsOnThisPoll.reduce((acc, item) => {
        return item.time + acc
      }, 0)
      return this.$moment.utc(Math.round(allTime / Math.round(this.filteredStatisticsOnThisPoll.length / 20)) * 1000).format('mm [min] ss [sec]')
    }
  }

  get rankAverageAccuracy () {
    if(auth.user.commonStatistics && this.result) {
      let stats: Array<number> = []
      let res: any = []
      let myValue: number = 0
      this.filteredStatisticsOnThisPoll.forEach(item => {
        if(stats[item.user_id] === undefined) {
          stats[item.user_id] = []
          stats[item.user_id] = item.isCorrect ? 1 : 0
        } else {
          stats[item.user_id] += item.isCorrect ? 1 : 0
        }
      })

      for(const element in stats) {
        let countHops = this.filteredStatisticsOnThisPoll.filter(item => item.user_id === element)
        if(countHops.length !== 0) {
          if(element === auth.user._id) myValue = Math.round(stats[element] / countHops.length * 100);
          res.push(Math.round(stats[element] / countHops.length * 100))
        }
      }

      let resSort = res.sort(function (a, b) {
        return a - b
      });
      const place = resSort.findIndex((item, index) => {
        return item === myValue
      })

      const percentage = ((place + 1) / res.length * 100) < 1 ? 1 : Math.round((place + 1) / res.length * 100)
      return { place: place + 1, placePercentage: percentage }
    }  else return { place: 0, placePercentage: 0 }
  }

  get rankAverageTimeSpent () {
    if(auth.user.commonStatistics && this.result) {
      let stats: Array<number> = []
      let res: any = []

      this.filteredStatisticsOnThisPoll.forEach(item => {
        if(stats[item.user_id] === undefined) {
          stats[item.user_id] = []
          stats[item.user_id] = item.time
        } else {
          stats[item.user_id] += item.time
        }
      })

      for(const element in stats) {
        if(element !== 'null')
          res.push(stats[element])
      }

      res = res.sort(function (a, b) {
        return a - b
      });

      const place = res.findIndex((item) => {
        return item === stats[auth.user._id]
      })

      const percentage = ((place + 1) / res.length * 100) < 1 ? 1 : Math.round((place + 1) / res.length * 100)
      return { place: place + 1, placePercentage: percentage }
    } else return { place: 0, placePercentage: 0 }
  }

  get namePoll () {
    if(this.result) {
      this.percentageCorrectAnwsersOfTopic()
      this.percentageCorrectAnwsersOfTopicAverage()
      this.averageTimeSpendToTopicValueUsers()
      this.averageTimeSpendToTopicValue()
      this.withDelayCompleteProgress()
      this.emailsSubscriptionChart.data.labels = this.themes
      this.averageTimeSpendToTopic.data.labels = this.themes
      return this.result.poll.name
    }
  }

  get labelsSecond () {
    if(this.result) {
      let labels: string[] = []
      this.result.poll.sorted.forEach( (item: any) => {
        if(labels.find(label => label === item.subTags))
          return ;
        else labels.push(item.subTags)
      })
      let sortedLabels:string[] = []
      this.themes.forEach(item => {
        this.subThemes[item].forEach((subItem: any) => {
          let tmp = labels.find(label => label === subItem)
          if(tmp) sortedLabels.push(tmp)
        })
      })
      return sortedLabels
    } else []
  }

  get tableData () {
    if(this.labelsSecond) {
      let tableData: object[] = []
      this.labelsSecond.map(item => {
        let hops = this.result.poll.sorted.filter(hop => hop.subTags === item)
        let countTrue = 0
        hops.forEach(hop => {
          let anwser = this.result.answers.find(item => item.hop_id === hop._id)
          if (anwser.options[0] !== undefined) {
            hop.correctAnswer[0] === anwser.options[0].id ? countTrue++ : ''
          }
        })
        tableData.push({ theme: item, count: hops.length, correctAnswers: countTrue })
      })
      return tableData
    }
  }

  handleClick (value) {
    this.highlightClickedRow(value);
  }
  
  addInactive (el: Node) {
    el.classList.remove('active')
    el.classList.add('inactive')
    el.firstElementChild.classList.remove('active')
    el.firstElementChild.classList.add('inactive')
    el.firstElementChild.firstElementChild.classList.remove('active')
    el.firstElementChild.firstElementChild.classList.add('inactive')
  }

  createResult (table: Node, tr: Node, value:any, last: boolean) {
    const newTr = document.createElement('tr')
    const newTd = document.createElement('td')
    newTd.setAttribute('colspan', '5')
    newTd.classList.add('center', 'active')
    newTr.classList.add('active')
    newTr.id = 'wohover'
    let el = Radio.extend()
    let ra = new el({
      vuetify: new Vuetify(),
      propsData: {
        hop: value.hop,
        correctAnswer: this.correctAnswer(value.hop),
        userAnswer: this.userAnswer(value.hop._id),
        userTime: this.userTime(value.hop._id),
        step: value.number,
        routeId: this.$route.query.answerId
      }})
    ra.$options.$route = this.$route
    ra.$options.$moment = moment
    ra = ra.$mount()
    ra.$el.classList.add('active')
    newTd.appendChild(ra.$el)
    newTr.appendChild(newTd)
    if(last) {
      table.insertBefore(newTr, tr.nextSibling)
    } else table.insertBefore(newTr, tr)
  }

  highlightClickedRow(value) {
    if( event && event.target ) {
      let last: boolean = false
      const div = document.getElementById('wohover')
      let tr: Node = ''
      if(event.target.parentNode.nextSibling !== null) {
        tr = event.target.parentNode.nextSibling
      } else {
        tr = event.target.parentNode
        last = true
      }
      let table: Node & ParentNode | undefined = tr.parentNode ? tr.parentNode : undefined
      if(div && table && div === tr) {
        this.addInactive(div)
        setTimeout(() => table.removeChild(div), 370);
      } else if (div && table && tr !== div){
        this.addInactive(div)
        setTimeout(() => table.removeChild(div), 370);
        this.createResult(table, tr, value, last)
      } else if (table) {
        this.createResult(table, tr, value, last)
      }
    }
  }

  correctAnswer (hop: Hop) {
    if (hop.correctAnswer) {
      return hop.correctAnswer[0] ? Number(hop.correctAnswer[0]) : 0
    }
  }

  userAnswer (id: string) {
    let answer = this.result.answers.find( item => item.hop_id === id )
    if (answer) {
      return answer.options[0] !== undefined ? Number(answer.options[0].id) : -1
    }
  }

  userTime (id: string) {
    let answer = this.result.answers.find( item => item.hop_id === id )
    if (answer) {
      return answer.time !== undefined ? answer.time : 0
    }
  }


  withDelayCompleteProgress () {
    setTimeout(this.completeProgress, 500)
  }

  percentageCorrectAnwsersOfTopic () {
    if(this.result) {
      const series = []
      for(const theme of this.themes) {
        const filteredOnTheme = this.result.poll.sorted.filter(hop => hop.tags.includes(theme))
        let countTrue = 0
        filteredOnTheme.forEach(hop => {
          let searchAnswer = this.result.answers.filter(answer => answer.hop_id === hop._id)
          if(searchAnswer && searchAnswer[0].options.length !== 0) {
            hop.correctAnswer[0] === searchAnswer[0].options[0].id ? countTrue++ : ''
          }
        })
        series.push(Math.floor(countTrue / filteredOnTheme.length * 100))
      }
      this.emailsSubscriptionChart.data.datasets[1].data = series
    }
     return ;
  }

  percentageCorrectAnwsersOfTopicAverage () {
    if(auth.user.commonStatistics !== undefined && this.result) {
      const series = []
      for(const theme of this.themes) {
        const hopsFilteredOnTheme = this.result.poll.sorted.filter(hop => hop.tags.includes(theme))
        let countTrue = 0
        let countHops = 0
        hopsFilteredOnTheme.forEach(hop => {
          let searchAnswers = auth.user.commonStatistics.filter(answer => answer.tag === theme && answer.hop_id === hop._id)
          searchAnswers.forEach(item => {
            item.isCorrect ? countTrue++ : ''
          })
          countHops += searchAnswers.length
        })
        series.push(Math.floor(countTrue / countHops * 100))
      }
      this.emailsSubscriptionChart.data.datasets[0].data = series
    }
    return ;
  }

  averageTimeSpendToTopicValueUsers () {
    if(auth.user.commonStatistics !== undefined && this.result) {
      const series = []
      for(const theme of this.themes) {
        const hopsFilteredOnTheme = this.result.poll.sorted.filter(hop => hop.tags.includes(theme))
        let time = 0
        let countHops = 0
        hopsFilteredOnTheme.forEach(hop => {
          let searchAnswers = auth.user.commonStatistics.filter(answer => answer.tag === theme && answer.hop_id === hop._id)
          searchAnswers.forEach(item => {
            time += item.time
          })
          countHops += searchAnswers.length
        })
        series.push(Math.floor(time / countHops))
      }
      this.averageTimeSpendToTopic.data.datasets[0].data = series
    }
     return ;
  }

  averageTimeSpendToTopicValue () {
    if(this.result) {
      const series = []
      for(const theme of this.themes) {
        const filteredOnTheme = this.result.poll.sorted.filter(hop => hop.tags.includes(theme))
        let time = 0
        filteredOnTheme.forEach(hop => {
          let searchAnswer = this.result.answers.filter(answer => answer.hop_id === hop._id)
          if(searchAnswer && searchAnswer.length !== 0){
            time += searchAnswer[0].time
          }
        })
        series.push(Math.floor(time / filteredOnTheme.length))
      }
      this.averageTimeSpendToTopic.data.datasets[1].data = series
    }
     return ;
  }

  isTrueAnswer (hop: Hop) {
    if(this.result) {
      const answer = this.result.answers.find((item) => item.hop_id === hop._id )
      if(answer){
        return answer.options[0].id === hop.correctAnswer[0] ? true : false
      }
    }
  }

  completeProgress () {
    if(this.countAnswers !== undefined && this.countTrueAnswers !== undefined) {
      if(this.countTrueAnswers === 0) this.progress = 0
      else this.progress = Math.round(this.countTrueAnswers / this.countAnswers * 100)
    }
  }

  mainColorReview (value: number): string {
    if( value >= 70 ) {
      return '#4caf50'
    }
    else if( 45 <= value && value < 70 ) {
      return '#fb8c00'
    }
    else return '#ff5252'
  }

  async getPoll (id: string) {
    await resultPollStore.init(id)
    return resultPollStore.poll
  }

  get themes () {
    if(!this.$isServer) {
      if(this.result) {
        if(this.result.poll.section === 'math_nocalc' || this.result.poll.section === 'math_calc' || this.result.poll.section === 'personal') {
          return app.themesSAT
        } else if (this.result.poll.section === 'olympics') {
          return app.themesOlympic
        }
      } else return []
    } else return []
  }

  get subThemes () {
    if(!this.$isServer) {
      if(this.result.poll.section === 'math_nocalc' || this.result.poll.section === 'math_calc' || this.result.poll.section === 'personal') {
        return app.subThemesSAT
      } else if (this.result.poll.section === 'olympics') {
        return app.subThemesOlympic
      } else return []
    } else return []
  }

}
</script>

<style lang='sass'>

  #review
    & .center
      text-align: center
      text-align: -webkit-center
      text-align: -moz-center
      text-align: -ms-center

    & .table-themes

      &.theme--light.v-data-table tbody tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper)
        background: #fff

    .v-card--material-chart
      p
        color: #999

    .v-card--material__heading
      max-height: 400px
      min-height: 99px
      width: fit-content

    .v-progress-circular__info
      font-size: 1.5rem
    #wohover:hover
      background: none !important
      transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1)

    #result-review
      transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1)

    .inactive
      max-height: 0
      overflow: hidden
      animation: hide .5s forwards

    .active
      max-height: max-content
      overflow: scroll
      animation: show .5s forwards

    @keyframes show
      0%
        max-height: 0px

      100%
        max-height: 800px


    @keyframes hide
      0%
        max-height: 800px

      100%
        max-height: 0px
</style>
