<template lang='pug'>
coreChartCard(
  :data='percentageOfCorrectAnswers.data'
  :options='percentageOfCorrectAnswers.options'
  color='white'
  :heigntChart='70'
  type='Line'
)
  template( #title )
    div.my-2.text-center
      span.display-2.font-weight-light Percentage of correct answers
  template( v-slot:actions )
    v-icon.mr-1( small )
      | mdi-clock-outline
    span.caption.grey--text.font-weight-light Updated {{ updatedTime }}
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator'
import coreChartCard from '~/components/core/coreChartCard.vue'
import { pollsStore, auth } from '../../store'
import { findLast } from 'lodash'
import { ResultUser } from '../../interfaces/interfaceUser'

@Component({
  name: 'percentageOfCorrect',
  components: {
    coreChartCard
  }
})
export default class PercentageOfCorrect extends Vue {
  @Prop({ type: String, required: true }) readonly nuxtChildKey!: string
  @Prop({ type: String, required: true }) readonly updatedTime!: string
  @Prop({ required: true }) readonly labelsPercentageOfCorrectAnswers!: Array<string>


  percentageOfCorrectAnswers = {
    data: {
      labels: this.labelsPercentageOfCorrectAnswers,
      datasets: [
        {
          label: 'Percentage of correct answers on the last test',
          borderColor: '#d048b6',
          fill: true,
          backgroundColor: this.colorChart('#4848b0', '#4848b026'),
          borderWidth: 2,
          borderDash: [],
          borderDashOffset: 0.0,
          pointBackgroundColor: '#d048b6',
          pointBorderColor:'rgba(255,255,255,0)',
          pointHoverBackgroundColor: '#d048b6',
          pointBorderWidth: 20,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 15,
          pointRadius: 4,
          data: this.dataPercentageOfCorrectAnswersLast
        },
        // {
        //   label: 'Predictive',
        //   borderColor: '#e43330',
        //   fill: true,
        //   backgroundColor: this.colorChart('#ff4d4d', '#ff4d4d26'),
        //   borderWidth: 2,
        //   borderDash: [],
        //   borderDashOffset: 0.0,
        //   pointBackgroundColor: '#e43330',
        //   pointBorderColor:'rgba(255,255,255,0)',
        //   pointHoverBackgroundColor: '#e43330',
        //   pointBorderWidth: 20,
        //   pointHoverRadius: 4,
        //   pointHoverBorderWidth: 15,
        //   pointRadius: 4,
        //   // data: this.dataPercentageOfCorrectAnswersPreviews
        //   // data: this.predictiveOfCorrectAnswers
        //   data: auth.user.averageStatistics[this.nuxtChildKey].predictiveOfCorrectAnswers
        // }
      ],
    },
    options: {
      responsive: true,
      hover: {
        animationDuration: 0
      },
      tooltips:{
        callbacks: {
          title: (tooltipItem: any, data: any) => {
            let items = pollsStore.items.filter(item => item.section === this.nuxtChildKey)
            return items[tooltipItem[0].index].name
          },
          label: (tooltipItem: any, data: any) => {
            let label = tooltipItem.value || 0
            
            return data.datasets[tooltipItem.datasetIndex].label + ': ' + label + '%'
          }
        }
      },
      title: {
        display: false,
        text: 'Percentage of correct answers',
        fontSize: 26,
        fontColor: 'black'
      },
      animation: {
        duration: 1000,
        onComplete: () => {}
      },
      layout: {
        padding: {
          top: 0,
          left: 20,
          right: 20
        }
      },
      legend: {
        display: true,
        onClick: false,
        labels: {
          fontColor: 'black',
          fontSize: 15
        },
      },
      elements: {
        point: {
          radius: 4.5,
        }
      },
      scales: {
        xAxes: [{
          gridLines: {
            display: true,
            drawBorder: true,
            drawOnChartArea: true,
          },
          ticks: {
            fontColor: 'black',
            fontSize: 15
          }
        }],
        yAxes: [{
          gridLines: {
            display: true,
            drawBorder: true,
            drawOnChartArea: false,
          },
          ticks: {
            stepSize: 20,
            max: 100,
            min: 0,
            fontColor: 'black',
            fontSize: 15
          }
        }],
      }
    }
  }

  colorChart (color: string, colorWithOpacity: string) {
    let ctx = document.createElement("canvas").getContext("2d");
    let gradientStroke = ctx.createLinearGradient(0,230,0,50);
    gradientStroke.addColorStop(1, color);
    gradientStroke.addColorStop(0, colorWithOpacity);
    return gradientStroke
  }

  get dataPercentageOfCorrectAnswersLast (): Array<number> | undefined {
    let series = []
    let fromLocal = JSON.parse(localStorage.getItem('adaptive/polls/historyLS')) ? JSON.parse(localStorage.getItem('adaptive/polls/historyLS')) : []
    const items = pollsStore.items.filter(item => item.section === this.nuxtChildKey)
    let splitRes: string[] = []
    for(const poll of items) {
      if(auth.user.results) {
        const filteredOnPoll = auth.user.results.filter(result => result.poll_id === poll._id && result.poll.section === this.nuxtChildKey)
        const lastOnTheme = findLast(filteredOnPoll)
        const result = lastOnTheme !== undefined ? this.getResultTest(lastOnTheme) : '0'
        splitRes = result.split('/')
      } else if(fromLocal.length !== 0) {
        const filteredOnPoll = fromLocal.filter(result => result._id === poll._id && poll.section === this.nuxtChildKey )
        if(filteredOnPoll) {
          const lastOnTheme = findLast(filteredOnPoll)
          const result = lastOnTheme !== undefined ? this.getResultTest({poll: lastOnTheme, answers: lastOnTheme.answers}) : '0'
          splitRes = result.split('/')
        }
      }
      if(!Math.floor((Number(splitRes[0]) / Number(splitRes[1]) * 100))) series.push(0)
      else series.push(Math.floor((Number(splitRes[0]) / Number(splitRes[1]) * 100)))
    }
    return series
  }

  getResultTest (result: ResultUser): string | undefined {
    let countTrueAnswers = 0
    let countHops = 0
    if(result.poll) {
      countHops = result.poll.sorted.length
      result.answers.forEach( (answer) => {
        let hop = result.poll.sorted.find( (item) => item._id === answer.hop_id )
        if(hop && answer.options[0]) hop.correctAnswer[0] === answer.options[0].id ? countTrueAnswers++ : ''
      })
      return countTrueAnswers + '/' + countHops
    } else {
      countHops = result.sorted.length
      result.answers.forEach( (answer) => {
        let hop = result.sorted.find( (item) => item._id === answer.hop_id )
        if(hop && answer.options[0]) hop.correctAnswer[0] === answer.options[0].id ? countTrueAnswers++ : ''
      })
      return countTrueAnswers + '/' + countHops
    }
  }

}
</script>

<style lang='sass'>

</style>
