<template lang='pug'>
coreChartCard(
  :data='dataCompletedTasksChart.data'
  :options='dataCompletedTasksChart.options'
  color='#2ca2ffe3'
  :heigntChart='70'
  type='Time-Line'
)
  template( #title )
    div.my-2.text-center
      span.display-2.font-weight-light Time spent on each test
  template( v-slot:actions )
    v-icon.mr-1( small )
      | mdi-clock-outline
    span.caption.grey--text.font-weight-light Updated {{ updatedTime }}
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator'
import coreChartCard from '~/components/core/coreChartCard.vue'
import { pollsStore, auth } from '~/store'
import { findLast } from 'lodash'
import { ResultUser } from '~/interfaces/interfaceUser'

@Component({
  name: 'percentageOfCorrect',
  components: {
    coreChartCard
  }
})
export default class PercentageOfCorrect extends Vue {
  @Prop({ type: String, required: true }) readonly nuxtChildKey!: string
  @Prop({ type: String, required: true }) readonly updatedTime!: string
  @Prop({ required: true }) readonly labelsPercentageOfCorrectAnswers!: Array<string>

  dataCompletedTasksChart = {
    data: {
      labels: this.labelsPercentageOfCorrectAnswers,
      datasets: [
        {
          label: 'Time spent on the last test',
          borderColor: '#e91e63',
          fill: true,
          backgroundColor: this.colorChart('#e91e63', '#e91e6326'),
          borderWidth: 2,
          borderDash: [],
          borderDashOffset: 0.0,
          pointBackgroundColor: '#e91e63',
          pointBorderColor:'rgba(255,255,255,0)',
          pointHoverBackgroundColor: '#e91e63',
          pointBorderWidth: 20,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 15,
          pointRadius: 4,
          data: this.MainTimeToResolveTestsLast
        },
        // {
        //   label: 'Predictive',
        //   borderColor: '#00aeee',
        //   fill: true,
        //   backgroundColor: this.colorChart('#00aeee', '#00aeee26'),
        //   borderWidth: 2,
        //   borderDash: [],
        //   borderDashOffset: 0.0,
        //   pointBackgroundColor: '#00aeee',
        //   pointBorderColor:'rgba(255,255,255,0)',
        //   pointHoverBackgroundColor: '#00aeee',
        //   pointBorderWidth: 20,
        //   pointHoverRadius: 4,
        //   pointHoverBorderWidth: 15,
        //   pointRadius: 4,
        //   // data: this.predictiveTimeToResolveTests
        //   data: auth.user.averageStatistics[this.nuxtChildKey].predictiveTimeToResolveTests.map(item => Math.round(item))
          
        // }
      ],
    },
    options: {
      responsive: true,
      tooltips:{
        callbacks: {
          title: (tooltipItem: any, data: any) => {
            let items = pollsStore.items.filter(item => item.section === this.nuxtChildKey)
            return items[tooltipItem[0].index].name

          },
          label: (tooltipItem: any, data: any) => {
            let label = tooltipItem.value || 0
            
            return data.datasets[tooltipItem.datasetIndex].label + ': ' + this.$moment.utc(label * 1000).format('mm:ss')
          }
        }
      },
      hover: {
        animationDuration: 0
      },
      animation: {
        duration: 1000,
        onComplete: () => {}
      },
      title: {
        display: false,
        text: 'Time spent on each test',
        fontColor: 'black',
        fontSize: 26,
      },
      layout: {
        padding: {
          left: 20,
          right: 20
        }
      },
      legend: {
        display: true,
        onClick: false,
        labels: {
          fontColor: 'black',
          fontSize: 15
        },
      },
      elements: {
        point: {
					radius: 4.5,
				}
      },
      scales: {
        xAxes: [{
          gridLines: {
            display: true,
            drawBorder: true,
            drawOnChartArea: true,
          },
          ticks: {
            fontColor: 'black',
            fontSize: 15
          }
        }],
        yAxes: [{
          gridLines: {
            display: true,
            drawBorder: false,
            drawOnChartArea: false,
            drawTicks: false,
          },
          ticks: {
            callback: (value: any) => {
              return this.$moment.utc(value * 1000).format('mm:ss')
            },
            display: false,
            min: 0,
            stepSize: 10,
            fontColor: 'black',
            fontSize: 15
          }
        }],
      }
    }
  }

  get MainTimeToResolveTestsLast () {
    let series = []
    const items = pollsStore.items.filter(item => item.section === this.nuxtChildKey)
    let fromLocal = JSON.parse(localStorage.getItem('adaptive/polls/historyLS')) ? JSON.parse(localStorage.getItem('adaptive/polls/historyLS')) : []
    let result = 0
    for(const poll of items) {
      if(auth.user.results) {
        const filteredOnPoll = auth.user.results.filter(result => result.poll_id === poll._id && result.poll.section === this.nuxtChildKey)
        const lastOnTheme = findLast(filteredOnPoll)
        result = lastOnTheme !== undefined ? lastOnTheme.time : NaN
      } else if(fromLocal.length !== 0) {
        const filteredOnPoll = fromLocal.filter(result => result._id === poll._id && poll.section === this.nuxtChildKey)
        const lastOnTheme = findLast(filteredOnPoll)
        let allTime = 0
        if(lastOnTheme)
          lastOnTheme.answers.forEach(item => {
            allTime += item.time
          })
        result = lastOnTheme !== undefined ? allTime / 1000 : NaN
      }
      if(!result) series.push(0)
      else series.push(Math.round(result))
    }
    return series
  }



  colorChart (color: string, colorWithOpacity: string) {
    let ctx = document.createElement("canvas").getContext("2d");
    let gradientStroke = ctx.createLinearGradient(0,230,0,50);
    gradientStroke.addColorStop(1, color);
    gradientStroke.addColorStop(0, colorWithOpacity);
    return gradientStroke
  }

}
</script>

<style lang='sass'>

</style>
