<template lang='pug'>
  v-app-bar#app-bar__poll.px-0.elevation-1(
    app
    absolute
    color='transparent'
    flat
  )
    .d-flex.justify-space-between.align-center( style='width: 100%; max-width: 1000px; place-content: center;' )
      .d-flex
        v-icon.mr-2( color='black' ) mdi-calculator
        span.display-1.font-weight-light {{ poll.name }}
      .d-flex( style='padding: 0 110px 0 0' )
        span.display-2.font-weight-bold( style='color: #005987' ) Adaptive Education
      .d-flex
        a.display-1.font-weight-bold.exit-link( @click="exit()" ) Exit this Practice

</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator'

import { app, auth, resultPollStore } from '~/store'
import { PollFull } from '~/interfaces/interfaceStore'

@Component({
  name: 'AppBar',
  components: {

  }
})
export default class AppBar extends Vue {

  get poll (): PollFull {
    return resultPollStore.poll
  }

  exit () {
    this.$router.push('/tests')
  }
}
</script>

<style lang='sass'>

  #app-bar__poll

    .v-toolbar__content
      background-color: white
      justify-content: center

    .exit-link
      color: #1586ca !important

      &:hover
        text-decoration: underline
</style>
