<template lang='pug'>
v-main
  v-container#dashboard( fluid tag='section' )
    v-row
      v-col( cols='12' )
        coreCard.px-5.py-3( color='#ed8400' )
          template( v-slot:heading )
            .display-2.font-weight-light
              | Сompleted tests
            .subtitle-1.font-weight-light
              | Click on this icon <v-icon small> mdi-state-machine </v-icon> to see more statistics for the particular test
            .subtitle-1.font-weight-light
              | Click on this icon <v-icon small> mdi-feature-search-outline </v-icon> to see solutions for the particular test
          v-card-text
            v-data-table( :headers='headers' :items='completedTests' )
              template( #item.solutions="{ item }" )
                v-tooltip( bottom v-if='item.status' )
                  template( #activator="{ on }" )
                    v-btn( small icon @click="goToDetails( item )" v-on='on' )
                      v-icon( small ) mdi-feature-search-outline
                  span Show solutions
              template( #item.statistic="{ item }" )
                v-tooltip( bottom )
                  template( #activator="{ on }" )
                    v-btn( small icon @click="goToReview(item)" v-on='on' )
                      v-icon( small ) mdi-state-machine
                  span Show statistic
              template( #item.status='{ item }' )
                v-tooltip( bottom v-if='item.status' )
                  template( #activator="{ on }" )
                    v-icon( color='success' v-on='on' ) mdi-check-circle
                  span Finished
                v-tooltip( bottom v-else )
                  template( #activator="{ on }" )
                    v-btn( small icon @click="goToTest(item)" v-on='on' )
                      v-icon( color='warning' v-on='on' ) mdi-alert-circle
                  span Continue to solve the test
              template( #item.result='{ item }' )
                | {{ item.status ? item.result : '' }}
      //- v-col( cols='12' md='5' )
        coreCard.px-5.py-3
          template( v-slot:heading )
            v-tabs( v-model='tabs' background-color='transparent' slider-color='white' )
              span.subheading.font-weight-light.mx-3( style='align-self: center' ) Tests:
              v-tab.mr-3
                v-icon.mr-2
                  | mdi-cloud
                | Theme
              v-tab.mr-3
                v-icon.mr-2
                  | mdi-cloud
                | Theme
              v-tab
                v-icon.mr-2
                  | mdi-cloud
                | Theme
          v-tabs-items.transparent( v-model='tabs' )
            v-tab-item( v-for='n in 3' :key='n' )
              v-card-text
                template( v-for='(task, i) in tasks[tabs]' )
                  v-row( :key='i' align='center' )
                    v-col( cols='1' )
                      v-list-item-action
                        v-checkbox( v-model='task.value' color='secondary' )
                    v-col( cols='9' )
                      .font-weight-light( v-text='task.text' )
                    v-col.text-right( cols='2' )
                      v-icon.mx-1( @click="deleteTask(task, tabs)" color='error' )
                        | mdi-close
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator';

import { lk, auth, templates, app, pollsStore, resultsStore, resultPollStore } from '~/store'

import { findLast } from 'lodash'

import coreCard from '~/components/core/coreCard.vue'
import coreStatsCard from '~/components/core/coreStatsCard.vue'
import coreChartCard from '~/components/core/coreChartCard.vue'
import { ResultUser, Statistic } from '~/interfaces/interfaceUser'
import { Hop } from '../../../interfaces/interfaceHops';

@Component({
  layout: 'dashboard',
  components: {
    coreCard,
    coreStatsCard,
    coreChartCard
  },
  fetch({ redirect }) {
    // if( !auth.isAuthenticated && !auth.isAnonimous ) {
    //   redirect('/')
    // }
  }
})
export default class Dashboard extends Vue {

  headers = [
    {
      sortable: false,
      text: 'Test Name',
      value: 'name',
    },
    {
      sortable: false,
      text: 'Status',
      value: 'status',
      align: 'center'
    },
    {
      sortable: false,
      text: 'Result',
      value: 'result',
      align: 'center'
    },
    {
      sortable: false,
      text: 'Solutions',
      value: 'solutions',
      align: 'center'
    },
    {
      sortable: false,
      text: 'Time spent',
      value: 'timeToSolution',
      align: 'center'
    },
    {
      sortable: false,
      text: 'Statistics',
      value: 'statistic',
      align: 'center'
    },
    {
      sortable: true,
      text: 'Date taken',
      value: 'completed_at',
      align: 'center'
    },

    // {
    //   sortable: false,
    //   text: 'Details',
    //   value: 'actions',
    //   align: 'center'
    // }
  ]

  completedTests: Array<any> = []

  get isAuthenticated () {
    return auth.isAuthenticated
  }

  mounted() {
    this.setCompletedTests()
  }

  async setCompletedTests () {
    let id: number = 0
    let items: any = []
    if( auth.user.results !== undefined )
      auth.user.results.forEach( (result) => {
          items.unshift({
            id: result._id,
            pollId: result.poll_id,
            name: result.poll.name,
            completed_at: result.created_at,
            timeToSolution: this.getTimeToResolve(result),
            status: this.getStatusPoll(result),
            result: this.getResultTest(result)
          })
    })
    else if(await this.$localForage.polls.getItem('historyLS') !== null && !this.isAuthenticated) {
      let polls = await this.$localForage.polls.getItem('historyLS')
      polls.forEach( (result) => {
        items.unshift({
          id: result.history_id,
          pollId: result._id,
          name: result.name,
          completed_at: this.$moment(result.date).format('YYYY-MM-DD hh:mm:ss'),
          timeToSolution: this.getTimeToResolve({poll: result, answers: result.answers}),
          status: this.getStatusPoll({poll: result, answers: result.answers}),
          result: this.getResultTest({poll: result, answers: result.answers})
        })
      })
    } else if (await this.$localForage.polls.getItem('polls') !== null && !this.isAuthenticated) {
      let polls = await this.$localForage.polls.getItem('polls')
      if(polls) {
        for(let key in polls)
        if(!polls[key].complete)
          items.unshift({
            id: polls[key].id,
            name: polls[key].name,
            completed_at: this.$moment(polls[key].date).format('YYYY-MM-DD hh:mm:ss'),
            timeToSolution: this.getAnonimousTimeToResolve(polls[key].timeToResolve)
          })
      }
    }
    this.completedTests = items
  }

  get statusDrawer() {
    return app.drawer
  }

  goToDetails (item: any) {
    this.$router.push({ path: `/tests/${item.pollId}/result`, query: { answerId: item.id } })
  }

  goToReview (item: any) {
    if(auth.isAuthenticated)
      this.$router.push({ path: `/lk/testreview`, query: { answerId: item.id } })
    else
      this.$router.push({ path: `/lk/testreview`, query: { id: item.id } })

  }

  goToTest (item: any) {
    if(this.isAuthenticated)
      this.$router.push({ path: `/tests/${item.pollId}/exec`, query: { resultId: item.id } })
    else
      this.$router.push({ path: `/tests/${item.pollId}/exec`, query: { id: item.id } })

  }

  getAnonimousTimeToResolve(timeToResolve: any) {
    if(timeToResolve) {
      let allTime = 0
      timeToResolve.forEach((item: any) => {
        allTime += item.time
      })
      return this.$moment.utc(Math.round(allTime)).format('HH [hours] mm [min] ss [sec]')
    }
  }

  getStatusPoll(result: ResultUser): boolean {
    let status: boolean = true
    result.answers.forEach( (answer) => {
      if (answer.options[0] === undefined) {
        status = false
        return
      }
    })
    return status
  }

  getTimeToResolve (result: ResultUser): string {
    const time = result.answers.reduce((acc, answer) => {
      return answer.time + acc
    }, 0)
    return this.$moment.utc( Math.round(time) ).format('HH [hours] mm [min] ss [sec]')
  }

  getResultTest (result: ResultUser): string {
    let countTrueAnswers = 0
    let countHops = 0
    if(result.poll) {
      countHops = result.poll.sorted.length
      result.answers.forEach( (answer) => {
        let hop = result.poll.sorted.find( (item) => item._id === answer.hop_id )
        if(hop && answer.options[0]) hop.correctAnswer[0] === answer.options[0].id ? countTrueAnswers++ : ''
      })
      return countTrueAnswers + '/' + countHops
    } else if (resultsStore.resultPoll.length !== 0) {
      let poll = resultPollStore.pollStoreHistory.find(item => item._id === result.poll_id)
      countHops = poll.sorted.length
      result.answers.forEach( (answer) => {
        let hop = poll.sorted.find( (item) => item._id === answer.hop_id )
        if(hop && answer.options[0]) hop.correctAnswer[0] === answer.options[0].id ? countTrueAnswers++ : ''
      })
      return countTrueAnswers + '/' + countHops
    }
    
  }
}
</script>

<style lang='sass'>

  #dashboard
    .theme--light.v-data-table tbody tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper)
      background: #ffffff

    .v-card--material-chart
      p
        color: #999

    .v-card--material__heading
      max-height: 450px
      height: fit-content

  .v-tabs--icons-and-text > .v-tabs-bar
    height: 56px

</style>
