<template lang='pug'>

</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component({
  layout: 'dashboard',
  fetch({ redirect }) {
    redirect('/lk/dashboard')
  }
})
export default class Lk extends Vue {

}
</script>

<style lang='sass'>

</style>
