<template lang='pug'>
  v-container#result()
    client-only( placeholder="Loading..." )
      v-row(v-if='resultWithPoll')
        v-col( cols='12' )
          .text-center.mb-6( )
            span.headline {{ pollName }}
        v-col( cols='12' )
          v-stepper(
            v-model='currentHop'
            :alt-labels="true"
          )
            v-stepper-header
              template( v-for="(hop, index) in onlyHasAnswerSorted" )
                v-stepper-step(
                  :key="`${hop._id}-step`"
                  :editable='true'
                  :step='getIndex(hop)'
                  :rules='[() => rule(hop, hop._id)]'
                  :complete='rule(hop, hop._id)'
                  edit-icon='mdi-check'
                  :color='rule(hop, hop._id) ? "success" : ""'
                ) {{ getIndex(hop) }}
            v-stepper-items
              template( v-for="(hop, index) in onlyHasAnswerSorted" )
                v-stepper-content(
                  :key="`${hop._id}-content`"
                  :step="getIndex(hop)"
                )
                  v-container
                    v-row
                      v-col.center( cols='12')
                        div
                          Radio(
                            :hop='hop'
                            :correctAnswer='correctAnswer(hop)'
                            :userAnswer='userAnswer(hop._id)'
                            :step="getIndex(hop)"
                            :userTime='userTime(hop._id)'
                          )
                          div.ma-4.d-flex.justify-space-between.flex-wrap( style='width: 100%; max-width: 900px' )
                            v-btn.ml-5( color='primary' rounded :disabled='hop === onlyHasAnswerSorted[0]' @click="currentHop--") Previous
                            //- v-btn( color='#00abba' rounded dark @click="saveTestDialog = true" v-if='!isAuth' ) Save result
                            //- v-btn( color='#00abba' rounded to='/lk/dashboard') Compare with others
                            //- div(v-if='!isAuth')
                              //- v-btn( color='#00abba' style='margin-left: 20px' rounded to='/tests') More tests
                            v-btn( color='#00abba' style='margin-left: 20px' rounded @click='goToStatistic()') Statistics
                            div( v-if='index !== onlyHasAnswerSorted.length - 1' )
                              v-btn( color='#00abba' style='margin-left: 20px' rounded to='/lk/dashboard') dashboard
                            v-btn( v-if='index !== onlyHasAnswerSorted.length - 1' color='primary' rounded @click="currentHop++") Next
                            v-btn( v-else color='primary' rounded to='/lk/dashboard') Go to dashboard
      registrationModal( :status='saveTestDialog' @changeStatus='closeDialog')

</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator'

import { auth, resultsStore, resultPollStore } from '~/store'

import { findLast } from 'lodash'


import { ResultUser } from '~/interfaces/interfaceUser'

import registrationModal from '~/components/core/registrationModal.vue'
import Radio from '~/components/hops/Result/radioTS.vue'
import { Hop } from '~/interfaces/interfaceHops'
import { ResultPoll } from '~/interfaces/interfaceStore'

@Component({
  name: 'Result',
  components: {
    Radio,
    registrationModal
  },
})
export default class Result extends Vue {

  saveTestDialog: boolean = false
  step: number = 1

  pollFromStore = ''

  currentHop: number = 1

  init () {
    if (this.$route.query.step) {
      let lsResult = localStorage.getItem('AnswerData');
      if(lsResult !== null) {
        lsResult = JSON.parse(lsResult)
        this.getPoll(lsResult[this.$route.params.id].poll_id).then((res) => {
          this.pollFromStore = res
        })
      }
    }
  }
  
  mounted () {
    this.init()
    this.step = this.$route.query.step ? Number(this.$route.query.step) : 1
    this.currentHop = this.$route.query.step ? Number(this.$route.query.step) : 1
  }

  closeDialog () {
    this.saveTestDialog = false
  }

  rule(hop: Hop, id: string): boolean {
    return this.correctAnswer(hop) === this.userAnswer(id)
  }

  correctAnswer (hop: Hop) {
    if (hop.correctAnswer) {
      return hop.correctAnswer[0] ? Number(hop.correctAnswer[0]) : 0
    }
  }

  userTime (id: string) {
    let answer = this.resultWithPoll.answers.find( item => item.hop_id === id )
    if (answer) {
      return answer.time !== undefined ? answer.time : 0
    }
  }

  get sorted () {
    if(this.resultWithPoll)
      return this.resultWithPoll.poll.sorted
    else []
  }

  get onlyHasAnswerSorted () {
    let mapped = this.resultWithPoll.poll.sorted.map(item => {
      if (this.hasAnswer(item._id))
        return item
    })

    return mapped.filter(item => item !== undefined)
  }

  hasAnswer (id:string) {
    return this.resultWithPoll.answers.find( item => item.hop_id === id ) ? true : false
  }

  userAnswer (id: string) {
    let answer = this.resultWithPoll.answers.find( item => item.hop_id === id )
    if (answer) {
      return answer.options[0] !== undefined ? Number(answer.options[0].id) : -1
    }
  }

  goToStatistic () {
    this.$router.push(`/lk/testreview?answerId=${this.$route.query.answerId}`)
  }

  get pollName () {
    if(this.resultWithPoll !== undefined)
      return this.resultWithPoll.poll.name
    else return ''
  }

  get isAuth () {
    return auth.isAuthenticated
  }

  get countHops (): number {
    if(this.resultWithPoll) {
      return this.resultWithPoll.poll.sorted.length
    } else {
      // !! Подумать над ошибками
      return 1
    }
  }

  get resultWithPoll () {
    if(!this.$isServer) {
      if(this.$route.query.step !== undefined) {
        let lsResult = localStorage.getItem('adaptive/polls/historyLS');
        if(lsResult !== null) {
          lsResult = JSON.parse(lsResult)
          lsResult[this.$route.params.id].answers = lsResult[this.$route.params.id].answers.filter(answer => {
            return answer.options.length ? true : false
          })
          return !!this.pollFromStore && lsResult[this.$route.params.id] !== undefined ? { poll: this.pollFromStore, ...lsResult[this.$route.params.id] } : false
        }
      }
      if(this.$route.query.answerId !== undefined && this.isAuth) {
        return auth.user.results ? auth.user.results.find( item => item._id === this.$route.query.answerId ) : ''
      }
      if(this.$route.query.answerId !== undefined && !this.isAuth) {
        let historyLS = localStorage.getItem('adaptive/polls/historyLS');
        if(historyLS !== null) {
          historyLS = JSON.parse(historyLS)
          return historyLS[this.$route.query.answerId - 1] !== undefined ? {poll: historyLS[this.$route.query.answerId - 1], answers: historyLS[this.$route.query.answerId - 1].answers} : false
        }
      }
      if( auth.user.results !== undefined && auth.user.results.length !== 0 ) {
        return findLast(auth.user.results, (item) => item.poll_id === this.$route.params.id)
      } else {
        if (resultsStore.resultPoll.length === 0) this.$router.push('/tests')
        let result = ''
        if(this.$route.query.answerId !== undefined) {
          result = resultsStore.resultPoll.find(poll => poll._id === this.$route.query.answerId)
        } else {
          result = resultsStore.resultPoll.find(poll => poll.poll_id === resultPollStore.pollStore._id )
        }
        let poll: ResultPoll | undefined = resultPollStore.pollStoreHistory.find(poll => poll._id === result.poll_id)

        const res = poll && result ? { poll, answers: result.answers } : this.$router.push("/tests")
        return res
      }
    }
  }

  getIndex (hop) {
    let tmp = this.sorted.findIndex(item => item === hop)
    return tmp + 1
  }

  async getPoll (id: string) {
    await resultPollStore.init(id)
    return resultPollStore.poll
  }
}
</script>

<style lang='sass'>

  #result
    @media only screen and (max-width: 959px)
      .v-stepper:not(.v-stepper--vertical) .v-stepper__label
        display: flex

    & .center
      text-align: center
      text-align: -webkit-center
      text-align: -moz-center
      text-align: -ms-center
      
    & .v-stepper__header
      justify-content: start

    & .v-stepper--alt-labels .v-stepper__step
      flex-basis: 45px

    & .v-stepper__step--active
      background-color: rgba(0, 0, 0, 0.2)

</style>
