<template lang='pug' >
v-main
  v-container#statistics( fluid tag='section' )
    v-row( style='place-content: center;' )
      h2.display-3 You Progress
    v-row
      v-col( cols='12' )
        div.d-flex.justify-center.align-center
          span.mr-3.display-1 Test
          v-chip-group(
            v-model='percentageData'
            mandatory
            @change="changeTest()"
            center-active
            active-class="primary--text"
          )
            v-chip( v-for='label in percentages' :key='label')
              span.display-1.font-weight-light # {{ label }}
        coreChartCard(
          :data='radarData.data'
          :options='radarData.options'
          color='#2ca2ff'
          :heigntChart='210'
          type='Radar'
          :key='Math.random()'
        )
          template( #title )
            div.my-2.text-center
              span.display-2.font-weight-light You results
          template( v-slot:actions )
            v-icon.mr-1( small )
              | mdi-clock-outline
            span.caption.grey--text.font-weight-light Updated {{ updatedTime }}

</template>

<script lang='ts'>
import { Component, Prop, Vue, Watch } from 'vue-property-decorator';

import coreCard from '~/components/core/coreCard.vue'
import coreStatsCard from '~/components/core/coreStatsCard.vue'
import coreChartCard from '~/components/core/coreChartCard.vue'


import regression from 'regression'

import { findLast } from 'lodash'
import { auth, pollsStore, resultsStore, resultPollStore } from '~/store';
import { ResultUser } from '~/interfaces/interfaceUser';
import { PollFull } from '~/interfaces/interfaceStore';
import { Hop } from '~/interfaces/interfaceHops';
import Poll from '~/store/poll';


@Component({
  name: 'progressUser',
  layout: 'dashboard',
  components: {
    coreCard,
    coreStatsCard,
    coreChartCard,
  }
})
export default class Progress extends Vue {
  @Prop({ type: String, required: true }) readonly nuxtChildKey!: string

  @Watch('nuxtChildKey')
  onChangeNuxtChildKey () {
    this.changeTest()
  }

  colors = [
    '#f15854',
    '#faa43a',
    '#60bd68',
    '#5da5da',
    '#b276b2',
    '#f15854',
    '#faa43a',
    '#60bd68',
    '#5da5da',
    '#b276b2',
    '#f15854',
    '#faa43a',
    '#60bd68',
    '#5da5da',
    '#b276b2',

  ]
  percentageData: number = 0
  // percentages: number[] = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]

  radarData = {
    data: {
      labels: [],
      datasets: []
    },
    options: {
      responsive: true,
      title: {
        display: false,
        text: 'You vs. Others on each tests',
        fontSize: 20,
        fontColor: 'black'
      },
      tooltips:{
        callbacks: {
          title: (tooltipItem: any, data: any) => {
            let str = ''
            tooltipItem.forEach((item: any) => {
              str += data.labels[item.index] + ' & '
            })
            return str.slice(0, -2)
          },
          label: (tooltipItem: any, data: any) => {
            let label = tooltipItem.value || 0
            return data.datasets[tooltipItem.datasetIndex].label + ': ' + label + '%'
          }
        }
      },
      hover: {
        animationDuration: 500,
        onHover: function(e) {
          const point = this.getElementAtEvent(e)
          if (point.length) e.target.style.cursor = 'grab'
          else e.target.style.cursor = 'default'
        }
      },
      layout: {
        padding: {
          top: 0
        }
      },
      animation: {
        duration: 0,
      },
      legend: {
        display: true,
        labels: {
          fontColor: 'black',
          fontSize: 16
        }
      },
      elements: {
        line: {
          tension: 0.0,
        }
      },
      scale: {
        pointLabels: {
          fontSize: 13
        },
        ticks: {
          min: -10,
          stepSize: 10,
          max: 100,
          callback: function (label) {
            return Math.round(label) + '%'
          }
        }
      }
    }
  }

  get percentages (): number[] {
    const polls: PollFull[] = pollsStore.items.filter((poll: PollFull) => poll.section === this.nuxtChildKey)
    if(auth.user.results) {
      let arrayIndexPolls: number[] = []
      const results = auth.user.results.filter( result => this.nuxtChildKey === result.poll.section )
      if(results.length !== 0) {
        polls.forEach((poll, index) => {
          if(results.find(item => item.poll_id === poll._id))
            arrayIndexPolls.push(index + 1)
        })
        return arrayIndexPolls
      } else return []
    } else if(localStorage.getItem('adaptive/polls/historyLS') !== null) {
      let arrayIndexPolls: number[] = []
      let historyLS: any = JSON.parse(localStorage.getItem('adaptive/polls/historyLS'))
      const results = historyLS.filter( (result: any) => this.nuxtChildKey === result.section )
      if(results.length !== 0) {
        polls.forEach((poll, index) => {
          if(results.find(item => item._id === poll._id))
            arrayIndexPolls.push(index + 1)
        })
      }
      return arrayIndexPolls
    }
  }

  get updatedTime () {
    if(auth.user.results !== undefined && auth.user.results.length !== 0) {
      const time = auth.user.results[auth.user.results.length - 1].created_at
      return this.$moment(time).fromNow()
    } else if(resultsStore.resultPoll.length !== 0) {
      return this.$moment(resultsStore.resultPoll[0].created_at).fromNow()
    }
  }

  checkIdPoll (result: ResultUser, poll: PollFull) {
    return result.poll_id === poll._id
  }

  beforeMount () {
    this.changeTest()
  }

  get results () {
    const polls = pollsStore.items.filter((poll: PollFull) => poll.section === this.nuxtChildKey)
    if(auth.user.results && this.percentages) {
      const results = auth.user.results.filter(item => {
        return item.poll_id === polls[this.percentages[this.percentageData] - 1]._id
      })
      return results
    } else if (localStorage.getItem('adaptive/polls/historyLS') !== null && this.percentages) {
      let historyLS: any = JSON.parse(localStorage.getItem('adaptive/polls/historyLS'))
      const results = historyLS.filter( (result: any) => result._id === polls[this.percentages[this.percentageData] - 1]._id && result.complete === true)
      return results
    }
  }

  get themesOnTest () {
    if(this.results) {
      let labels: string[] = []
      if(this.results[0].poll) {
        this.results[0].poll.sorted.forEach(hop => {
          if(labels.find(label => label === hop.subTags))
            return ;
          else labels.push(hop.subTags)
        })
      } else {
        this.results[0].sorted.forEach(hop => {
          if(labels.find(label => label === hop.subTags))
            return ;
          else labels.push(hop.subTags)
        })
      }
      return labels
    } else return []
  }

  changeTest () {
    if(this.results) {
      let datasets: any[] = []
      this.results.forEach((item, index) => {
        let fullResult = true
        item.answers.forEach(answer => {
          if(answer.options.length === 0) fullResult = false
        })
        if(fullResult) {
          let data: number[] = []
          this.themesOnTest.forEach(label => {
            let hops = []
            if(item.poll)
              hops = item.poll.sorted.map(hop => {
                if( hop.subTags === label ){
                  return hop
                }
              })
            else
              hops = item.sorted.map(hop => {
                if( hop.subTags === label ){
                  return hop
                }
              })
            hops = hops.filter(hop => hop !== undefined)
            let countTrueHop = 0
            hops.forEach(hop => {
              let answer = item.answers.find(answer => answer.hop_id === hop._id)
              if(answer !== undefined ) {
                answer.options[0].id === hop.correctAnswer[0] ? countTrueHop++ : false
              }
            })
            data.push(Math.round(countTrueHop / hops.length * 100))
          })
          datasets.push({
            label: `Result ${index + 1} (${item.completed_at.slice(0, 10)})`,
            borderColor: `${this.colors[index]}`,
            backgroundColor: `${this.colors[index] + 15} `,
            pointBackgroundColor: `${this.colors[index]}`,
            data: data
          })
        }
      })
      this.radarData.data.labels = this.themesOnTest
      this.radarData.data.datasets = datasets
    }
  }

}
</script>

<style lang='sass' >

</style>
