<template lang='pug'>
  v-main#chat
    v-container(  )
      v-row
        v-col( cols='12' lg='3')
          v-card.mt-0( height="100%" )
            v-card-title
              span.ml-3.mt-3.mb-3.headline.font-weight-regular( style="color: #1976d2;" ) Dialogs
              //- v-btn.mr-3.mt-3(  ) New
            v-divider
            v-card-text.d-flex( style=" max-height: 640px; overflow-y: overlay; ")
              v-list( three-line )
                v-list-item-group( v-model="currentId" :active-class="`primary white--text`")
                  template( v-for="(item, index) in items" )
                    v-divider(
                      v-if="index !== 0"
                      :key="index"
                      inset
                    )
                    v-list-item(
                      :key="item.title"
                      @click=""
                      style='border-radius: 10px;'
                    )
                      v-list-item-avatar
                        v-img( :src="item.avatar" )
                      v-list-item-content
                        v-list-item-title( v-html='item.title' )
                        v-list-item-subtitle( v-html='item.subtitle' )

        v-col( cols='12' lg='8' )
          v-card.mt-0.d-flex.flex-column( v-if='currentId !== undefined' height="100%" style='background-color: #f5f6f8')
            v-card-title
              span.ml-3.mt-3.mb-3.font-weight-medium.headline( style="color: #253e66" ) {{ currentChat.title }}
              .ma-2.user__status( class='success')
            v-divider
            v-card-text.d-flex.flex-column.justify-end( style='height: inherit; max-height: 560px ' )
              .overflow-y-auto.messages( )
                template( v-for="(message, index) in messages" )
                  .d-flex.align-center( v-if="message.id === 'Tutor'" )
                    v-avatar.mb-3
                      v-img( src='https://cdn.vuetifyjs.com/images/lists/1.jpg' )
                    .message-left
                      p.message-content
                        span.font-weight-light.subtitle-1 {{ message.message }}
                  .d-flex.align-center.justify-end( v-else )
                    .message-right
                      p.message-content
                        span.font-weight-light.subtitle-1 {{ message.message }}
                    v-avatar.ml-5.mb-3
                      v-img( src='https://cdn.vuetifyjs.com/images/lists/1.jpg' )
            v-divider
            v-card-actions.message-text( )
              div( style='width: 100%' )
                v-textarea.ma-3.message(
                  v-model='messageText'
                  outlined
                  rounded
                  placeholder="Type message..."
                  autofocus
                  auto-grow
                  row-height='24px'
                  rows='1'
                  @keyup.enter.ctrl='sendMessage'
                  hide-details
                  background-color=""
                )
                  template( v-slot:append )
                    v-btn.pb-0.message-send( icon @click="sendMessage" )
                      v-icon( style='font-size: 30px') mdi-send
          v-card.d-flex.justify-center.align-center( v-else height="100%" )
            div()
              span.display-1.font-weight-bold() Select dialog
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator'

import coreCard from '~/components/core/coreCard.vue'
import coreStatsCard from '~/components/core/coreStatsCard.vue'
import coreChartCard from '~/components/core/coreChartCard.vue'
import { auth } from '../../../store'

@Component({
  layout: 'dashboard',
  components: {
    coreCard,
    coreStatsCard,
    coreChartCard
  },
  fetch({ redirect }) {
    if( !auth.isAuthenticated && !auth.isAnonimous ) {
      redirect('/')
    }
  }
})
export default class Messages extends Vue {
  currentId: number = 0
  messageText: string = ''
  newMessage: boolean = false
  items:Array<object> = [
    {
      avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
      title: 'Tutor_1',
      subtitle: 'Do you have any problem with tests?'
    },
    {
      avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
      title: 'Tutor_2',
      subtitle: 'Do you have any problem with tests?'
    },
    {
      avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
      title: 'Tutor_3',
      subtitle: 'Do you have any problem with tests?'
    },
    {
      avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
      title: 'Tutor_4',
      subtitle: 'Do you have any problem with tests?'
    },
    {
      avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
      title: 'Tutor_5',
      subtitle: 'Do you have any problem with tests?'
    },
    {
      avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
      title: 'Tutor_6',
      subtitle: 'Do you have any problem with tests?'
    },
    {
      avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
      title: 'Tutor_7',
      subtitle: 'Do you have any problem with tests?'
    },
    {
      avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
      title: 'Tutor_8',
      subtitle: 'Do you have any problem with tests?'
    },
    {
      avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
      title: 'Tutor_9',
      subtitle: 'Do you have any problem with tests?'
    },
    {
      avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
      title: 'Tutor_10',
      subtitle: 'Do you have any problem with tests?'
    },
    {
      avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
      title: 'Tutor_11',
      subtitle: 'Do you have any problem with tests?'
    }
  ]

  messages: Array<object> = [
    {
      id: 'You',
      message: 'hi!',
    },
    {
      id: 'Tutor',
      message: 'hi!',
    }
  ]

  get currentChat () {
    return this.items[this.currentId]
  }

  updated () {
    if (this.newMessage) {
      let el = document.getElementsByClassName('messages')[0]
      el.scrollTop = el.scrollHeight
      this.newMessage = false
    }
  }

  sendMessage () {
    this.messages.push({ id: 'You', message: this.messageText })
    this.messageText = ''
    this.newMessage = true
  }

}
</script>

<style lang='sass'>

  #chat
    & .v-textarea.v-text-field--enclosed.v-text-field--outlined:not(.v-input--dense) textarea
      margin-top: 16px
      overflow-y: scroll
      max-height: 100px

    & .message

      // &-text

      & .v-input__append-inner
        margin: auto

      &-send
       padding-bottom: 12px
       margin: auto

      &-left
        position: relative
        margin-left: 20px
        margin-bottom: 10px
        background-color: white
        color: #b0bdcb
        min-height: 50px
        height: fit-content
        width: fit-content
        max-width: 450px
        word-break: break-word
        text-align: left
        border-radius: 50px

        &:after
          content: ''
          position: absolute
          width: 17px
          height: 9px
          background: white
          -moz-border-radius: 100px / 50px
          -webkit-border-radius: 100px / 50px
          border-radius: 100px / 50px
          top: calc(50% - 4.5px)
          left: -9px

      &-right
        position: relative
        margin-left: 20px
        margin-bottom: 10px
        background-color: #3598db
        color: white
        height: fit-content
        min-height: 50px
        word-break: break-word
        width: fit-content
        max-width: 450px
        text-align: left
        float: right
        // border: 1px solid #97C6E3
        border-radius: 50px

        &:after
          content: ''
          position: absolute
          width: 17px
          height: 9px
          background: #3598db
          -moz-border-radius: 100px / 50px
          -webkit-border-radius: 100px / 50px
          border-radius: 100px / 50px
          top: calc(50% - 4.5px)
          right: -6px

      &-content
        margin: 20px

    & .user__status
      border-radius:250px
      width: 15px
      height: 15px

</style>
