<template lang='pug'>
  v-list-group(
    :group="group"
    :prepend-icon="item.icon"
    :sub-group="subGroup"
    append-icon="mdi-menu-down"
    :color='rgba(0, 0, 0, .8)'
  )
    template( v-slot:activator )
      v-list-item-icon.v-list-item__icon--text( v-if='text' v-text='computedText' )
      v-list-item-avatar.align-self-center(
        v-else-if="item.avatar"
        color="white"
        contain
      )
        v-img()
      v-list-item-content
        v-list-item-title( v-text='item.title' )

    template( v-for="(child, i) in children" )
      coreItemSubGroup( v-if="child.children" :key="`sub-group-${i}`" :item="child" )
      coreItem( v-else :key='`item-${i}`' :item='child' text )
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator'

import coreItemSubGroup from './coreItemSubGroup.vue'
import coreItem from './coreItem.vue'

interface Item {
  avatar: string | undefined,
  group: string | undefined,
  title: string | undefined,
  children: [],
}

@Component({
  name: 'ItemGroup',
  components: {
    coreItemSubGroup,
    coreItem
  }
})
export default class CoreItemGroup extends Vue {
  @Prop({ type: Object, default: () => ({
    avatar: undefined,
    group: undefined,
    title: undefined,
    children: []
  })}) readonly item!: Item
  @Prop({ type: Boolean, default: false }) readonly subGroup!: boolean
  @Prop({ type: Boolean, default: false }) readonly text!: boolean

  get children () {
    return this.item.children.map(item => ({
      ...item,
      to: !item.to ? undefined : `${this.item.group}/${item.to}`,
    }))
  }

  get computedText () {
    if (!this.item || !this.item.title) return ''

    let text = ''

    this.item.title.split(' ').forEach(val => {
      text += val.substring(0, 1)
    })

    return text
  }

  get group () {
    return this.genGroup(this.item.children)
  }

  genGroup (children: Array<any>) {
    return children
      .filter(item => item.to)
      .map(item => {
        const parent = item.group || this.item.group
        let group = `${ parent }/${ item.to }`

        if (item.children) {
          group = `${ group }|${ this.genGroup(item.children) }`
        }

        return group
      }).join('|')
  }

}
</script>

<style lang='sass' scoped>
  .v-list-group__activator p
    margin-bottom: 0
</style>
