<template lang='pug'>
  coreCard.v-card--material-stats(
    :icon="icon"
    v-bind="$attrs"
    v-on="$listeners"
  )
    template( v-slot:after-heading )
      .ml-auto.text-right
        .display-2.grey--text.font-weight-light( v-text="title" )

        h3.display-3.font-weight-light.text--primary() {{ value }} <small> {{ smallValue }} </small>

    v-col.px-0( cols="12" )
      v-divider
    v-icon.ml-2.mr-1(
      :color="subIconColor"
      size="16"
    ) {{ subIcon }}

    span.caption.grey--text.font-weight-light( :class="subTextColor" v-text="subText" )
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator';

import Card from './Card.vue'
import coreCard from './coreCard.vue'

@Component({
  name: 'CoreStatsCard',
  inheritAttrs: false,
  components: {
    coreCard
  },
  props: {
    ...Card.props
  }
})
export default class ComponentName extends Vue {
@Prop({ type: String, required: true }) readonly icon!: string
@Prop({ type: String, default: undefined }) readonly subIcon!: string | undefined
@Prop({ type: String, default: undefined }) readonly subIconColor!: string | undefined
@Prop({ type: String, default: undefined }) readonly subTextColor!: string | undefined
@Prop({ type: String, default: undefined }) readonly subText!: string | undefined
@Prop({ type: String, default: undefined }) readonly title!: string | undefined
@Prop({ type: String, default: undefined }) readonly value!: string | undefined
@Prop({ type: String, default: undefined }) readonly smallValue!: string | undefined

}
</script>

<style lang='sass'>
.v-card--material-stats
  display: flex
  flex-wrap: wrap
  position: relative

  > div:first-child
    justify-content: space-between

  .v-card
    border-radius: 4px
    flex: 0 1 auto

  .v-card__text
    display: inline-block
    flex: 1 0 calc(100% - 120px)
    position: absolute
    top: 0
    right: 0
    width: 100%

  .v-card__actions
    flex: 1 0 100%
</style>
