<template lang='pug'>
  v-card.v-card--material.pa-3(
    v-bind="$attrs"
    :class="classes"
  )
    .d-flex.grow.flex-wrap
      v-avatar.mx-auto.v-card--material__avatar.elevation-6(
        v-if="avatar"
        size="128"
        color="grey"
      )
        v-img( :src="avatar" )
      v-sheet(
        v-else-if='$slots.image || place || icon || $slots.heading'
        :class="{ 'pa-7': !$slots.image && !place }"
        :color="color"
        :max-height="icon || place ? 90 : undefined"
        :width="icon || place ? '' : '100%'"
        :elevation="place ? 0 : 6"
        class="text-start v-card--material__heading mb-n6"
        :style='place ? `display: flex;` : ``'
        dark
      )
        slot( v-if="$slots.heading" name='heading' )

        slot( v-else-if="$slots.image" name='image' )

        div.display-1.font-weight-light(
          v-else-if="title && !icon"
          v-text="title"
        )

        v-icon(
          v-else-if="icon"
          size="32"
          v-text="icon"
        )

        template( v-else-if='place')
          div.text-center(
            :style='"padding: 15px 20px; background-color:" + colorPlace + "; border-radius: 4px; width: 115px"'
          )
            span.display-1 Rank:
            h1.display-3 {{place}}

          div.text-center.ml-4(
            :style='"padding: 15px 20px; background-color:" + colorPlace + "; border-radius: 4px; width: 115px"'
          )
            span.display-1 Top:
            h1.display-3 {{placePercentage + `%`}}

        div.headline.font-weight-thin(
          v-if="text"
          v-text="text"
        )

      .justify-center.align-center( style='height: calc(100% - 85px);' v-if="$slots['after-heading']" )
        slot( name='after-heading')

      .ml-4( v-else-if="icon && title" )
        .card-title.font-weight-light( v-text='title' )

    slot()

    template( v-if="$slots.actions" )
      v-divider.mt-2
      v-card-actions.pb-0
        slot( name='actions' )
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({
  name: 'CoreCard'
})
export default class CoreCard extends Vue {
  @Prop({ type: String, default: ''}) readonly avatar!: string
  @Prop({ type: String, default: 'success' }) readonly color!: string
  @Prop({ type: String, default: 'success' }) readonly colorPlace!: string
  @Prop({ type: String, default: undefined }) readonly icon!: string | undefined
  @Prop({ type: Boolean, default: false }) readonly image!: boolean
  @Prop({ type: String, default: '' }) readonly text!: string
  @Prop({ type: String, default: '' }) readonly title!: string
  @Prop({ type: String, default: '' }) readonly place!: string
  @Prop({ type: String, default: '' }) readonly placePercentage!: string


  get classes () {
    return {
      'v-card--material--has-heading': this.hasHeading,
    }
  }
  
  get hasHeading () {
    return Boolean(this.$slots.heading || this.title || this.icon)
  }

  get hasAltHeading () {
    return Boolean(this.$slots.heading || (this.title && this.icon))
  }
}
</script>

<style lang='sass'>
  .v-card--material
    &__avatar
      position: relative
      top: -64px
      margin-bottom: -32px

    &__heading
      position: relative
      top: -40px
      transition: .3s ease
      z-index: 1

</style>
