<template lang='pug'>
  v-list-item(
    :href="href"
    :rel="href && href !=='#' ? 'noopener' : undefined"
    :target="href && href !== '#' ? '_blank' : undefined"
    :to="item.to"
    :active-class="`blue-color white--text`"
    v-on='$listeners'
  )
    v-list-item-icon.v-list-item__icon--text(
      v-if='text'
      v-text='computedText'
    )

    v-list-item-icon( v-else-if="item.icon" )
      v-icon( v-text="item.icon" )

    v-list-item-content( v-if="item.title || item.subtitle" )
      v-list-item-title( v-text='item.title' )
      v-list-item-subtitle( v-text='item.subtitle' )

</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator';

interface Item {
  href: string | undefined,
  icon: string | undefined,
  subtitle: string | undefined,
  title: string | undefined,
  to: string | undefined
}

@Component({
  name: 'Item'
})
export default class CoreItem extends Vue {
  @Prop({ type: Object, default: () => ({
    href: undefined,
    icon: undefined,
    subtitle: undefined,
    title: undefined,
    to: undefined
  })}) readonly item!: Item
  @Prop({ type: Boolean, default: false }) readonly text!: boolean

  get computedText () {
    if (!this.item || !this.item.title) return ''
    let text = ''
    this.item.title.split(' ').forEach(val => {
      text += val.substring(0, 1)
    })

    return text
  }

  get href () {
    return this.item.href || (!this.item.to ? '#' : undefined)
  }

}
</script>

<style lang='sass'>
  .blue-color
    background-color: #007cde !important

</style>
