<template lang='pug'>
  coreCard.v-card--material-chart(
    v-bind="$attrs"
    v-on="$listeners"
  )
    slot( name='title' )

    line-chart(
      v-if='type === "Line"'
      :chart-data='data'
      :options='options'
      :height='heigntChart'
    )
    bar-chart(
      v-if='type === "Bar"'
      :chart-data='data'
      :options='options'
      :height='heigntChart'
    )
    time-bar-chart(
      v-if='type === "Time-Bar"'
      :chart-data='data'
      :options='options'
      :height='heigntChart'
    )
    time-line-chart(
      v-if='type === "Time-Line"'
      :chart-data='data'
      :options='options'
      :height='heigntChart'
    )
    Radar(
      v-if='type === "Radar"'
      :chart-data='data'
      :options='options'
      :height='heigntChart'
    )

    slot(
      slot="reveal-actions"
      name="reveal-actions"
    )

    slot(
      slot="actions"
      name="actions"
    )

</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator'
import coreCard from './coreCard.vue'

@Component({
  name: 'CoreChartCard',
  inheritAttrs: false,
  components: {
    coreCard,
    // chartist
  }
})
export default class CoreChartCard extends Vue {
  @Prop({ type: Object, default: () => ({}) }) readonly data!: object
  @Prop({ type: Array, default: () => ([]) }) readonly eventHandlers!: []
  @Prop({ type: Object, default: () => ({}) }) readonly options!: object
  @Prop({ type: String, default: undefined }) readonly ratio!: string
  @Prop({ type: Array, default: () => ([]) }) readonly responsiveOptions!: []
  @Prop({ type: String, required: true, validator: v => ['Bar', 'Line', 'Time-Bar', 'Time-Line', 'Radar'].includes(v) }) readonly type!: string
  @Prop({ type: Number, default: 100 }) readonly heigntChart!: number
  @Prop({ type: String }) readonly backgroundChart!: string

}
</script>

<style lang='sass'>
  .v-card--material-chart
    p
      color: #999

    .v-card--material__heading
      max-height: 185px
</style>
