<template lang='pug'>
  coreCard.v-card--material-stats(
    :icon="icon"
    v-bind="$attrs"
    v-on="$listeners"
  )
    template( v-slot:after-heading )
      .text-center.fill-height.d-flex.flex-column.justify-center
        .display-3.grey--text.font-weight-light(style='width: 100%;')
          span( ) {{ title }}

        h3.display-3.font-weight-light.text--primary() {{ value }} <small> {{ smallValue }} </small>
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator';

import Card from './Card.vue'
import coreCard from './coreCard.vue'

@Component({
  name: 'CoreStatsCard',
  inheritAttrs: false,
  components: {
    coreCard
  },
  props: {
    ...Card.props
  }
})
export default class ComponentName extends Vue {
@Prop({ type: String, required: true }) readonly icon!: string
@Prop({ type: String, default: undefined }) readonly subIcon!: string | undefined
@Prop({ type: String, default: undefined }) readonly subIconColor!: string | undefined
@Prop({ type: String, default: undefined }) readonly subTextColor!: string | undefined
@Prop({ type: String, default: undefined }) readonly subText!: string | undefined
@Prop({ type: String, default: undefined }) readonly title!: string | undefined
@Prop({ type: String, default: undefined }) readonly value!: string | undefined
@Prop({ type: String, default: undefined }) readonly smallValue!: string | undefined

}
</script>

<style lang='sass'>
.v-card--material-stats
  display: flex
  flex-wrap: wrap
  position: relative
  height: calc(100% - 15px)

  > div:first-child
    justify-content: space-between
    flex-direction: column
    width: fit-content

  .v-card
    border-radius: 4px
    flex: 0 1 auto

  .v-card__text
    display: inline-block
    flex: 1 0 calc(100% - 120px)
    position: absolute
    top: 0
    right: 0
    width: 100%

  .v-card__actions
    flex: 1 0 100%
</style>
