<template lang='pug'>
  coreItem(
    :item="item"
    text
    sub-group
  )
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator'

import coreItem from './coreItem.vue'

interface Item {
  avatar: string | undefined,
  group: string | undefined,
  title: string | undefined,
  children: [],
}

@Component({
  name: 'ItemSubGroup',
  components: {
    coreItem
  }
})
export default class CoreItemSubGroup extends Vue {
  @Prop({ type: Object, default: () => ({
    avatar: undefined,
    group: undefined,
    title: undefined,
    children: [],
  })}) readonly item!: Item
}
</script>

<style lang='sass' scoped>

</style>
