<template lang="pug">
v-dialog( v-model="dialog" hide-overlay eager width="600px" )
  template( v-slot:activator="{ on, attrs }" )
    v-btn.draw__btn(
      color="primary"
      dark
      v-bind="attrs"
      v-on="on"
    ) {{ dialog ? 'Close Drawing board' : ' Open Drawing board' }}
  v-card( width="600px" )
    v-card-title.pb-6
      span Drawing board
    v-divider
    #draw
      .app-wrapper
        canvas( id="canvas" )
        div( class="cursor" id="cursor" )
      //- small Right click to save image.
    v-divider
    v-card-actions.pa-0
      .controls
        .btn-row
          v-btn( icon @click='removeHistoryItem' :class='{ disabled: !history.length }' title='Undo' )
            v-icon( color='white' ) mdi-undo
          v-btn( icon @click='removeAllHistory' :class='{ disabled: !history.length }' title='Clear all' )
            v-icon( color='white' ) mdi-trash-can-outline
        .btn-row
          v-btn( icon title='Pick a brush size' @click='popups.showSize = !popups.showSize' :class='{ active: popups.showSize }' )
            v-icon( color='white' ) mdi-brush
          .popup( v-show='popups.showSize' )
            .popup-title
              | Brush size
            label.size-item( v-for='sizeItem in sizes' )
              input( type='radio' name='size' v-model='size' :value='sizeItem' )
              span.size(:style="{width: sizeItem + 'px', height: sizeItem + 'px'}" @click='popups.showSize = !popups.showSize')
        .btn-row
          v-btn.btn_draw( icon title='Pick a color' @click='popups.showColor = !popups.showColor' :class='{ active: popups.showColor }')
            v-icon( color='white' ) mdi-palette
            span.color-icon(:style='{backgroundColor: color}')
          .popup(v-show='popups.showColor')
            .popup-title
              | Brush color
            label.color-item(v-for='colorItem in colors')
              input(type='radio' name='color' v-model='color' :value='colorItem')
              span(:class="'color color-' + colorItem" :style='{backgroundColor: colorItem}' @click='popups.showColor = !popups.showColor')
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component({
  name: 'drawing'
})
export default class Drawing extends Vue {
  @Prop({ type: Number, default: 12 }) readonly brushSize!: number
  @Prop({ type: Number, default: 640 }) readonly width!: number
  @Prop({ type: Number, default: 480 }) readonly height!: number
  @Prop({ type: String, default: 'canvas' }) readonly outputName!: string

  popups = {
    showColor: false,
    showSize: false,
    showWelcome: true,
    showSave: false,
    showOptions: false
  }
  dialog = false
  options = {
    restrictY: false,
    restrictX: false
  }
  save = {
    name: '',
    saveItems: []
  }
  color = '#13c5f7'
  size = 12
  colors = [
    '#d4f713',
    '#13f7ab',
    '#13f3f7',
    '#13c5f7',
    '#138cf7',
    '#1353f7',
    '#2d13f7',
    '#7513f7',
    '#a713f7',
    '#d413f7',
    '#f713e0',
    '#f71397',
    '#f7135b',
    '#f71313',
    '#f76213',
    '#f79413',
    '#f7e013'
  ]
  sizes = [6, 12, 24, 48]
  weights = [ 2, 4, 6 ]
  canvas: any = null
  context: any = null
  isDrawing = false
  mouseDown = false
  startX = 0
  startY = 0
  history: Array<any> = []

  mounted () {
    this.canvas = document.getElementById('canvas');
    this.context = this.canvas.getContext("2d");

    // this.setSize()
    this.canvas.width = 600;
    this.canvas.height = 200;

    this.canvas.addEventListener('mousedown', this.mousedown);
    this.canvas.addEventListener('mouseup', this.mouseup)
    this.canvas.addEventListener('mouseleave', this.mouseleave)
    this.canvas.addEventListener('mousemove', this.mousemove);

    window.addEventListener('resize', ()=>{
      this.redraw();
    });
    // document.addEventListener('mouseup', this.mouseup);
  }


  mousedown (e: any) {
    this.mouseDown = true
    this.startX = e.clientX
    this.startY = e.clientY
    this.setDummyPoint()
  }

  mousemove (e: any) {
    this.moveMouse(e);

    if(this.mouseDown) {
      this.startX = this.startX;
      this.startY = this.startY;
      
      if(!this.options.restrictX){
        this.startX = e.offsetX;
      }
      
      if(!this.options.restrictY){
        this.startY = e.offsetY;
      }

      var item = {
        isDummy: false,
        x: this.startX,
        y: this.startY,
        c: this.color,
        r: this.size
      };
      
      this.history.push(item);
      this.draw(item, this.history.length);
    }
  }

  mouseup (e: any) {
    if(this.mouseDown){
      this.setDummyPoint()
    }
    this.mouseDown = false
  }

  mouseleave (e: any) {
    if(this.mouseDown){
      this.setDummyPoint();
    }
    this.mouseDown = false;
  }

  moveMouse(e: any){
		let x = e.offsetX;
		let y = e.offsetY;
		
		let cursor = document.getElementById('cursor');
		
		cursor.style.transform = `translate(${x - 10}px, ${y - 10}px)`;
	}

  resetCanvas () {
    this.canvas.width = this.canvas.width;
    this.points.length = 0; // reset points array
  }

  redraw(){
    this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
    this.drawBgDots();

    if(!this.history.length){
      return true;
    }

    this.history.forEach((item, i)=>{
      this.draw(item, i);
    });
  }

  drawBgDots(){
    var gridSize = 50;
    this.context.fillStyle = 'rgba(0, 0, 0, .2)';

    for(var i = 0; i*gridSize < this.canvas.width; i++){
      for(var j = 0; j*gridSize < this.canvas.height; j++){
        if(i > 0 && j > 0){
          this.context.beginPath();
          this.context.rect(i * gridSize, j * gridSize, 2, 2);
          this.context.fill();
          this.context.closePath();
        }
      }
    }
  }

  draw(item, i){
    this.context.lineCap = 'round';
    this.context.lineJoin="round";
    
    var prevItem = this.history[i-2];
        
    if(i < 2){
      return false;
    }

    if(!item.isDummy && !this.history[i-1].isDummy && !prevItem.isDummy){
      this.context.strokeStyle = item.c;
      this.context.lineWidth = item.r;
      
      this.context.beginPath();
      this.context.moveTo(prevItem.x, prevItem.y);
      this.context.lineTo(item.x, item.y);
      this.context.stroke();
      this.context.closePath();
    } else if (!item.isDummy) {
      this.context.strokeStyle = item.c;
      this.context.lineWidth = item.r;
      
      this.context.beginPath();
      this.context.moveTo(item.x, item.y);
      this.context.lineTo(item.x, item.y);
      this.context.stroke();
      this.context.closePath();
    }
  }

  getDummyItem(){
    const lastPoint = this.history[this.history.length-1];
    
    return {
      isDummy: true,
      x: lastPoint.x,
      y: lastPoint.y,
      c: null,
      r: null
    };
  }
  setDummyPoint () {
    const item = this.getDummyItem();
    this.history.push(item);
    this.draw(item, this.history.length);
  }

  removeHistoryItem () {
    this.history.splice(this.history.length-2, 1);
    this.redraw();
  }

  removeAllHistory () {
    this.history = [];
    this.redraw();
  }

  simplify () {
    let simpleHistory = [];
    this.history.forEach((item, i)=>{
      if(i % 6 !== 1 || item.isDummy){
        simpleHistory.push(item);
      }
    });
    this.history = simpleHistory;
    this.redraw();
  }

  jumble () {
    let simpleHistory = [];
    this.history.forEach((item, i)=>{
      item.r += Math.sin(i * 20) * 5;
    });
    this.history = this.shuffle(this.history);
    this.redraw();
  }

  shuffle (a: any) {
    let b: any = [];

    a.forEach((item, i)=>{
      if(!item.isDummy){
        var l = b.length;
        var r = Math.floor(l * Math.random());
        b.splice(r, 0, item);
      }
    });

    for(var i = 0; i < b.length; i++){
      if(i % 20 === 1){
        b.push(this.getDummyItem());
      }
    }

    return b;
  }
  saveItem () {
    if(this.save.name.length > 2){
      var historyItem = {
        history: this.history.slice(),
        name: this.save.name
      };

      this.save.saveItems.push(historyItem);
      this.save.name = "";
    }
  }

  loadSave (item: any) {
    this.history = item.history.slice();
    this.redraw();
  }
}
</script>

<style lang='scss' scoped>
$prim: rgb(0, 149, 255);
canvas {
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 200;
  cursor: none;

  &:hover + .cursor {
    opacity: 1;
  }

  &:active + .cursor {
    border-color: rgb(60, 60, 60);
  }
}

.cursor {
  position: absolute;
  top: 72px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid rgb(30, 30, 30);
  pointer-events: none;
  user-select: none;
  mix-blend-mode: difference;
  opacity: 0;
  transition: opacity 1s;
}

.draw__btn {
  position: fixed;
  top: calc(100vh - 50px);
  left: calc( 50% - 84px );
  z-index: 25;
}

.controls {
	position: relative;
	z-index: 5;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: rgb(10, 10, 10);
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
}

.stat {
	font-size: 20px;
	margin-bottom: 15px;
}

.btn-row {
	position: relative;
	margin-bottom: 5px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0 15px;
	border-radius: 4px;
}

.popup {
	position: absolute;
	width: 300px;
	bottom: 58px;
	padding: 30px;
	left: calc(50% - 150px);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: white;
	color: rgb(30, 30, 30);
	border-radius: 10px 10px 0 0;
	border: 1px solid rgb(220, 220, 220);
	border-bottom-width: 0;
	opacity: 0;
	animation: popup .5s forwards cubic-bezier(.2, 2, .4, 1);
	z-index: 10000;
	overflow: hidden;
	max-height: 80vh;
	overflow-y: auto;
	
	.popup-title {
		flex: 0 0 100%;
		text-align: center;
		font-size: 16px;
		color: black;
		opacity: .5;
		margin-bottom: 10px;
	}
	
	button {
		height: 80px;
		width: 80px;
		text-align: center;
		font-size: 14px;
		color: rgba(0, 0, 0, .4);
		
		i {
			display: block;
			font-size: 30px;
			margin-bottom: 5px;
			color: rgba(0, 0, 0, .2);
		}
		
		&.disabled {
			color: rgba(0, 0, 0, .2);
			
			i {
				color: rgba(0, 0, 0, .1);
			}
		}
		
		&.active,
		&:active {
			color: rgba(0, 0, 0, .4);
			
			i {
				color: $prim;
			}
		}
	}
}

@keyframes popup {
	from {
		opacity: 0;
		transform: translateX(40px);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

.btn_draw {
	.size-icon,
	.color-icon {
		position: absolute;
		top: 10px;
		right: 0;
	}
	
	.color-icon {
		width: 5px;
		height: 5px;
		border-radius: 50%;
	}
	
	.size-icon {
		font-size: 6px;
		text-align: right;
	}
		
	&:hover {
		opacity: .8;
	}
	
	&:active,
	&.active{
		color: white;
	}
	
	&.disabled {
		color: rgb(50, 50, 50);
		cursor: not-allowed;
	}
}

.history {
	width: 30px;
	height: 30px;
	background-color: rgb(30, 30, 30);
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	overflow: hidden;
	color: rgb(140, 140, 140);
}
	
.color-item {
	position: relative;
	display: inline-block;
	cursor: pointer;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;

	input {
		position: absolute;
		opacity: 0;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
	}
	
	input:checked + .color {
		opacity: 1;
		border: 2px solid $prim;
	}
	
	.color {
		display: block;
		width: 30px;
		height: 30px;
		background-color: white;
		border-radius: 50%;
		
		&:hover {
			opacity: .8;
		}
	}
}

@keyframes pulsate {
	0%,
	100% {
		transform: none;
	}
	50% {
		transform: scale(1.15);
	}
}

.size-item {
	width: 40px;
	height: 60px;
	display: inline-flex;
	position: relative;
	justify-content: center;
	align-items: center;
	vertical-align: top;
	cursor: pointer;
	
	input {
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		opacity: 0;
	}
	
	.size {
		background-color: rgb(140, 140, 140);
		display: inline-block;
		border-radius: 50%;
		transition: all .15s;
		transform: translate(-50%, -50%) scale(.6);
		position: absolute;
		top: 50%;
		left: 50%;
		
		&:hover {
			opacity: .8;
		}
	}
	
	input:checked + .size {
		background-color: $prim;
	}
}

.saves {
	flex: 0 0 calc(100% + 60px);
	margin: 30px -30px -30px;
	padding: 30px;
	background-color: rgb(240, 240, 240);
	max-height: 250px;
	overflow-y: auto;
	
	.save-item {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

</style>
