<template lang="pug">
v-dialog( v-model='status' max-width='390px' @input='emitClose')
  v-card
    v-card-title( style='word-break: break-word;' )
      div
        | How to keep your progress and improve your knowledge?
        v-spacer
        v-icon( tag='button' @click='emitClose') mdi-close
    v-divider.mt-4
    v-card-text.body-1.text-center()
      v-row
        v-col( cols='12' )
          div
            div
              strong 1. Register
            div.grey--text
            | The first step is to create an account at Smart Study. You can choose a social network or go for the classic version, whatever works best for you.
        v-col( cols='12' )
          div
            div
              strong 2. Try tests
            div.grey--text
            | Learn your weak topics in mathematics, get personalized tests, watch your development progress.
      v-divider.mt-4
      v-btn.mt-6.mr-0( depressed rounded color='success' to='/registration' ) Registration
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component
export default class RegistrationModal extends Vue {
  @Prop({required: true, type: Boolean }) status!: boolean
  emitClose () {
    this.$emit('changeStatus', this.status)
  }
}
</script>

<style lang='sass'>

</style>
