<template lang='pug'>
  v-main
    v-container#user-profile( fluid tag='section' )
      v-row( justify="center" )
        v-col( cols='12' )
          .background-profile.relative
            .d-flex.fill-height.align-end
              .d-flex.relative
                .avatar
                  v-avatar( size='108' )
                    v-img( src='http://i.pravatar.cc/108' )
              .d-flex.flex-column.mb-2.align-self-end( style='margin-left: 160px' )
                .d-flex
                  h1.ml-1.display-3.font-weight-bold( style='color: white' ) {{ name }}
                .d-flex
                  v-icon( small color='white') mdi-map-marker
                  span.display-2( style='color: white' ) Libson, Portugal
              v-spacer
              .d-flex
                .d-flex.mr-8
                  .d-flex.flex-column.align-center.mx-6.mb-2
                    h3.display-3.font-weight-bold( style='color: white' ) {{ countPassedTests }}
                    span.display-2( style='color: white' ) Passed tests
                  v-divider( vertical style='border-color: white; min-height: 50%; max-height: 80%; margin-top: 8px;' )
                  .d-flex.flex-column.align-center.mx-6
                    h3.display-3.font-weight-bold( style='color: white' ) 10
                    span.display-2( style='color: white' ) Friends
                  v-divider( vertical style='border-color: white; min-height: 50%; max-height: 80%; margin-top: 8px;' )
                  .d-flex.flex-column.align-center.mx-6
                    h3.display-3.font-weight-bold( style='color: white' ) 10
                    span.display-2( style='color: white' ) Rank

      v-row.mt-4
        v-col( cols='12' md='2' )
          .user-nav.mt-6
            v-list( expand style='border-radius: 15px' nav)
              v-subheader.display-1.pl-2 Profile Widget
              v-list-item-group( v-model='listModel' color="primary" )
                v-list-item(
                  v-for="(item, i) in computedItems"
                  :key="i"
                  link
                )
                  v-list-item-content
                    v-list-item-title.display-2( v-text='item.title' )

        v-col( cols='12' md='10' )
          v-row
            v-col( cols='12' md='6' )
              coreStatsCard(
                color='transparent'
                colorPlace='#ff4484'
                icon=''
                :place='correctnessRank.toString()'
                :placePercentage='correctnessPercentageRank.toString()'
                title='Your average accuracy per test'
                :value='averageAccuracyPerTest + "%"'
                sub-icon='mdi-clock-outline'
                :sub-text='`Updated: ${ updatedTime }`'
              )
            v-col( cols='12' md='6' )
              coreStatsCard(
                color='transparent'
                colorPlace='#2ca2ff'
                :place='timingRank.toString()'
                :placePercentage='timingPercentageRank.toString()'
                icon=''
                title='Average time spent on each test'
                :value='averageTimeSpentOnEachTest.toString()'
                sub-icon='mdi-tag'
                :sub-text='`Updated: ${ updatedTime }`'
              )

</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator'

import CoreCard from '~/components/core/coreCard.vue'
import coreStatsCard from '~/components/core/coreStatsCard.vue'


import { auth, resultsStore } from '~/store'

@Component({
  name: 'User',
  layout: 'dashboard',
  components: {
    CoreCard,
    coreStatsCard
  },
  fetch({ redirect }) {
    if( !auth.isAuthenticated && !auth.isAnonimous ) {
      redirect('/')
    }
  }
})
export default class User extends Vue {

  listModel = 0

  items = [
    {
      icon: 'mdi-view-dashboard',
      title: 'Profile',
      to: '/lk/user'
    },
    {
      icon: 'mdi-view-dashboard',
      title: 'Friends',
      to: '/lk/friends'
    }
  ]

  get timingRank () {
    if(auth.user.timingRank) return auth.user.timingRank['math_nocalc']
    else return 0
  }

  get correctnessRank () {
    if(auth.user.correctnessRank) return auth.user.correctnessRank['math_nocalc']
    else return 0
  }

  get timingPercentageRank () {
    if(auth.user.timingRank) return auth.user.timingRank['math_nocalc' + '_percent']
    else return 0
  }

  get correctnessPercentageRank () {
    if(auth.user.correctnessRank) return auth.user.correctnessRank['math_nocalc' + '_percent']
    else return 0
  }

  get updatedTime () {
    if(auth.user.results !== undefined && auth.user.results.length !== 0) {
      const time = auth.user.results[auth.user.results.length - 1].created_at
      return this.$moment(time).fromNow()
    } else if(resultsStore.resultPoll.length !== 0) {
      return this.$moment(resultsStore.resultPoll[0].created_at).fromNow()
    }
  }

  get averageAccuracyPerTest () {
    if(auth.user.correctness && auth.user.correctness['math_nocalc']) {
      return Math.floor(auth.user.correctness['math_nocalc' + '_percent'])
    } else {
      return 0
    }
  }

  get averageTimeSpentOnEachTest () {
    if(auth.user.timing && auth.user.timing['math_nocalc']) {
      if(auth.user.timing['math_nocalc'] > 3800) {
        return this.$moment.utc(Math.floor(auth.user.timing['math_nocalc']) * 1000).format('h [hour] mm [min] ss [sec]')
      }
      return this.$moment.utc(Math.floor(auth.user.timing['math_nocalc']) * 1000).format('mm [min] ss [sec]')
    } else {
      return 0
    }
  }


  get name () {
    return auth.user.name
  }

  get countPassedTests () {
    if( auth.user.results ) {
      return auth.user.results.length
    }
  }

  get computedItems () {
    console.warn(this.items.map(this.mapItem));
    return this.items.map(this.mapItem)
  }

  mapItem (item: any) {
    return {
      ...item,
      children: item.children ? item.children.map(this.mapItem) : undefined,
      title: item.title
    }
  }

}
</script>

<style lang='sass'>

  .relative
    position: relative !important

  #user-profile

    .background-profile
      border-radius: 6px
      background-image: url(https://source.unsplash.com/1600x900/)
      background-size: cover
      width: 100%
      height: 240px

    .avatar
      position: absolute
      bottom: -28px
      left: 25px
      // margin-top: 25px
      display: flex
      border-radius: 50%
      border: 4px solid white

    .user

      &-nav
        background-color: white
        border-radius: 10px
        border: 1px solid #8c8c8c52
        min-height: 500px

      &-content
        background-color: white
        border-radius: 10px
        border: 1px solid #8c8c8c52
        min-height: 500px
        width: 80%
</style>
