<template lang='pug'>
  Radar(
    :chart-data='secondChart.data'
    :options='secondChart.options'
    :height='heigth'
    :width='width'
  )
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator';
import { auth, resultPollStore, app } from '~/store';

@Component({
  name: 'RadarChart'
})
export default class RadarReview extends Vue {
  @Prop() readonly result!: any
  @Prop() readonly labelsSecond!: any


  secondChart = {
    data: {
      labels: this.labelsSecond,
      datasets: [
         {
          label: 'Correct % for you',
          borderColor: '#ff6384',
					backgroundColor: '#ffc5d154',
					pointBackgroundColor: '#ff6384',
          data: this.answersBySubThemes( this.labelsSecond, 'correct' )
        },
        {
          label: 'Correct % for others',
          borderColor: '#36a2eb',
					backgroundColor: '#79c1f14d',
					pointBackgroundColor: '#36a2eb',
          data: this.allUsersCorrectSub( this.labelsSecond )
        }
      ]
    },
    options: {
      responsive: true,
      title: {
        display: true,
        text: 'You vs. Others on this test',
        fontSize: 20,
        fontColor: 'black'
      },
      tooltips:{
        callbacks: {
          title: (tooltipItem: any, data: any) => {
            let str = ''
            tooltipItem.forEach((item: any) => {
              str += data.labels[item.index] + ' & '
            })
            return str.slice(0, -2)
          },
          label: (tooltipItem: any, data: any) => {
            let label = tooltipItem.value || 0
            
            return data.datasets[tooltipItem.datasetIndex].label + ': ' + label + '%'
          }
        }
      },
      hover: {
        animationDuration: 500
      },
      layout: {
        padding: {
          top: 0
        }
      },
      animation: {
        duration: 1000,
        onComplete: () => {}
      },
      legend: {
        display: true,
        labels: {
          fontColor: 'black',
          fontSize: 16
        }
      },
      elements: {
        line: {
          tension: 0.0,

        }
      },
      scale: {
        pointLabels: {
          fontSize: 13
        },
        ticks: {
          min: -10,
          stepSize: 10,
          callback: function (label) {
            return label + '%'
          }
        }
      }
    }
  }

  get heigth () {
    if(this.$vuetify.breakpoint.lgAndUp) return 800
    else if(this.$vuetify.breakpoint.mdAndUp) return 650
    else if(this.$vuetify.breakpoint.smAndUp) return 400
    else if(this.$vuetify.breakpoint.xs) return 250
  }
  get width () {
    if(this.$vuetify.breakpoint.lgAndUp) return 1000
    else if(this.$vuetify.breakpoint.mdAndUp) return 750
    else if(this.$vuetify.breakpoint.smAndUp) return 500
    else if(this.$vuetify.breakpoint.xs) return 250
  }

  allUsersCorrectSub (themes: string[]) {
    if(auth.user.commonStatistics !== undefined) {
      const series = []
      for(const theme of themes) {
        const filteredOnTheme = auth.user.commonStatistics.filter(answer => answer.subTag === theme)
        const filtredTrueHop = filteredOnTheme.filter(item => item.isCorrect)
        if(filteredOnTheme.length === 0) series.push(0)
        else series.push(Math.floor(filtredTrueHop.length / filteredOnTheme.length * 100))
      }
      return series
    }
  }

  answersBySubThemes (themes: string[], type: string) {
    const series = []
    console.warn(themes);
    for(const theme of themes) {
      const filteredOnTheme = this.result.poll.sorted.filter(hop => hop.subTags === theme)
      let countTrue = 0
      filteredOnTheme.forEach( hop => {
        let findResult = this.result.answers.find(anwser => anwser.hop_id === hop._id)
        if(findResult.options[0]) findResult.options[0].id === hop.correctAnswer[0] ? countTrue++ : ''
      })
      if(filteredOnTheme.length === 0) series.push(0)
      else {
        type === 'correct' ? series.push(Math.floor(countTrue / filteredOnTheme.length * 100)) : series.push( 100 - Math.floor(countTrue / filteredOnTheme.length * 100))
      }
    }
    return series
  }

}
</script>

<style lang='sass'>

</style>
