<template lang='pug'>

</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator'

import { auth } from '~/store'
@Component({
  name: 'Logout',
  layout: 'stepLayout',
})
export default class Logout extends Vue {
  beforeMount() {
    auth.logout()
      .then( () => {
        localStorage.removeItem('AnswerData')
        localStorage.removeItem('polls')
        localStorage.removeItem('historyLS')
        this.$router.push('/')
        } )
      .catch( () => {
        localStorage.removeItem('AnswerData')
        localStorage.removeItem('polls')
        localStorage.removeItem('historyLS')
        this.$router.push('/')
      } )
  }
}
</script>

<style lang='sass' scoped>

</style>
