<template lang="pug">
  v-app
    div
      v-app-bar.transparent.elevation-0( app dark tile height='86px' )
        v-container.px-0.text-right.d-flex.align-center(  )
          v-toolbar-title.hidden-xs-only.font-weight-light(  ) Registration page
          v-spacer
          v-btn.ma-5( text depressed tile to='login') Log-in
    v-main.pa-0( )
      v-img(
        :src="backImg"
        cover
        :gradient="`to bottom, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)`"
      )
        .d-flex.align-center.v-responsive( style='min-height: 100vh; padding: 175px 0px;' )
          v-container.fill-height.justify-center#register( tag="section" )
            v-row.justify-center(  )
              v-col( cols='12' md="9" )
                v-card.pa-3.pa-md-5.mx-auto( style='transform-origin: center top 0px;' )
                  h1.text__regisration.font-weight-light.text-center(  ) Registration
                  v-row(  )
                    v-col( md='6' cols='12' )
                      v-row( no-gutters )
                        v-col( cols='12' v-for="(item, i) in items" :key='i')
                          v-list-item(
                            :three-line='true'
                            tag='div'
                            tabindex="-1"
                            inactive
                            :ripple="false"
                          )
                            v-list-item-icon.mr-4.mt-5.mt-md-4(  )
                              v-icon( notranslate large v-text="item.icon" :color='item.iconColor')
                            v-list-item-content( )
                              v-list-item-title.font-weight-light.mb-4.mt-3( v-text='item.title' )
                              v-list-item-subtitle( v-text='item.subtitle' )
                    v-col( md='6' cols='12' )
                      .text-center
                        v-btn.my-2.mr-3( fab small depressed rounded dark color="rgb(29, 161, 242)")
                          v-icon() mdi-twitter
                        v-btn.my-2.mr-3( fab small depressed rounded dark color="rgb(59, 89, 152)" )
                          v-icon() mdi-facebook
                        v-btn.my-2.mr-3( fab small depressed rounded dark color="#d50100" )
                          v-icon() mdi-gmail
                        .my-5
                        v-form( ref="registerForm" v-model="valid" lazy-validation )
                          v-text-field#email(
                            v-model='email'
                            prepend-icon="mdi-email"
                            type='email'
                            placeholder="E-mail"
                            :rules="emailRules"
                            @keyup.enter="login()"
                            :error-messages='errorEmail'
                            @focus="clearMessage()"
                          )
                          v-text-field#username( v-model='username' prepend-icon="mdi-face" type='text' placeholder="Username")
                          v-text-field#password.mb-9(
                            v-model='password'
                            prepend-icon="mdi-lock-outline"
                            :type="hintPassword ? 'text' : 'password'"
                            placeholder="Password"
                            :append-icon="hintPassword ? 'mdi-eye' : 'mdi-eye-off'"
                            @click:append="hintPassword = !hintPassword"
                            :error-messages='errorPassword'
                            :rules="passwordRules"
                            @focus="clearMessage()"
                            @keyup.enter="login()"
                          )
                        v-btn.font-weight-light.mb-3( rounded @click="registration()" color="green" style="letter-spacing: 0; height: 41px; text-indent: 0; font-family: inherit") Get started
                        //- div( v-show='paidFor' ref='paypal' )
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator'

import coreItem from '~/components/core/coreItem.vue'
import { auth, resultsStore } from '~/store'

@Component({
  name: 'Registration',
  layout: 'stepLayout',
  components: {
    coreItem
  },
  fetch({ redirect }) {
    if ( auth.isAuthenticated ) {
      redirect('/lk')
    }
  }
})
export default class Registration extends Vue {
  backImg = require('~/assets/registration.jpg')
  product = {
    price: 200.00,
    description: 'Account SmartStudy'
  }
  paidFor = false
  hintPassword: boolean = false
  valid: boolean = false
  username: string = ''
  email: string = ''
  password: string = ''
  items = [
    {
      icon: "mdi-chart-timeline-variant",
      title: "Lorem",
      subtitle: "Anim nostrud aute excepteur commodo aliquip minim consequat. Adipisicing esse nostrud ea cupidatat ut ullamco incididunt eu excepteur. Laborum minim aliqua et elit deserunt sint esse consectetur elit ex cillum. Irure officia est proident elit aute ullamco nisi fugiat officia ullamco pariatur cillum.",
      iconColor: "pink"
    },
    {
      icon: "mdi-chart-timeline-variant",
      title: "Lorem",
      subtitle: "Anim nostrud aute excepteur commodo aliquip minim consequat. Adipisicing esse nostrud ea cupidatat ut ullamco incididunt eu excepteur. Laborum minim aliqua et elit deserunt sint esse consectetur elit ex cillum. Irure officia est proident elit aute ullamco nisi fugiat officia ullamco pariatur cillum.",
      iconColor: "black"
    },
    {
      icon: "mdi-chart-timeline-variant",
      title: "Lorem",
      subtitle: "Anim nostrud aute excepteur commodo aliquip minim consequat. Adipisicing esse nostrud ea cupidatat ut ullamco incididunt eu excepteur. Laborum minim aliqua et elit deserunt sint esse consectetur elit ex cillum. Irure officia est proident elit aute ullamco nisi fugiat officia ullamco pariatur cillum.",
      iconColor: "red"
    }
  ]
  errorEmail: string = ''
  errorPassword: string = ''
  error: string = ''
  emailRules: Array<Function> = [
    (v: string) => !!v || 'Enter e-mail',
    (v: string) => {
      if(v.length > 0) {
        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return pattern.test(v) || 'E-mail is not correct';
        } else return ''
      }
  ]
  passwordRules: Array<Function> = [
    (v: string) => !!v || 'Еnter password'
  ]

  get errorMessage () {
    if (auth.errorMessage === 'Invalid username') this.errorEmail = auth.stsError
    else this.errorPassword = auth.stsError
    return auth.errorMessage
  }

  openPay () {
    this.paidFor = true
  }

  mounted () {
    // const script = document.createElement("script");
    // script.src =
    //   "https://www.paypal.com/sdk/js?client-id=AXsH2D1xMN14ZJ2DC4RL1YmL6XAaFEhPqTSYp6RdGLmwmXV423k-KgsUnYMZ8b5EInAnMnMyCyh884IJ";
    // script.addEventListener("load", this.setLoaded);
    // document.body.appendChild(script);
  }

  setLoaded() {
    window.paypal
      .Buttons({
        createOrder: (data, actions) => {
            return actions.order.create({
              purchase_units: [
                {
                  description: this.product.description,
                  amount: {
                    currency_code: "USD",
                    value: this.product.price
                  }
                }
              ]
            });
          },
          onApprove: async (data, actions) => {
            const order = await actions.order.capture();
            this.registration();
            console.log(order);
          },
          onError: err => {
            console.log(err);
          }
        })
        .render(this.$refs.paypal);
  }

  clearMessage () {
    this.errorEmail = ''
    this.errorPassword = ''
  }

  registration () {
    let payload = {}
    if(resultsStore.resultPoll.length !== 0) {
      const historyLS = localStorage.getItem('historyLS') ? JSON.parse(localStorage.getItem('historyLS')) : []
      const resultIds = historyLS.map(item => item.resultId)
      payload = { name: this.username, email: this.email, password: this.password, results_id: resultIds }
    } else {
      payload = { name: this.username, email: this.email, password: this.password }
    }
    auth.registration(payload)
      .then( (res) => {
        res
          ? auth.signin({ email: this.email, password: this.password }).then( (res) => {
            if(res) {
               this.$router.push('/lk')
            }
          })
          : this.errorEmail = 'This email is already in use'
      })
  }
}
</script>

<style lang="sass" scoped>

  #register
    & .v-card
      & .v-list-item__title
        font-size: 18px
        color: '#3c4858'
      & .v-list-item__subtitle
        line-height: 1.5
        margin-bottom: 15px

  .text__regisration
    font-size: 2.25rem !important
    line-height: 1.5em
    letter-spacing: -0.0083em !important
    font-family: 'Roboto', 'sans-serif'

</style>
