<template lang='pug'>
client-only
  v-app
    app-bar
    v-navigation-drawer(
      id='core-navigation-drawer'
      v-model="drawer"
      :right="$vuetify.rtl"
      :src="barImage"
      mobile-break-point="960"
      app
      dark
      width="260"
      v-bind="$attrs"
    )
      template( v-slot:img="props" )
        v-img( :gradient="`to bottom, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)`" v-bind='props' )

      v-divider.mb-1

      v-list( dense nav )
        v-list-item
          v-list-item-avatar.align-self-center( color='black' contain )
            v-img( :src="profile.avatar ? profile.avatar : avatarImg" max-height="30" )

          v-list-item-content
            v-list-item-title.subtitle-1( v-text='profile.title ? profile.title : "Your future picture"' )

      v-divider.mb-2

      v-list( expand nav )

        template( v-for="(item, i) in computedItems" )
          coreItemGroup( v-if="item.children" :key="`group-${i}`" :item="item" )
          coreItem( v-else-if='item.condition' :key="`item-${i}`" :item="item")

      template( v-slot:append )
        v-btn( color='#e91e63d4' v-if='isAuthenticated' style='margin: 23px; margin-bottom: 40%;' @click="generateTest()") generate personal test
        v-card.ma-9.d-flex.flex-column.text-center( style='background-color: transparent' v-if='!isAuthenticated' )
          span Register to access this dashboard in the future
          v-btn.ma-3( color='#e91e63d4' to='/registration' ) registration
        v-divider
        coreItem(
          v-if='isAuthenticated'
          :item="{ title: 'logout', icon: 'mdi-logout', to: '/logout' }"
        )
    v-tabs-items( v-model='tab' v-if="$route.name.toLowerCase().includes('statistics') || $route.name.toLowerCase().includes('progress') ")
      v-tab-item( :key='`noCalc`' :value="'tab-' + `noCalc`" )
        nuxt( :nuxt-child-key="'math_nocalc'" )
      v-tab-item( :key='`calc`' :value="'tab-' + `calc`" )
        nuxt( :nuxt-child-key="'math_calc'" )
      v-tab-item( :key='`olympics`' :value="'tab-' + `olympics`")
        nuxt( :nuxt-child-key="'olympics'" )
      v-tab-item( :key='`personalTests`' :value="'tab-' + `personalTests`")
        nuxt( :nuxt-child-key="'personal'" )
    nuxt( v-else )
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator'
import { auth, app } from '~/store'

import coreItemGroup from '~/components/core/coreItemGroup.vue'
import coreItem from '~/components/core/coreItem.vue'
import appBar from '~/components/main/AppBar.vue'


@Component({
  components: {
    coreItemGroup,
    coreItem,
    appBar
  }
})
export default class LayoutDashboard extends Vue {
  @Prop({ type: Boolean, default: false }) readonly expandOnHover!:boolean

  items = [
    {
      icon: 'mdi-view-dashboard',
      title: 'Dashboard',
      to: '/lk/dashboard',
      condition: true
    },
    // {
    //   icon: 'mdi-alert-circle-outline',
    //   title: 'Tests',
    //   to: '/lk/tests',
    //   condition: this.isAuthenticated
    // },
    {
      title: 'Statistics',
      icon: 'mdi-clipboard-outline',
      to: '/lk/statistics',
      condition: true
    },
    {
      title: 'Progress',
      icon: 'mdi-progress-check',
      to: '/lk/progress',
      condition: true
    },
    {
      icon: 'mdi-account',
      title: 'User',
      to: '/lk/user',
      condition: this.isAuthenticated
    },
    {
      icon: 'mdi-alert-circle-outline',
      title: 'Issues',
      to: '/lk/issues',
      condition: this.isAuthenticated
    },
    // {
    //   icon: 'mdi-message',
    //   title: 'Chat',
    //   to: '/lk/messages',
    // },

  ]
  avatarImg = 'https://cdn.vuetifyjs.com/images/john.jpg'

  get drawer () {
    return app.drawer
  }

  set drawer (val) {
    app.SET_DRAWER(val)
  }

  get computedItems () {
    return this.items.map(this.mapItem)
  }

  get barImage () {
    const tmp = require('~/assets/BarImage.jpg')
    return tmp
  }

  get isAuthenticated () {
    return auth.isAuthenticated
  }

  get profile () {
    return {
      avatar: false,
      title: auth.user.name
    }
  }

  generateTest () {
    auth.generatePersonalTest().then((res) => {
      this.$swal.fire({
          title: 'Are you sure?',
          text: `Personal test generated! You can find it in the tab "All Tests"`,
          type: 'success'
        })
    })
  }

  mounted() {
    const d = {};
    document.addEventListener("mousedown", e => {
      const closestDialog = e.target.closest(".v-dialog.v-dialog--active");
      if (e.button === 0 && closestDialog != null && e.target.classList.contains("v-card__title")) { // element which can be used to move element
          d.el = closestDialog; // element which should be moved
          d.mouseStartX = e.clientX;
          d.mouseStartY = e.clientY;
          d.elStartX = d.el.getBoundingClientRect().left;
          d.elStartY = d.el.getBoundingClientRect().top;
          d.el.style.position = "fixed";
          d.el.style.margin = 0;
          d.oldTransition = d.el.style.transition;
          d.el.style.transition = "none"
      }
    });
    document.addEventListener("mousemove", e => {
      if (d.el === undefined) return;
      d.el.style.left = Math.min(
          Math.max(d.elStartX + e.clientX - d.mouseStartX, 0),
          window.innerWidth - d.el.getBoundingClientRect().width
      ) + "px";
      d.el.style.top = Math.min(
          Math.max(d.elStartY + e.clientY - d.mouseStartY, 0),
          window.innerHeight - d.el.getBoundingClientRect().height
      ) + "px";
    });
    document.addEventListener("mouseup", () => {
      if (d.el === undefined) return;
      d.el.style.transition = d.oldTransition;
      d.el = undefined
    });
    setInterval(() => { // prevent out of bounds
      const dialog = document.querySelector(".v-dialog.v-dialog--active");
      if (dialog === null) return;
      dialog.style.left = Math.min(parseInt(dialog.style.left), window.innerWidth - dialog.getBoundingClientRect().width) + "px";
      dialog.style.top = Math.min(parseInt(dialog.style.top), window.innerHeight - dialog.getBoundingClientRect().height) + "px";
    }, 100);
  }


  logout () {
    auth.logout()
  }

  mapItem (item: any) {
    return {
      ...item,
      children: item.children ? item.children.map(this.mapItem) : undefined,
      title: item.title
    }
  }

  get tab () {
    return app.tab
  }

  set tab (value) {
    app.SET_TAB(value)
  }

}
</script>

<style lang='sass'>
  @import '~vuetify/src/styles/tools/_rtl.sass'

  #core-navigation-drawer
    .v-list-group__header.v-list-item--active:before
      opacity: .24

    .v-list-item
      &__icon--text,
      &__icon:first-child
        justify-content: center
        text-align: center
        width: 20px

        +ltr()
          margin-right: 24px
          margin-left: 12px !important

        +rtl()
          margin-left: 24px
          margin-right: 12px !important

    .v-list--dense
      .v-list-item
        &__icon--text,
        &__icon:first-child
          margin-top: 10px

    .v-list-group--sub-group
      .v-list-item
        +ltr()
          padding-left: 8px

        +rtl()
          padding-right: 8px

      .v-list-group__header
        +ltr()
          padding-right: 0

        +rtl()
          padding-right: 0

        .v-list-item__icon--text
          margin-top: 19px
          order: 0

        .v-list-group__header__prepend-icon
          order: 2

          +ltr()
            margin-right: 8px

          +rtl()
            margin-left: 8px
</style>
