<template lang="pug">
  v-app
    AppBar
    v-main( )
        nuxt
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator"

import { getUserFromLocalStorage, getUserFromCookie } from '~/utils/auth'

import { templates, pollState, auth, lk, app } from '~/store'
import { HopData } from '../interfaces/interfaceStore'
import { Hop } from '../interfaces/interfaceHops'

import AppBar from '~/components/main/AppBar.vue'


@Component({
  components: {
    AppBar
  }
})
export default class Default extends Vue {
  menu: Boolean = false
  statusForm: Boolean = false
  currentId: number = 0
  get items () : Array<Object> {
    return [
      {
        icon: "mdi-apps",
        title: "All tests",
        to: "/tests",
        condition: this.isAdmin
      },
      {
        icon: "mdi-wrench",
        title: "Create test",
        to: "/constructor",
        condition: this.isAdmin
      }
    ]
  }
  itemsLK: Array<Object> = [
    {
      title: 'Dashboard',
      goTo: () => {
        this.goToLk()
      },
      icon: 'mdi-account'
    },
    {
      title: 'Logout',
      goTo: () => {
        this.logout()
      },
      icon: 'mdi-logout'
    }
  ]

    right: Boolean = true
    rightDrawer: Boolean = false

  get drawer () {
    return app.drawer
  }

  set drawer (val) {
    app.SET_DRAWER(val)
  }

  get userStatus () {
    return auth.isAuthenticated
  }

  get generalTemplates () {
    return templates.generalTemplates
  }

  changeStatusForm() {
    this.statusForm = false
  }

  beforeMount() {
    if( auth.isRoot || auth.isAdmin ) {
      this.drawer = true
    }
  }

  get nameUser () {
    return auth.user.name
  }

  get userTemplates () {
    return templates.userTemplates
  }

  get sharedTemplates () {
    return templates.sharedTemplates
  }

  get statusUser () {
    return auth.isAuthenticated
  }

  get isAdmin () {
    return auth.isRoot || auth.isAdmin
  }
  
  mounted() {
    const d = {};
    document.addEventListener("mousedown", e => {
      const closestDialog = e.target.closest(".v-dialog.v-dialog--active");
      if (e.button === 0 && closestDialog != null && e.target.classList.contains("v-card__title")) { // element which can be used to move element
          d.el = closestDialog; // element which should be moved
          d.mouseStartX = e.clientX;
          d.mouseStartY = e.clientY;
          d.elStartX = d.el.getBoundingClientRect().left;
          d.elStartY = d.el.getBoundingClientRect().top;
          d.el.style.position = "fixed";
          d.el.style.margin = 0;
          d.oldTransition = d.el.style.transition;
          d.el.style.transition = "none"
      }
    });
    document.addEventListener("mousemove", e => {
      if (d.el === undefined) return;
      d.el.style.left = Math.min(
          Math.max(d.elStartX + e.clientX - d.mouseStartX, 0),
          window.innerWidth - d.el.getBoundingClientRect().width
      ) + "px";
      d.el.style.top = Math.min(
          Math.max(d.elStartY + e.clientY - d.mouseStartY, 0),
          window.innerHeight - d.el.getBoundingClientRect().height
      ) + "px";
    });
    document.addEventListener("mouseup", () => {
      if (d.el === undefined) return;
      d.el.style.transition = d.oldTransition;
      d.el = undefined
    });
    setInterval(() => { // prevent out of bounds
      const dialog = document.querySelector(".v-dialog.v-dialog--active");
      if (dialog === null) return;
      dialog.style.left = Math.min(parseInt(dialog.style.left), window.innerWidth - dialog.getBoundingClientRect().width) + "px";
      dialog.style.top = Math.min(parseInt(dialog.style.top), window.innerHeight - dialog.getBoundingClientRect().height) + "px";
    }, 100);
  }

  goToLk () {
    this.$router.push('/lk')
  }

  logout () {
    auth.logout().then(() => {
      this.$router.push('/')
    })
  }

  addTemplateHop (templateHop: HopData) {
    pollState.addTemplates(templateHop)
    pollState.INCR_TMPHOPID()
  }
}
</script>
