<template>
  <v-app dark>
    <v-container
      fill-height
      style="height: calc(100vh - 58px);"
      dark
    >
      <v-layout align-center dark>
        <v-flex dark text-center>
          <h1 class="display-2 primary--text">
            Ошибка!
          </h1>
          <p class="mt-3">
            Сообщите нам во избежании подобных ситуаций!
          </p>
          <v-btn
            to="/"
            outlined
            color="primary"
          >
            На главную!
          </v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script lang='ts'>
import { Vue, Component, Prop } from 'vue-property-decorator'

@Component({
  name: 'nuxt-error'
})
export default class Error extends Vue {
  @Prop({ default: null }) readonly error!: any

  pageNotFound: string = '404 Not Found'
  otherError: string = 'An error occurred'

  static layout () {
    return 'stepLayout'
  }

  head () {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError
    return {
      title
    }
  }
}
</script>

<style lang='sass' scoped>
  h1
    font-size: 20px

</style>
