<template lang='pug'>
  v-app
    AppBar
    v-main( style='background-color: white' )
      nuxt
</template>

<script lang="ts">

import { Vue, Component } from 'vue-property-decorator'
import AppBar from '~/components/main/PollLayout/AppBar.vue';

@Component({
  name: 'pollLayout',
  components: {
    AppBar
  }
})
export default class PollLayout extends Vue {

}
</script>

<style lang="sass">

</style>
