<template lang='pug'>
  nuxt
</template>

<script lang="ts">

import { Vue, Component } from 'vue-property-decorator'

@Component({})
export default class StartLayout extends Vue {

}
</script>

<style lang="sass" scoped>

</style>
