<template lang="pug">
  nuxt
</template>

<script lang='ts'>
import { Component, Vue } from 'vue-property-decorator'

@Component({

})
export default class Step_Layout extends Vue {

}
</script>

<style lang='sass'>

</style>
