<template lang='pug'>
v-card.ml-5( max-width="60px" max-height="300" )
  v-card-text.fill-height()
    v-row.d-flex.fill-height.align-content-space-around
      //- Новая опция
      v-col( cols="12" )
        v-tooltip( right )
          template( v-slot:activator="{ on }" )
            v-btn( icon small light v-on="on" @click="addOption" )
              v-icon mdi-plus
          span Add answer option
</template>
<script lang='ts'>
import { Component, Vue, Prop } from 'vue-property-decorator'
import { pollState, templates } from '../../../store'

@Component({
  name: 'HopPanel'
})
export default class PanelTS extends Vue {
  @Prop({ type: String }) readonly hopId!: string

  addOption () { this.$emit('addingOption') }
}
</script>

<style scoped lang='sass'>

</style>
