<template lang="pug">
v-col.d-flex( cols="12" )
  v-card( color="#e8f5fd" width="1200px" )
    v-card-title.d-flex.justify-space-between.pa-0.card--handle(
      style="background-color: #0277BD; color: white; min-height: 78px"
    )
      v-col.pa-0.d-flex.flex-column( cols="12" md='6' )
        v-text-field.pl-4.pt-5(
          v-model.lazy='content'
          label='Question Title'
          :rules='validationContent'
          color='white'
          dark
        )
        div.pl-4.pb-3
          //- vue-mathjax( :formula='content' )
          div( v-text='content' v-katex:auto='{ delimiters: [ {left: "$$", right: "$$", display: true}, {left: "\\[", right: "\\]", display: true}, {left: "$", right: "$", display: false}, {left: "\\(", right: "\\)", display: false} ], trust: true}')
      v-col.pa-0.d-flex.justify-center.mt-2.align-center( cols="12" md='6' v-if='currentHopId === hopId')
        v-tooltip( bottom )
          template( v-slot:activator="{ on }" )
            v-btn( icon @click="$refs.inputUploadHop.click()" dark large)
              v-icon mdi-image
            input( @change='setImageHop' :id='hop._id' v-show='false' ref="inputUploadHop" type='file' accept="image/png, image/jpeg, image/bmp" )
          span Upload image
        v-select.ma-2(
          v-model="tags"
          :items="themes"
          attach
          chips
          label="Themes"
          dark
        )
        v-select.ma-2(
          v-model='subTags'
          dark
          :items="subThemes"
          label="Sub themes"
          attach
          chips
        )

      v-col.d-flex.align-center( cols='12' v-if='hop.image && hop.image.length !== 0' )
        silent-box( :gallery="galleryImage" thumbnailHeight="126" thumbnailWidth="126" :inner='true' )
          template( #inner-image='{ index }' )
            v-btn.deleteImage--hop( icon large dark @click="deleteHopImage(index)" )
              v-icon mdi-close-circle
    v-card-text( style="min-height: 250px" )
      v-row
        v-col( cols="12")
          v-radio-group.mt-0(
            v-model='choisedRadio'
            column
          )
            draggable(
              handle='.handle--optionsCheckbox'
              v-model='options'
            )
              v-row.pa-0( v-for='(option, index) in options' :key="option.id" )
                v-col.pa-0.d-flex.justify-center.align-center( cols="7" )
                  v-radio.mb-3.ml-2.mr-0(
                    :key='option.id'
                    :value='option.id'
                  )
                  .d-flex.flex-column(style='width:100%')
                    v-text-field(
                      v-model.lazy='option.value'
                      @change='updateOption(option)'
                      :rules="validationOption"
                      label="Answer"
                    )
                    div
                      //- vue-mathjax( :formula='option.value' )
                      div( v-text='option.value' v-katex:auto='{ delimiters: [ {left: "$$", right: "$$", display: true}, {left: "\\[", right: "\\]", display: true}, {left: "$", right: "$", display: false}, {left: "\\(", right: "\\)", display: false} ], trust: true}')
                v-col.pa-0.justify-center.mt-2( cols="5" v-if="currentHopId === hopId" )
                  v-tooltip( bottom )
                    template( v-slot:activator="{ on }" )
                      v-btn( icon @click="$refs.inputUpload[index].click()")
                        v-icon mdi-image
                      input( @change='setImageOption' :id='index' v-show='false' ref="inputUpload" type='file' accept="image/png, image/jpeg, image/bmp" )
                    span Upload image
                  v-tooltip( bottom )
                    template( v-slot:activator="{ on }" )
                      v-btn.ml-5( icon small light v-on="on" )
                        v-icon.handle--optionsCheckbox( v-on="on" ) mdi-arrow-all
                    span Drag and Drop
                  v-tooltip( bottom )
                    template( v-slot:activator="{ on }" )
                      v-btn.ml-5( icon small light v-on="on" @click="removeOption(option)" )
                        v-icon mdi-delete
                    span Delete this answer
                v-col.d-flex.align-center( cols='12' v-if='option.image')
                  silent-box( :image="{ src: option.image }" thumbnailHeight="126" thumbnailWidth="126" :inner='true')
                    template( #inner-image='{ index }' )
                      v-btn.deleteImage--option( icon large dark @click="deleteOptionImage(option)")
                        v-icon mdi-close-circle
      v-row
        v-col.pa-0( cols='12' lg='7' )
          v-textarea.ml-9( v-model.lazy='explanation' width='100%' auto-grow rows="1" label='Description answer')
          div.ml-9
            //- vue-mathjax( :formula="explanation" :safe='false' )
            div( v-text='explanation' v-katex:auto='{ delimiters: [ {left: "$$", right: "$$", display: true}, {left: "\\[", right: "\\]", display: true}, {left: "$", right: "$", display: false}, {left: "\\(", right: "\\)", display: false} ], trust: true}')
              //- | {{ explanation }}
            //- katex-element( :expression="explanation" :strict='false' :throw-on-error='false' )
  div.d-flex.align-center
    Panel(
      v-if="currentHopId === hopId"
      :hopId='hopId'
      @addingOption='addOption'
    )
</template>
<script lang='ts'>
import { Vue, Component, Mixins, Prop } from 'vue-property-decorator'
import Draggable from 'vuedraggable'

import MixinOptionMethods from '../__mixinOptionMethods'
import MixinHopsMethods from '../__mixinHopsMethods'

import Panel from '~/components/hopsCreate/classic/panelTS.vue'
import { Option } from '../../../interfaces/interfaceHops'
import { app, pollsStore, pollState } from '../../../store'

@Component({
  name: 'HopRadio',
  mixins: [MixinOptionMethods, MixinHopsMethods],
  components: {
    Draggable,
    Panel,
  }
})
export default class RadioTS extends Mixins(MixinOptionMethods, MixinHopsMethods, Vue) {
  @Prop({ required: true }) readonly hopId!: string
  @Prop({ required:true }) readonly currentHopId!: string

  get themes () {
    return pollState.poll.type === "SAT" ? app.themesSAT : app.themesOlympic
  }

  get subThemes () {
    return pollState.poll.type === "SAT" ? app.subThemesSAT[this.tags] : app.subThemesOlympic[this.tags]
  }

  mounted () {
  }

  get galleryImage () {
    let images = this.hop.image.map( (img: string) => {
      return {
        src: img,
        description: this.hop.content
      }
    })
    return images
  }

  created () {
    if(!this.$route.path.includes('edit')) {
      this.addOption()
      this.addOption()
      this.addOption()
      this.addOption()
    }
    this.$katexOptions = { delimiters: [ {left: "$$", right: "$$", display: true}, {left: "\\[", right: "\\]", display: true}, {left: "$", right: "$", display: false}, {left: "\\(", right: "\\)", display: false} ]}
  }

  setImageHop (e: any) {
    const files = e.target.files
    if( files !== undefined && files.length !== 0 ) {
      const fr = new FileReader()
      fr.readAsDataURL(files[0])
      fr.addEventListener('load', async () => {
        const img = fr.result
        await this.updateHop('image', [ ...this.hop.image, img ])
      })
    }
    e.target.value = ''
  }

  setImageOption (e: any) {
    let files = e.target.files
    if ( files !== undefined && files.length !== 0 ) {
      const fr = new FileReader()
      fr.readAsDataURL(files[0])
      fr.addEventListener('load', async () => {
        this.options[e.target.id].image = fr.result
        await this.updateOption(this.options[e.target.id])
      })
    }
    e.target.value = ''
  }

  deleteHopImage (id: number) {
    let upd: Array<string> = [ ...this.hop.image ]
    upd.splice(id, 1)
    this.updateHop('image', upd)
  }

  async deleteOptionImage ( option: Option ) {
    let opt = this.options.find(opt => opt.id === option.id)
    opt.image = ''
    console.log(opt, this.options)
    await this.updateOption(opt)
  }

  imageOption (option: Option) {
    return option.image
  }

  get choisedRadio (): Number | undefined{
    if(this.hop.correctAnswer) {
      return this.hop.correctAnswer.length > 0 ? this.hop.correctAnswer[0] : Number('')
    }
  }

  set choisedRadio (value: Number | undefined) {
    const res: Number[] = !value ? [] : [ value ]
    this.updateHop('correctAnswer', res)
  }
}
</script>

<style lang="sass">

  #silentbox-gallery
    display: flex

    & .silentbox-item
      text-decoration: none
      display: flex

      & img
        width: 260px
        height: 260px
        object-fit: contain
        flex: none
        margin-left: 8px
        border: 3px solid white
        border-radius: 20px
        background-color: white

  .deleteImage
    position: relative

    &--hop
      position: relative
      left: 50%
      top: 50%
      width: 22px !important
      height: 22px !important
    
    &--option
      position: relative
      left: 50%
      top: 50%
      width: 22px !important
      height: 22px !important

  .v-input--selection-controls .v-input__control
    width: 100% !important

</style>
