<template lang='pug'>
v-row( @click="$emit('click')" )
  HopRadio(:hopId='hopId' :currentHopId="currentHopId" :id="'hop-' + hopId" )
</template>

<script lang='ts'>

import { Component, Vue, Prop } from 'vue-property-decorator'
import { pollState } from '~/store'

import HopRadio from '~/components/hopsCreate/classic/radioTS.vue'

interface StoreHop {
  _id: String,
  choiseCount: Array<Number>,
  choised: [],
  content: String,
  options: [],
}

@Component({
  name: 'VirtualHop',
  components: {
    HopRadio
  }
})
export default class Virtual_hopTS extends Vue {
  @Prop({ required: true }) readonly hopId!: string
  @Prop({ required: true }) readonly currentHopId!: string
}
</script>

<style scoped lang='sass'>

</style>
