//- Страница прохождения опроса
<template lang="pug">
  v-container(  )
    template( v-if='type === "SAT" || type === "olympics"')
      PollClassic( :previousResult='result' )
    template(v-else)
      v-row.d-flex
        v-col.d-flex.justify-center
          p.display-1 Erorr
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

import { resultPollStore, auth, app } from '~/store'

// import PollClassic from '~/components/pollClassic/index.vue'
import PollClassic from '~/components/pollClassic/index2.vue'


@Component({
  name: 'execClassic',
  layout: 'poll',
  components: {
    PollClassic
  },
  async fetch ({ params, redirect, store }) {
    await resultPollStore.init(params.id)
  }
})
export default class Polls_Id_Exec extends Vue {
  get result () {
    if(auth.isAuthenticated) return auth.user.results.find(item => item._id === this.$route.query.resultId)
    else return undefined
  }
  get isActive () { return resultPollStore.poll.isActive }
  get type () { return resultPollStore.poll.type }
  get name () { return resultPollStore.poll.name }
}

</script>

<style lang="sass" scope>
</style>
