<template lang='pug'>
  v-dialog(
    v-model="showDialog"
    width="900"
    persistent
    scrollable
  )
    v-card#create-issue
      v-card-title( style='padding: 24px' )
        h4.font-weight-regular( style='color:#32325D' ) Create Issue
        v-spacer
        v-icon.ma-2( color='black' @click="showDialog = false" ) mdi-close
      v-divider
      v-card-text.pa-0.pt-4( style='width: 700px; height: 600px; align-self: center;' )
        div.mb-3
          v-text-field(
            label="Name Issue"
            v-model='titleModel'
            single-line
            outlined
            dense
            hide-details
            style='border-radius: 8px;'
          )
        div
          //- froala( :tag="'textarea'" :config="config" v-model="model")
          ckeditor-nuxt( v-model="model" :config="editorConfig" )

        //- froalaView( v-model="model" )
      v-divider
      v-card-actions.d-flex.justify-center.align-center
        v-btn( text color='#2ea44f' :ripple='false' @click="addNewIssue()" ) Create

</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator'
import { issues, auth } from '~/store'
import axios from '../../../plugins/axios'

@Component({
  name: 'createIssues'
})
export default class CreateIssues extends Vue {
  @Prop({ required: true, type: Boolean }) readonly value!: boolean

  lazyValue = this.value

  titleModel = ''

  editorConfig = {
    simpleUpload: {
    uploadUrl: '/api/image',
    // headers: {
    //   'Authorization': 'optional_token'
    //   }
    }
  }

  model = ''

  get showDialog () {
    return this.lazyValue
  }

  set showDialog (val) {
    this.lazyValue = val
    this.$emit('input', val)
  }

  addNewIssue () {
    axios.post('/api/issues', {
      title: this.titleModel,
      description: this.model
    }).then(res => {
      // console.warn(res);
      issues.ADD_NEW_ISSUE(res.data)
    })


    // issues.ADD_NEW_ISSUE({
    //   id: 1,
    //   name: this.titleModel,
    //   description: this.model,
    //   status: 'open',
    //   countAnswers: 0,
    //   user_id: auth.user._id,
    //   messages: [
    //   ]
    // })
    this.showDialog = false
  }
}
</script>

<style lang='sass'>

  #create-issue

    .v-btn__content
      letter-spacing: 0
      font-weight: 700
</style>
