<template lang='pug'>
  v-main#issues
    v-container( style='padding: 0 250px' )
      v-row
        v-col( cols='12' )
          .issues__search
            v-text-field(
              label="Search issues"
              v-model='searchValue'
              single-line
              outlined
              dense
              hide-details
              style='border-radius: 8px;'
            )
            v-btn.ml-4.mr-0.issues__add-btn( color='#2ea44f' depressed @click='openNewIssues()' ) New issues
      v-row
        v-col( cols='12' )
          .issues__elements
            .issues__elements-empty( v-if='!issues.length' )
              .d-flex.flex-column.justify-center.text-center
                v-icon.ma-4( size='50' color='#e1e4e8' ) mdi-alert-circle-outline
                span.ma-4.display-2.font-weight-medium Welcome to issues!
                span.ma-4.display-1.font-weight-light Issues are used to track todos, bugs, feature requests, and more. As issues are created, they’ll appear here in a searchable and filterable list. To get started, you should create an issue.

            .issues__elements-active( v-else style='width: 100%')
              .d-flex.flex-column
                .d-flex.align-center( )
                  div
                    v-btn.issues-btn__open( style='padding: 0 !important' text :class='isOpen === null ? "active" : ""' :ripple='false' @click="showAllIssues()" )
                      v-icon.mr-2( color='#6b6b6b' ) mdi-filter-variant
                      | All {{ issues.length }}
                  div
                    v-btn.issues-btn__open( style='padding: 0 !important' text :class='isOpen ? "active" : ""' :ripple='false' @click="showOpenIssues()" )
                      v-icon.mr-2( color='#6b6b6b' ) mdi-alert-circle-outline
                      | {{ countOpenIssues }} Open
                  div
                    v-btn.issues-btn__closed( style='padding: 0 !important' :class='isOpen === false ? "active" : ""' text :ripple='false' @click="showClosedIssues()" )
                      v-icon.mr-2( color='#6b6b6b' ) mdi-checkbox-marked-circle-outline
                      | {{ countClosedIssues }} Closed
                v-divider
                template( v-for='(issue, index) in sorted' )
                  .d-flex.my-2( :key='issue._id' )
                    div
                      v-icon.ma-3( :color="issue.status === 'open' ? '#28a745' : '#cb2431'" ) mdi-alert-circle-outline
                    div.d-flex.flex-column( style='align-self: center;' )
                      a.display-1.font-weight-bold.issues__link( @click="openIssues(issue._id)" ) {{ issue.title }}
                      span.subtitle-2 {{ '#' + issue._id }}
                    v-spacer
                    div( v-if='issue.answers_count' )
                      v-btn.issues-btn__open( style='padding: 0 !important; min-width: auto' text :ripple='false' @click="openIssues(issue._id)" )
                        v-icon.mr-2 mdi-comment-outline
                        | {{ issue.answers_count }}
                  v-divider( v-if='index !== filteredIssues.length - 1' :key='index' )
    createIssues( v-model='modalNewIssue' v-if='modalNewIssue' )

</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator'
import createIssues from '~/components/issues/modals/createIssues.vue'

import { issues } from '~/store'
import axios from '~/plugins/axios'

@Component({
  name: 'issues',
  layout: 'dashboard',
  components: {
    createIssues
  },
  async fetch ({ store }) {
    await axios.get('/api/issues').then(res => {
      // console.warn(res.data)
      console.warn(store.commit);
      store.commit('issues/SET_ISSUES', res.data)
    })
  }
})
export default class Issues extends Vue {

  isOpen: boolean | null = true
  searchValue = ''
  modalNewIssue: boolean = false

  filteredIssues: any = []

  mounted() {
    this.showAllIssues()
  }
  
  get sorted () {
    return this.filteredIssues.filter( item => {
      return item.title
        .toLowerCase()
        .trim()
        .replace(/["«»,.\s]/gm, "")
        .includes(
            this.searchValue
              .toLowerCase()
              .trim()
              .replace(/["«».,\s]/gm, "")
        )
    })
  }

  get issues () {
    return issues.issues
  }

  get countOpenIssues () {
    return issues.issues.filter(item => item.status === 'open').length
  }

  get countClosedIssues () {
    return issues.issues.filter(item => item.status === 'closed').length
  }

  openIssues (id: number) {
    this.$router.push(this.$route.fullPath + `/${id}`)
  }

  showAllIssues () {
    this.isOpen = null
    this.filteredIssues = issues.issues
  }

  showOpenIssues () {
    this.isOpen = true
    this.filteredIssues = issues.issues.filter(item => item.status === 'open')
  }

  showClosedIssues () {
    this.isOpen = false
    this.filteredIssues = issues.issues.filter(item => item.status === 'closed')
  }

  openNewIssues () {
    this.modalNewIssue = true
  }

}
</script>

<style lang='sass'>


  .active
    font-weight: 600

  .issues

    &__link
      text-decoration: none !important
      color: #24292e!important

      &:hover
        color: #0366d6!important

    &-btn__open, &-btn__closed
      padding: 0px !important
      height: auto !important
      margin: 15px

      &.v-btn:before
        content: none

      & .v-btn__content
        font-size: 1rem
        text-transform: none


    &__search
      display: flex
      padding: 40px
      background-color: white
      border-radius: 18px
      border: 1px solid #e1e4e8

    &__elements
      display: flex
      background-color: white
      border-radius: 18px
      border: 1px solid #e1e4e8

      &-empty
        padding: 80px 40px
        text-align: center
        position: relative

      &-active
        position: relative



    &__add-btn
      border-radius: 8px

      & .v-btn__content
        font-size: 1rem
        text-transform: none
</style>
