<template lang="pug">
  client-only
    CalcTest( v-if='sectionTest === "math_nocalc"' )
    NoCalcTest( v-else )
</template>

<script lang="ts">

import { Vue, Component } from 'vue-property-decorator'

import CalcTest from '~/components/hopsCreate/indexCalc.vue'
import NoCalcTest from '~/components/hopsCreate/indexNoCalc.vue'

import { pollState } from '~/store'

@Component({
  middleware: 'anonymous',
  components: {
    CalcTest,
    NoCalcTest
  },
  async fetch ({ params }) {
    await pollState.fetch(params.id)
  }
})
export default class EditId extends Vue {

  get sectionTest () {
    return pollState.poll.section
  }
}

</script>

<style lang="sass" scoped>

</style>
