<template lang='pug'>
v-main#issue
  v-container( style='padding: 0 250px' )
    v-row
      v-col( cols='12' )
        .issue.d-flex.flex-column
          div.align-center.d-flex
            h1.mr-4.display-3.font-weight-medium {{ issue.title }}
            span.display-2.font-weight-light # {{ issue._id }}
            v-spacer
            //- v-btn.ml-4.mr-0.issues__add-btn( small color='#2ea44f' depressed @click='openNewIssues()' ) New issues
          div.d-flex.align-center.mt-2
            div.issue-status( :style='issue.status === "open" ? "background-color: #28a745" : "background-color: #d73a49"' )
              v-icon.mr-1( color='white' ) mdi-alert-circle-outline
              span.subtitle-2.white--text( ) {{ issue.status }}
            div.issue-user.ml-3
              span.subtitle-2 {{ userName + ' ' }}
              span.subtitle-2.font-weight-light {{ testOnStatus() }}
          v-divider.mt-4
          v-timeline(
            align-top
            dense
          )
            v-timeline-item(
              icon
              right
            )
              template( #icon )
                v-avatar
                  v-img( src="http://i.pravatar.cc/32" )
              .issue-message
                .issue-message__header.pl-4
                  span.subtitle-1 {{ userName }} commented {{ $moment( issue.created_at).fromNow() }}
                v-divider
                .issue-message__body
                  div( v-html="issue.description" )
                  //- froalaView( v-model="issue.description" )
            v-timeline-item(
              v-for="answer in answers"
              :key="answer.id"
              right
            )
              template( #icon )
                v-avatar
                  v-img( src="http://i.pravatar.cc/32" )
              .issue-message
                .issue-message__header.pl-4
                  span.subtitle-1 {{ answer.user_id }} commented {{ $moment(answer.created_at).fromNow() }}
                v-divider
                .issue-message__body
                  div( v-html="answer.answer" )

                  //- froalaView( v-model="answer.answer" )
            v-timeline-item(
              icon
              right
            )
              template( #icon )
                v-avatar
                  v-img( src="http://i.pravatar.cc/32" )
              div
                //- froala( :tag="'textarea'" :config="config" v-model="messageModel" )
                client-only
                  ckeditor-nuxt( v-model="messageModel" :config="editorConfig" tag-name="textarea" )
              div.float-right.mt-2
                v-btn.issues-btn__open.mr-0( @click="addComment()" color='#2ea44f' style='height: 35px !important' ) Add Comment
                  //- div( v-html="issue.description" )

                  //- froalaView( v-model="issue.description" )
    v-row
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator'
import { issues, auth } from '~/store'

import { cloneDeep } from 'lodash'
// import ClassicEditor from '@ckeditor/ckeditor5-build-classic'
import axios from '~/plugins/axios'

@Component({
  name: 'IssueId',
  layout: 'dashboard',
  asyncData ({ store, params }) {
    return axios.get(`/api/issues/${params.id}`).then(res => {
      console.warn(res.data);
      return { issue: res.data }
    })
  },
  components: {
    'ckeditor-nuxt': () => import('@blowstack/ckeditor-nuxt')
  },
})
export default class Issue_Id extends Vue {

  issue: any = {}
  messageModel = ''
  userName = auth.user.name
  // editor = ClassicEditor

  editorConfig = {
    simpleUpload: {
    uploadUrl: '/api/image',
    // headers: {
    //   'Authorization': 'optional_token'
    //   }
    }
  }

  config = {
    events: {
      placeholderText: 'Edit Your Content Here!',
      charCounterCount: false,
      'froalaEditor.initialized': () => {
        console.log('initialized')
      },
      dragInline: false,
      pluginsEnabled: ['image', 'link', 'draggable']
    }
  }

  testOnStatus () {
    if(this.issue.status === 'open') {
      return 'opened this issue ' + this.$moment( this.issue.created_at ).fromNow() + ' · ' + this.issue.answers_count + ' comments'
    }
  }

  addComment () {
    this.issue.answers.push({ _id: this.userName, answer: this.messageModel })
    axios.post(`/api/issues/${this.$route.params.id}`, { answer: this.messageModel }).then(res => {
      issues.ADD_NEW_MESSAGE( this.issue )
    })
    this.messageModel = ''
  }

  get answers () {
    return this.issue.answers
  }

}
</script>

<style lang='sass'>

  .ck-content
    min-height: 150px

  #issue

    .issue
      padding: 40px
      background-color: white
      border-radius: 18px
      border: 1px solid #e1e4e8

      &-status
        padding: 6px 10px
        border-radius: 20px

      &-message
        margin: 20px 0 0 0
        border-radius: 6px
        border: 1px solid #e1e4e8

        &__header
          padding: 5px
          background-color: #f6f8fa

        &__body
          padding: 15px

        &__add
          padding: 0
          margin: 2px



</style>
