<template lang='pug'>
div.d-flex.justify-center
  div.card_rank
    span.display-1 Rank:
    h1.display-3 {{rankAverageAccuracy.place}}
  div.card_rank.ml-4
    span.display-1 Top:
    h1.display-3 {{rankAverageAccuracy.placePercentage}}
</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Results } from '~/interfaces/interfacePoll';
import { auth, resultPollStore } from '../../../store';

@Component({
 name: 'placeOnExec'
})
export default class PlaceOnExec extends Vue {
  @Prop({type: Object, required: true}) result!: Results

  get filteredStatisticsOnThisPoll(): any {
    if(auth.user.commonStatistics) {
      return auth.user.commonStatistics.filter((item: any) => item.poll_id === resultPollStore.pollStore._id)
    }
  }

  get rankAverageAccuracy () {
    if(auth.user.commonStatistics && this.result) {
      let stats: any = []
      let res: any = []
      let myValue: number = 0
      this.filteredStatisticsOnThisPoll.forEach(item => {
        if(stats[item.user_id] === undefined && item.user_id !== null) {
          stats[item.user_id] = []
          stats[item.user_id] = item.isCorrect ? 1 : 0
        } else {
          stats[item.user_id] += item.isCorrect ? 1 : 0
        }
      })
      delete stats['null']
      if(!auth.user._id) {
        let countTrue = 0
        resultPollStore.pollStore.sorted.forEach( hop => {
          this.result[hop._id].choised[0] === hop.correctAnswer[0] ? countTrue++ : ''
        })
        stats['new_user'] = countTrue
        console.warn(stats);
      }

      // console.warn(stats, myValue);

      for(const element in stats) {
        let countHops = []
        if (element !== 'new_user')
          this.filteredStatisticsOnThisPoll.filter(item => item.user_id === element)
        else
          countHops = resultPollStore.pollStore.sorted
        if(countHops.length !== 0) {
          if(element === auth.user._id) myValue = Math.round(stats[element] / countHops.length * 100);
          else if(element === 'new_user') myValue = Math.round(stats[element] / countHops.length * 100);
          res.push(Math.round(stats[element] / countHops.length * 100))
        }
      }

      let resSort = res.sort(function (a, b) {
        return a - b
      });
      const place = resSort.findIndex((item, index) => {
        return item === myValue
      })


      const percentage = ((place + 1) / res.length * 100) < 1 ? 1 : Math.round((place + 1) / res.length * 100)
      return { place: place + 1, placePercentage: percentage }
    }  else return { place: 0, placePercentage: 0 }
  }

}
</script>

<style lang='sass' scoped>

  .card_rank
    border-radius: 4px
    width: 115px
    height: 90px
    background-color: #ff4484
    color: white
    padding: 15px 20px

</style>
