<template lang='pug'>
div.center#small-statistics(  )
  p.display-3 {{countTrueHops}} correct answers out of {{ countHops }}

  //- Radar(
  //-   :chart-data='firstChart.data'
  //-   :options='firstChart.options'
  //-   :height='300'
  //- )

  Radar(
    :chart-data='secondChart.data'
    :options='secondChart.options'
    :height='300'
  )

</template>

<script lang='ts'>
import { Component, Prop, Vue } from 'vue-property-decorator'

import coreChartCard from '~/components/core/coreChartCard.vue'
import { app, resultPollStore, auth } from '~/store'
import { Results } from '~/interfaces/interfacePoll'

let goToStatistic: any = ''

@Component({
  components:{
    coreChartCard
  }
})
export default class ResultOnExec extends Vue {
  @Prop({type: Object, required: true}) result!: Results

  secondChart = {
    data: {
      labels: this.labelsSecond(),
      datasets: [
         {
          label: 'Correct % for you',
          borderColor: '#ff6384',
					backgroundColor: '#ffc5d154',
					pointBackgroundColor: '#ff6384',
          data: this.answersBySubThemes( this.labelsSecond(), 'correct' )
        },
        {
          label: 'Correct % for others',
          borderColor: '#36a2eb',
					backgroundColor: '#79c1f14d',
					pointBackgroundColor: '#36a2eb',
          data: this.allUsersCorrectSub( this.labelsSecond() )
        }
      ]
    },
    options: {
      responsive: true,
      title: {
        display: true,
        text: 'You vs. Others on this test',
        fontSize: 20,
        fontColor: 'black'
      },
      onClick: function (event, legendItem) {
        const { left, right, top, bottom} = this.chart.chartArea;
        if (
            event.offsetX > left &&
            event.offsetX < right &&
            event.offsetY > top &&
            event.offsetY < bottom
           ) {
            goToStatistic()
        }
      },
      tooltips:{
        callbacks: {
          title: (tooltipItem: any, data: any) => {
            let str = ''
            tooltipItem.forEach((item: any) => {
              str += data.labels[item.index] + ' & '
            })
            return str.slice(0, -2)
          },
          label: (tooltipItem: any, data: any) => {
            let label = tooltipItem.value || 0
            
            return data.datasets[tooltipItem.datasetIndex].label + ': ' + label + '%'
          }
        }
      },
      hover: {
        animationDuration: 500
      },
      layout: {
        padding: {
          top: 0
        }
      },
      animation: {
        duration: 1000,
        onComplete: () => {}
      },
      legend: {
        display: true,
        labels: {
          fontColor: 'black',
          fontSize: 16,
        }
      },
      elements: {
        line: {
          tension: 0.0,
        }
      },
      scale: {
        pointLabels: {
          fontSize: 14,
          callback: ( label:string ) => {
            let arr = this.labelsSecond()
            if( arr[0] === label)
              return label
            if(arr[Math.round(arr.length / 2)] === label)
              return label
          }
        },
        ticks: {
          callback: function (label) {
            return label + '%'
          }
        }
      }
    }
  }

  get context () {
    return this
  }

  get countHops () {
    return resultPollStore.pollStore.sorted.length
  }

  get countTrueHops () {
    let countTrue = 0
    resultPollStore.pollStore.sorted.forEach( hop => {
      this.result[hop._id].choised[0] === hop.correctAnswer[0] ? countTrue++ : ''
    })
    return countTrue
  }

  get percentageCorrectAnswers () {
    return Math.floor(this.countTrueHops / this.countHops * 100)
  }

  mounted() {
    this.labelsSecond()
    let chart = document.getElementById('radar-chart')
    console.warn(chart);
    goToStatistic = this.goToStatistics
  }

  goToStatistics () {
    console.warn('object');
    this.$emit("gotoreview");
  }

  answersByThemes (themes: string[], type: string) {
    const series = []
    for(const theme of themes) {
      const filteredOnTheme = resultPollStore.pollStore.sorted.filter(hop => hop.tags === theme)
      let countTrue = 0
      filteredOnTheme.forEach( hop => {
        this.result[hop._id].choised[0] === hop.correctAnswer[0] ? countTrue++ : ''
      })
      if(filteredOnTheme.length === 0) series.push(0)
      else {
        type === 'correct' ? series.push(Math.floor(countTrue / filteredOnTheme.length * 100)) : series.push( 100 - Math.floor(countTrue / filteredOnTheme.length * 100))
      }
    }
    return series
  }

  allUsersCorrect (themes: string[]) {
    if(auth.user.commonStatistics !== undefined) {
      const series = []
      for(const theme of themes) {
        const filteredOnTheme = auth.user.commonStatistics.filter(answer => answer.tag === theme)
        const filtredTrueHop = filteredOnTheme.filter(item => item.isCorrect)
        if(filteredOnTheme.length === 0) series.push(0)
        else series.push(Math.floor(filtredTrueHop.length / filteredOnTheme.length * 100))
      }
      return series
    }
  }

  allUsersCorrectSub (themes: string[]) {
    if(auth.user.commonStatistics !== undefined) {
      const series = []
      for(const theme of themes) {
        const filteredOnTheme = auth.user.commonStatistics.filter(answer => answer.subTag === theme)
        const filtredTrueHop = filteredOnTheme.filter(item => item.isCorrect)
        if(filteredOnTheme.length === 0) series.push(0)
        else series.push(Math.floor(filtredTrueHop.length / filteredOnTheme.length * 100))
      }
      return series
    }
  }

  answersBySubThemes (themes: string[], type: string) {
    const series = []
    for(const theme of themes) {
      const filteredOnTheme = resultPollStore.pollStore.sorted.filter(hop => hop.subTags === theme)
      let countTrue = 0
      filteredOnTheme.forEach( hop => {
        this.result[hop._id].choised[0] === hop.correctAnswer[0] ? countTrue++ : ''
      })
      if(filteredOnTheme.length === 0) series.push(0)
      else {
        type === 'correct' ? series.push(Math.floor(countTrue / filteredOnTheme.length * 100)) : series.push( 100 - Math.floor(countTrue / filteredOnTheme.length * 100))
      }
    }
    return series
  }

  labelsSecond () {
    let labels: string[] = []
    resultPollStore.pollStore.sorted.forEach( (item: any) => {
      if(labels.find(label => label === item.subTags))
        return ;
      else labels.push(item.subTags)
    })
    let sortedLabels:string[] = []
    if(resultPollStore.pollStore.type === 'SAT') {
      app.themesSAT.forEach(item => {
        app.subThemesSAT[item].forEach((subItem: any) => {
          let tmp = labels.find(label => label === subItem)
          if(tmp) sortedLabels.push(tmp)
        })
      })
    } else if(resultPollStore.pollStore.type === 'olympics') {
      app.themesOlympic.forEach(item => {
        app.subThemesOlympic[item].forEach((subItem: any) => {
          let tmp = labels.find(label => label === subItem)
          if(tmp) sortedLabels.push(tmp)
        })
      })
    }
    return sortedLabels
  }


}
</script>

<style lang='sass'>

  #small-statistics

    #radar-chart
      cursor: pointer

    & .chart-bar__exec
      width: 660px

      @media (max-width: 1903px)
        width: 528px
        

    & .v-card--material__heading
      max-height: 450px
      height: fit-content

      @media (max-width: 1903px)
        max-height: 350px

</style>
