.page-enter-active, .page-leave-active {
    transition: opacity .5s
}

.page-enter, .page-leave-active {
    opacity: 0
}

.fade-transition {
    transition: opacity .5s
}

.color-white {
    color: white !important;
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar {
    display: none;
}

.katex img {
    height: 225px;
}